<div class="consent-container">
    <h1 class="title">Algemene voorwaarden envc.nl</h1>
    <hr>
    <p>De website www.envc.nl ( ‘Website’) wordt aangeboden door MauwiWauwi B.V., gevestigd te
        Hogenkampseweg 17, (6871 JJ) Renkum en ingeschreven in de Kamer van koophandel onder nummer: 24251992
    </p>
    <p>
        De algemene voorwaarden envc.nl (‘Algemene Voorwaarden’) zijn van toepassing op al het gebruik van de Website,
        op alle diensten die via de Website worden aangeboden en op alle overeenkomsten die tussen jou en MauwiWauwi tot
        stand komen voor het gebruik van de Website en de door MauwiWauwi aangeboden Diensten. Door gebruik te maken van
        de
        Website en/of de Diensten ga je akkoord met de Algemene Voorwaarden. We adviseren je om deze Algemene
        Voorwaarden en het bijbehorende Privacy Policy goed te lezen en indien gewenst een kopie daarvan af te drukken
        of op te slaan.
    </p>
    <p>
        Indien je de Website als bezoeker gebruikt, dien je 18 jaar of ouder te zijn. Indien je op de Website een
        advertentie wilt plaatsen dien je 21 jaar of ouder te zijn. MauwiWauwi is gerechtigd om je leeftijd te
        controleren
        en om bij twijfel om aanvullend bewijs (bijvoorbeeld een kopie van een ID) te vragen.
    </p>
    <ol type="1">
        <li>
            <h3>DEFINITIES</h3>
            <p>In deze Algemene Voorwaarden worden de volgende definities gehanteerd, zowel in
                enkelvoud als in meervoud.
            </p>
            <ol>
                <li>Account: de mogelijkheid om gebruik te maken van de Diensten.</li>
                <li>Adverteerder: de natuurlijke persoon of rechtspersoon die zich door middel van de Website
                    beschikbaar stelt voor het leveren van erotische- en seksdiensten.</li>
                <li>Advertentie: een advertentie op de Website waarin erotische- en/of seksdiensten worden aangeboden
                    door de Adverteerder, inclusief al het beeld- en filmmateriaal</li>
                <li>Algemene Voorwaarden: deze algemene voorwaarden, ongeacht de vorm waarin deze worden kenbaar
                    gemaakt.</li>
                <li>Bezoeker: de natuurlijke persoon die gebruik maakt van de Website, en bijvoorbeeld een Account
                    aanmaakt.</li>
                <li>Gebruiker: jij, jouw: een Adverteerder of Bezoeker.</li>
                <li>Diensten: de dienstverlening die door MauwiWauwi op de Website wordt aangeboden, bestaande onder
                    meer uit het aanbieden van een platform waarop Adverteerders en Bezoekers via Advertenties met
                    elkaar in contact
                    kunnen komen voor het afnemen en leveren van erotische-/seksdiensten.</li>
                <li>MauwiWauwi, wij, ons: MauwiWauwi B.V.</li>
                <li>Website: de website www.envc.nl.</li>
            </ol>
        </li>
        <li>
            <h3>ALGEMEEN</h3>
            <ol>
                <li>Deze Algemene Voorwaarden zijn van toepassing op het gebruik van de
                    Website en de Diensten en alle overeenkomsten en alle andere eventuele rechtshandelingen tussen
                    Gebruiker en
                    MauwiWauwi. MauwiWauwi wijst uitdrukkelijk eventuele algemene voorwaarden van de Gebruiker van de
                    hand. MauwiWauwi is te
                    allen tijde gerechtigd deze Algemene Voorwaarden aan te passen of aan te vullen. We raden dan ook
                    aan de
                    Algemene Voorwaarden regelmatig te raadplegen. Indien je niet akkoord bent met de wijzigingen kan je
                    het gebruik
                    van de Website en de Diensten direct beëindigen.</li>
                <li>Afwijkingen van de Algemene Voorwaarden zijn slechts geldig indien deze uitdrukkelijk
                    schriftelijk of per e-mail tussen MauwiWauwi en de Gebruiker zijn overeengekomen.</li>
                <li>Indien en voor zover enige bepaling van deze Algemene Voorwaarden nietig wordt verklaard of
                    vernietigd wordt, zullen de overige voorwaarden onverminderd van kracht blijven. MauwiWauwi zal
                    alsdan een nieuwe
                    bepaling vaststellen ter vervanging van de nietige/vernietigde bepaling, waarbij zoveel mogelijk de
                    strekking
                    van de nietige/vernietigde bepaling in acht zal worden genomen.</li>
            </ol>
        </li>
        <li>
            <h3>DIENSTVERLENING</h3>
            <ol>
                <li>
                    Wij bieden met de Website een online platform waarop Adverteerders en
                    Bezoekers met elkaar in contact kunnen komen voor het verrichten en afnemen van erotische- en
                    seksdiensten. Kort
                    gezegd bestaat onze Dienst uit:
                    <br>

                    <ol>
                        <u>Voor Adverteerders: het ter beschikking stellen van:</u>
                        <li>
                            Advertentieruimte op de Website voor het aanbieden van erotische- en seksdiensten.
                        </li>
                        <li>
                            Een communicatiemiddel (bijv. mailfunctie) met Bezoekers.
                        </li>
                        <u>Voor Bezoekers: het ter beschikking stellen van:</u>
                        <li>Een advertentieplatform met de mogelijkheid om met Adverteerders in contact te treden over
                            de door hen aangeboden erotische- en seksdiensten. De Website mag
                            uitsluitend worden gebruikt voor legale erotische- en seksdiensten.
                        </li>
                    </ol>
                </li>
                <li>
                    Wij hebben slechts een faciliterende rol en kunnen niet verantwoordelijk worden gehouden voor
                    handelen of nalaten van Gebruikers. Wij zijn uitdrukkelijk niet betrokken bij de erotische dienst
                    die een
                    Adverteerder aan een Bezoeker aanbiedt en/of levert en staan buiten elk contact tussen Gebruikers
                    en/of buiten
                    eventuele afspraken of overeenkomsten die via het gebruik van de Website mochten ontstaan tussen een
                    Adverteerder en een Bezoeker. Wij zijn uitdrukkelijk niet aansprakelijk voor enige schade van een
                    Bezoeker en/of
                    Adverteerder die het gevolg is van het contact tussen de Bezoeker en de Adverteerder en/of de
                    (erotische)
                    activiteiten tussen de Bezoeker en de Adverteerder.
                </li>
                <li>
                    Wij garanderen niet dat de Website of de Diensten foutloos zullen functioneren en zullen voldoen
                    aan jouw verwachtingen. Met name garanderen wij niet dat:
                    <ol type="I">
                        <li>De informatie op de Website (waaronder ook begrepen
                            de door Gebruikers geplaatste informatie) juist, volledig, geschikt of actueel is, geen
                            inbreuk maakt op
                            (eigendoms) rechten van derden dan wel niet anderszins onrechtmatig is.
                        </li>
                        <li>
                            De Website ononderbroken zal werken,
                            vrij zal zijn van virussen, trojans en andere fouten en/of gebreken, en dat eventuele
                            gebreken zullen worden
                            verholpen.
                        </li>
                        <li>
                            Derden de Website en/of de Diensten niet onrechtmatig zullen gebruiken.
                        </li>
                    </ol>
                </li>
                <li>
                    Content op de Website met betrekking tot de Advertenties, de recensies en de eventuele reacties
                    is afkomstig van Gebruikers. Deze Gebruikers zijn zelf verantwoordelijk voor de juistheid en
                    volledigheid van de
                    door hen geplaatste content. Wij dragen geen enkele verantwoordelijkheid voor de inhoud van de door
                    Gebruikers
                    geplaatste content.
                </li>
            </ol>
        </li>
        <li>
            <h3>VOORWAARDEN VOOR GEBRUIK VAN DE WEBSITE EN DE DIENSTEN</h3>
            <ol>
                <li>
                    Bezoekers dienen minimaal 18 jaar of ouder te zijn. Indien de Adverteerder
                    een natuurlijk persoon is, dient hij/zij minimaal 21 jaar of ouder te zijn. Indien de Adverteerder
                    een
                    rechtspersoon is met meerdere sekswerkers, dient de sekswerkers waarvoor de Adverteerder de Dienst
                    en/of een
                    Advertentie plaatst, minimaal 21 jaar of ouder te zijn. Wij zijn gerechtigd om de leeftijd te
                    controleren en om
                    bij twijfel om aanvullend bewijs (bijvoorbeeld een kopie van een ID) te vragen. De kopie van je ID
                    wordt
                    verwerkt in overeenstemming met het Privacy Policy. Indien wij twijfels hebben over de leeftijd,
                    zijn wij tevens
                    gerechtigd de toegang tot de Website en de Diensten te weigeren en/of te beëindigen.
                </li>
                <li>
                    Om gebruik te kunnen maken van bepaalde Diensten dien je een Account aan te maken en bepaalde
                    (persoons)gegevens (waaronder in ieder geval e-mailadres en in sommige gevallen ook naam, adres en
                    telefoonnummer) in te vullen. Ten behoeve van het Account ontvang je een wachtwoord. Het Account en
                    het
                    wachtwoord is strikt persoonlijk je mag derden daarvan geen gebruik laten maken. Wij zijn gerechtigd
                    het
                    wachtwoord aan te passen indien dit nodig is in het belang van het functioneren van de Dienst. Je
                    bent
                    aansprakelijk voor ieder gebruik dat wordt gemaakt van jouw Account en vrijwaart ons voor iedere
                    aanspraak van
                    derden inzake schade of anderszins, op enigerlei wijze ontstaan door het gebruik dat door middel van
                    jouw
                    Account van de Dienst is gemaakt.
                </li>
                <li>
                    Per Gebruiker mag één Account worden aangemaakt. Het delen van Accounts of het registreren van
                    meerdere Accounts is niet toegestaan, tenzij wij hiervoor uitdrukkelijke voorafgaande schriftelijke
                    (of per
                    e-mail) toestemming hebben gegeven.
                </li>
                <li>
                    Je garandeert dat alle (persoons)gegevens die je in het kader van de Dienst verstrekt (waaronder
                    mede maar niet beperkt tot naam, adresgegevens, telefoonnummer, geboortedatum, ID en e-mailadres)
                    volledig,
                    juist en actueel zijn en dat je de Website en de Dienst uitsluitend voor jezelf of je eigen
                    organisatie (ingeval
                    van een Adverteerder met meerdere sekswerkers) gebruikt. Daarnaast garandeer je dat je je ter zake
                    van het
                    afnemen of leveren van de erotische- /seksdiensten zal houden aan alle toepasselijke wet- en
                    regelgeving.
                </li>
                <li>
                    Door het plaatsen van Advertenties, (persoons)gegevens, recensies of andere content op de Website
                    en/of binnen de Dienst, geef je MauwiWauwi uitdrukkelijk toestemming te geven om deze
                    (persoons)gegevens,
                    Advertenties, recensies en/of andere content op de Website te publiceren. Je garandeert tot het
                    geven van die
                    toestemming bevoegd te zijn. Je bent er mee bekend dat de positionering van Advertenties en andere
                    informatie op
                    de Website afhankelijk is van een aantal factoren, waaronder mede doch niet uitsluitend begrepen de
                    betaalde
                    vergoeding, en dat daaraan geen rechten kunnen worden ontleend.
                </li>
                <li>
                    Je bent zelf verantwoordelijk en aansprakelijk voor de inhoud van de door jou op de Website
                    gepubliceerde Advertenties, (persoons)gegevens, recensies en andere content. Je garandeert dat de
                    inhoud daarvan
                    juist, actueel en betrouwbaar is en niet in strijd is met de geldende wet- en regelgeving en niet
                    onrechtmatig
                    is. Daarnaast garandeer je dat je met deze gegevens andere Gebruikers niet onheus bejegent, hun
                    privacy niet
                    schaadt en dat je de belangen en de goede naam van MauwiWauwi niet zal schaden.
                </li>
                <li>
                    De onderstaande content mag in ieder geval niet in Advertenties, recensies, reacties op recensies
                    of op andere plekken op de Website of binnen de Dienst worden geplaatst:
                    <ol>
                        <li>
                            Content die in strijd is met enige wet- of regelgeving of deze Algemene Voorwaarden.
                        </li>
                        <li>Content die verwijst naar of betrekking heeft op elke mogelijke vorm van illegale
                            prostitutie,
                            waaronder mede maar niet beperkt tot prostitutie onder dwang, chantage, bedreiging met
                            geweld of anderszins
                            onvrijwillige prostitutie en kinderprostitutie, kinderpornografie en enige andere
                            illegale/strafbare
                            gedragingen, diensten of producten of diensten of producten die op enige wijze schade kunnen
                            veroorzaken derden.
                        </li>
                        <li>
                            Content waarmee inbreuk wordt gemaakt op intellectuele eigendomsrechten of privacy rechten
                            van
                            derden of waarmee andere rechten van MauwiWauwi of derden worden geschonden.
                        </li>
                        <li>
                            Content waarin sekswerkers voorkomen die jonger zijn dan 21 jaar.
                        </li>
                        <li>Content die naar onze mening in strijd is met de goede zeden of goede smaak, gewelddadig,
                            bedreigend, blasfemerende, smadelijke of diffamerende is of oproept tot geweld of haat tegen
                            een ander of
                            anderen.
                        </li>
                        <li>
                            Content met computerprogramma's (waaronder autofreshers/mouseclickers etc.), bestanden en/of
                            ander
                            materiaal dat destructieve en onberekenbare kenmerken bevat zoals gemanipuleerde bestanden,
                            "verstopte"
                            bestanden (bijvoorbeeld: beelden, die zijn geïntegreerd in audiobestanden), Worms, Trojaanse
                            paarden of bots
                            voor het scrollen, of voor verdere activiteiten, die de integriteit of het functioneren van
                            de Website of van
                            onlinecommunicatie in het algemeen verstoren of kunnen verstoren.
                        </li>
                        <li>
                            Content waarin op enige wijze melding wordt gemaakt dan wel wordt verwezen naar een andere,
                            met de
                            Website concurrerende of vergelijkbare website.
                            Wij zijn te allen tijde gerechtigd om, naar eigen inzicht, content van Gebruikers van de
                            Website te wijzigen, in
                            te korten of te verwijderen, zonder dat dit op enige wijze kan leiden tot enig recht van de
                            Gebruiker op
                            schadevergoeding. We gaan daar bijvoorbeeld toe over indien de content in strijd is met
                            artikel 4.
                        </li>
                    </ol>
                </li>
                <li>
                    Eventuele (persoons)gegevens die via de Website worden verkregen, mogen uitsluitend worden
                    gebruikt voor het doel waarvoor Gebruiker deze heeft ontvangen, te weten het reageren op een
                    Advertentie of een
                    via de Website ontvangen bericht. Het is niet toegestaan om deze gegevens te verzamelen en te
                    verwerken voor
                    enig ander doel, waaronder begrepen - maar niet daartoe beperkt - iedere vorm van ongevraagde
                    communicatie
                    (spam). Indien je in strijd handelt met het in dit artikel 4.8 bepaalde, verbeurt je, zonder nadere
                    waarschuwing
                    of ingebrekestelling en zonder dat daartoe rechterlijke tussenkomst is vereist, een direct opeisbare
                    boete van
                    EUR 500,- (vijfhonderd euro) per gebeurtenis of per dag dat de gegevens gebruikt worden,
                    onverminderd het recht
                    van MauwiWauwi om andere aan haar ter beschikking staande maatregelen tegen je te nemen en/of
                    schadevergoeding te
                    eisen.
                </li>
            </ol>
        </li>
        <li>
            <h3>ZERO TOLERANCE BELEID TEN AANZIEN VAN MISSTANDEN</h3>
            <ol>
                <li>
                    Indien vermoeden bestaat dat je in strijd handelt met artikel 4.7 kunnen
                    wij per direct de overeenkomst en het gebruik van de Website en de Diensten beëindiging zonder dat
                    dit op enige
                    wijze kan leiden tot enig recht op schadevergoeding. Wij behouden ons tevens het recht voor om naar
                    eigen
                    inzicht over te gaan tot het inlichten van politie, justitie en overige in dit kader relevante
                    instanties en
                    organisaties en het doen van aangifte. Wij zullen naar eigen inzicht medewerking verlenen aan
                    rechtsgeldig
                    verzoek van overheidswege/justitie om gegevens te verstrekken in het kader van de opsporing van de
                    in artikel
                    4.6 bedoelde misstanden.
                </li>
                <li>
                    In het kader van ons zero tolerance beleid ter zake van misstanden in de seksbranche doen wij ook
                    een beroep op de Bezoekers om misstanden bij ons en bij de relevante instanties te melden.
                </li>
                <li>
                    Hoewel wij het gebruik van de onze Diensten door Adverteerders jonger dan 21 jaar verbieden en we
                    controles op de leeftijd uitvoeren, kunnen we er helaas niet ervoor instaan dat een Adverteerder
                    altijd 21 jaar
                    of ouder is. Indien je in contact treedt met een Adverteerder, verzoeken we je zelf ook de leeftijd
                    van de
                    Adverteerder te controleren. Indien je twijfelt of de Adverteerder ouder is dan 21 jaar, of
                    constateert dat de
                    Adverteerder minderjarig is, dien je je per direct te onthouden van ieder contact met de betreffende
                    Adverteerder en ons en /of politie en justitie onmiddellijk over je twijfel of constatering te
                    informeren. Je
                    kan dat desgewenst op anonieme basis doen via het meldpunt Meld Misdaad Anoniem.
                </li>
                <li>
                    Indien je het vermoeden hebt of gerede grond hebt om aan te nemen dat een Adverteerder onder
                    dwang, chantage, bedreiging met geweld of anderszins onvrijwillig haar (erotische) diensten
                    aanbiedt, dien je je
                    direct te onthouden van ieder contact met de Adverteerder en ons en /of politie en justitie de
                    politie
                    onmiddellijk over hierover te informeren. Je kan dat desgewenst op anonieme basis doen via het
                    meldpunt Meld
                    Misdaad Anoniem.
                </li>
                <li>
                    Indien je van mening bent dat bepaalde informatie op de Website onrechtmatig is kan je dit
                    eveneens aan ons melden. Wij zullen de melding in behandeling nemen, mits deze voldoet aan alle
                    daartoe door ons
                    gestelde vereisten. Indien uit de melding blijkt dat het gewraakte materiaal onmiskenbaar
                    onrechtmatig is,
                    zullen wij dit verwijderen.
                </li>
                <li>
                    Meldingen kunnen worden gedaan via het e-mailadres: info@envc.nl.
                </li>
            </ol>
        </li>
        <li>
            <h3>VERWERKING VAN PERSOONSGEGEVENS</h3>
            <ol>
                MauwiWauwi als verwerkingsverantwoordelijke
                <li>
                    Via de Website en de Diensten (waaronder het Account) verwerken we met jouw uitdrukkelijke
                    toestemming je (bijzondere) persoonsgegevens, waaronder gegevens over seksueel gedrag of seksuele
                    gerichtheid.
                    We dragen er zorg voor dat de verwerking van deze persoonsgegevens voldoet aan Algemene verordening
                    gegevensbescherming (‘Avg’) en de Nederlandse uitvoeringswet. Het op de Website opgenomen Privacy
                    Policy is van
                    toepassing op de verwerking van deze (bijzondere) persoonsgegevens door ons als
                    verwerkingsverantwoordelijke.
                    Wij adviseren je dit Privacy Policy goed door te lezen en op te slaan. Hierin staan ook jouw rechten
                    met
                    betrekking tot de verwerking van je persoonsgegevens beschreven.
                </li>
                MauwiWauwi als verwerker
                <li>
                    Indien wij voor een Adverteerder persoonsgegevens verwerken van de bij de Adverteerder
                    aangesloten sekswerkers, verwerken wij de persoonsgegevens namens de Adverteerder en treden wij op
                    als verwerker
                    en de Adverteerder als verwerkingsverantwoordelijke van de persoonsgegevens van deze sekswerkers, in
                    de zin van
                    de AVG. In dit geval zijn artikel 6.3 t/m 6.12 van toepassing.
                </li>
                <li>
                    Wij verwerken de persoonsgegevens uitsluitend indien dit noodzakelijk is voor de nakoming van
                    onze verplichting uit de overeenkomst met de Adverteerder. Overige verwerkingen zullen alleen worden
                    uitgevoerd
                    na ontvangst van een schriftelijke opdracht van de Adverteerder, een last van een rechter,
                    opsporings- of andere
                    autoriteiten of als daartoe een wettelijke verplichting bestaat. Wij zullen Adverteerder hiervan
                    vooraf in
                    kennisstellen, tenzij de betreffende wettelijke bepaling dat niet toestaan. Wij zullen de
                    persoonsgegevens niet
                    langer bewaren dan nodig is voor de uitvoering van onze verplichtingen onder de overeenkomst en na
                    afloop
                    wissen.
                </li>
                <li>
                    Adverteerder garandeert dat de sekswerker uitdrukkelijk en rechtsgeldig toestemming heeft gegeven
                    om zijn/haar (bijzondere) persoonsgegevens, waaronder gegevens over seksueel gedrag of seksuele
                    gerichtheid, in
                    een Advertentie of anderszins binnen de Dienst te verwerken. Adverteerder garandeert bovendien dat
                    hij/zij de
                    privacy van de sekswerker of andere derden niet schaadt en niet in strijd handelt met de AVG of
                    andere geldende
                    wet- en regelgeving.
                </li>
                <li>
                    Adverteerder vrijwaart MauwiWauwi en stelt MauwiWauwi schadeloos voor alle claims, acties,
                    aanspraken
                    van derden (waaronder sekswerkers en Bezoekers) en voor eventuele boetes en dwangsommen van de
                    Autoriteit
                    Persoonsgegevens of een andere toezichthouder die het gevolg zijn van een schending van de wet- en
                    regelgeving
                    en in het bijzonder de Avg, of een andere toerekenbare tekortkoming door Adverteerder in de nakoming
                    van de
                    verplichtingen onder deze Algemene Voorwaarden.
                </li>
                <li>
                    Wij zullen passende technische en organisatorische maatregelen ten uitvoer leggen om de
                    persoonsgegevens te beveiligen tegen verlies of tegen enige vorm van onrechtmatige verwerking. Deze
                    maatregelen
                    garanderen, rekening houdend met de stand van de techniek en de kosten van de tenuitvoerlegging, een
                    passend
                    beveiligingsniveau gelet op de risico's die de verwerking en de aard van te beschermen gegevens met
                    zich
                    meebrengen. De maatregelen zijn er mede op gericht onnodige verzameling en verdere verwerking van
                    persoonsgegevens te voorkomen.
                </li>
                <li>
                    Op schriftelijk verzoek van Adverteerder zullen wij Adverteerder (i) voorzien van informatie over
                    de verwerking van de persoonsgegevens, waaronder de door ons getroffen beveiligingsmaatregelen,
                    en/of (ii) een
                    door haar ingeschakelde geaccrediteerde auditor, toegang verlenen tot onze systemen zodat
                    gecontroleerd kan
                    worden of wij in overeenstemming handelen met de beveiligingsverplichting neergelegd in artikel 6.6.
                    Dergelijk
                    onderzoek zal steeds plaats vinden tijdens normale kantooruren. De kosten voor het onderzoek komen
                    en voor
                    rekening van Adverteerder
                </li>
                <li>
                    Wij zullen ons inspannen om redelijke medewerking te verlenen bij de uitvoering van de controles
                    zoals bedoeld in artikel 6.7. Bovendien zullen we alle redelijke medewerking verlenen aan
                    Adverteerder bij de
                    uitoefening van dienst plicht om verzoeken van betrokkenen, inzake de uitoefening van de in de AVG
                    neergelegde
                    rechten, te beantwoorden.
                </li>
                <li>
                    Adverteerder geeft ons toestemming om voor de verwerking van de persoonsgegevens subverwerkers in
                    te schakelen, deze zijn opgenomen in artikel 5 van de <button id="consent-1" name="consent-1" (click)="goToConsent($event, 'PrivacyPolicy')"><u name="consent-1">Privacy Policy</u></button>. Indien wij de sub-verwerkers willen toevoegen of
                    veranderen,
                    zullen we Adverteerder hierover voorafgaand informeren en in staat stellen bezwaar te maken tegen de
                    verandering/toevoeging. Wij zullen met deze subverwerkers een overeenkomst sluiten waarin alle
                    relevante
                    verplichtingen uit dit artikel en de AVG zullen worden overgenomen.
                </li>
                <li>
                    Wij zullen Adverteerder zo spoedig mogelijk, doch in ieder geval ten minste binnen 48 uur nadat
                    wij een inbreuk of serieuze poging daartoe hebben ontdekt, in kennis stellen van inbreuken op de
                    beveiligingsmaatregelen die door ons, of een door ons ingeschakelde subverwerker, zijn getroffen
                    indien
                    redelijkerwijs kan worden aangenomen dat deze inbreuk leidt tot een aanmerkelijk risico op verlies
                    of
                    onrechtmatige verwerking van persoonsgegevens waaraan nadelige gevolgen voor deze persoonsgegevens
                    en de
                    persoonlijke levenssfeer van de betrokkene zijn verbonden. Deze kennisgeving bevat relevante
                    informatie omtrent
                    (i) de aard van de inbreuk, (ii) de geconstateerde en vermoedelijke gevolgen van de inbreuk voor de
                    verwerking
                    van de persoonsgegevens en (iii) de maatregelen die getroffen zullen worden om de inbreuk te
                    beëindigen of te
                    voorkomen en om de negatieve gevolgen van de inbreuk te beperken.
                </li>
                <li>
                    Wij zullen geheimhouding betrachten ter zake van alle persoonsgegevens die wij in het kader van
                    de overeenkomst ten behoeve van Adverteerder verwerken. Wij zullen de persoonsgegevens niet aan
                    derden (anders
                    dan sub-verwerkers) ter beschikking stellen, tenzij er sprake is van een last van de rechter,
                    opsporings- of
                    andere autoriteiten danwel wij daartoe verplicht zijn op grond van relevante wet- en regelgeving of
                    een
                    rechterlijke uitspraak.
                </li>
                <li>
                    Wij zullen geen persoonsgegevens verwerken of laten verwerken door onszelf of door
                    sub-verwerkers in landen buiten de Europese Economische Ruimte (“EER”) zonder een passend
                    beschermingsniveau,
                    tenzij wij hiervoor voorafgaande toestemming hebben verkregen van Contractant.
                </li>
            </ol>
        </li>
        <li>
            <h3>INTELLECTUELE EIGENDOMSRECHTEN</h3>
            <ol>
                <li>
                    Alle intellectuele eigendomsrechten met betrekking tot de Website behoren
                    bij uitsluiting toe aan MauwiWauwi en/of haar licentiegevers.
                </li>
                <li>
                    Voor zover intellectuele eigendomsrechten rusten op de content die de Gebruiker publiceert op de
                    Website (bijvoorbeeld content van een Advertentie), blijven deze intellectuele eigendomsrechten bij
                    de Gebruiker
                    rusten. Gebruiker verleent MauwiWauwi kosteloos een onherroepelijk, niet-exclusief, overdraagbaar,
                    sub-licentieerbaar en onbeperkt recht om de content te gebruiken op en ten behoeve van de Website,
                    totdat de
                    content weer door Gebruiker wordt verwijderd van de Website. Onder dit gebruik wordt mede, doch niet
                    uitsluitend, begrepen het wijzigen, inkorten, verveelvoudigen en openbaar maken van de content op de
                    Website of
                    in andere (reclame) media ten behoeve van de promotie van de Website.
                </li>
                <li>
                    Gebruiker garandeert dat de door hem/haar op de Website geplaatste content, waaronder begrepen
                    Advertenties, geen inbreuk maakt op (intellectuele eigendoms-) rechten van derden. Gebruiker
                    vrijwaart MauwiWauwi
                    volledig voor alle mogelijke claims van derden op enige wijze voortvloeiend uit en/of verband
                    houdende met het
                    door hem/haar geplaatste content op de Website, waaronder mede verstaan elke claim die gebaseerd is
                    op de
                    bewering dat de desbetreffende content inbreuk maakt op enige (intellectuele eigendoms) rechten van
                    derden.
                </li>
                <li>
                    Je mag de Website of enige inhoud daarvan niet zonder onze schriftelijke toestemming op welke
                    wijze dan ook aan derden ter beschikking stellen, reproduceren, verspreiden, verzenden, of op welke
                    wijze dan
                    ook in ander materiaal verwerken. Dit houdt ook in dat je niet, zonder voorafgaande schriftelijke
                    toestemming
                    van MauwiWauwi, een substantieel gedeelte van de inhoud van (een) databank(en) mag opvragen en/of
                    hergebruiken
                    en/of niet-substantiële gedeelten van de inhoud van een databank(en) herhaald en systematisch mag
                    opvragen en/of
                    hergebruiken in de zin van de Databankenwet.
                </li>
            </ol>
        </li>
        <li>
            <h3>AANSPRAKELIJKHEID EN VRIJWARING</h3>
            <ol>
                <li>
                    MauwiWauwi is niet aansprakelijk voor enige schade van Gebruiker die het
                    gevolg is van diens gebruik van de Website of de Diensten of de onmogelijkheid om de Website en de
                    Dienst te
                    gebruiken, daartoe (niet-uitsluitend) behorend de schade veroorzaakt door malware, virussen en/of de
                    onjuistheid
                    en onvolledigheid van de informatie op de Website, tenzij zulke schade het gevolg is van opzet of
                    grove schuld
                    aan de kant van MauwiWauwi of haar personeel.
                </li>
                <li>
                    De totale aansprakelijkheid van MauwiWauwi is altijd beperkt tot de vergoeding van de directe schade
                    tot maximaal EUR 25, - per gebeurtenis, waarbij een reeks van gebeurtenissen als één gebeurtenis
                    wordt
                    beschouwd. Onder directe schade wordt in dit verband uitsluitend verstaan: (i) de kosten die je
                    redelijkerwijs
                    hebt moeten maken om de tekortkoming van MauwiWauwi te herstellen of op te heffen, zodat de
                    prestatie van MauwiWauwi
                    wel aan de overeenkomst beantwoordt. (ii) redelijke kosten ter voorkoming of beperking van schade en
                    (iii)
                    redelijke kosten ter vaststelling van de oorzaak en omvang daarvan.
                </li>
                <li>
                    Iedere aansprakelijkheid van MauwiWauwi voor indirecte schade, waaronder begrepen maar niet beperkt
                    tot gevolgschade, winstderving en omzetderving, is uitgesloten.
                </li>
                <li>
                    Je stelt MauwiWauwi (inclusief haar functionarissen en medewerkers) schadeloos en vrijwaart haar
                    tegen alle aansprakelijkheden, verliezen, uitgaven, juridische kosten, professionele en andere
                    kosten van welke
                    aard dan ook, als gevolg van of voortvloeiend uit: a) enige schending door jou van deze Algemene
                    Voorwaarden. b)
                    de door jou op de Website geplaatste content. c) jouw schending van rechten van andere Gebruikers
                    dan wel jouw
                    onrechtmatig handelen jegens andere Gebruikers.
                </li>
            </ol>
        </li>
        <li>
            <h3>BETAALDE ADVERTENTIES</h3>
            <ol>
                <li>
                    Adverteerders hebben de mogelijkheid om tegen betaling van de
                    overeengekomen vergoeding de Advertentie op specifieke plaatsen op de Website te (laten) publiceren,
                    zodat de
                    Advertentie meer zichtbaarheid heeft. Vanaf het moment van de publicatie van de Advertentie op de
                    overeengekomen
                    plaats op de website, is Adverteerder de overeengekomen vergoeding verschuldigd. Alle op de Website
                    genoemde
                    prijzen zijn in euro’s en zijn inclusief BTW.
                </li>
                <li>
                    De verschuldigde vergoeding kan via de op de Website aangeboden betaaldienst of de credit bundel
                    worden voldaan. Indien de betaling niet of niet tijdig wordt voldaan of wordt herroepen, zijn wij
                    gerechtigd om
                    de geplaatste Advertentie te verwijderen en daarbij het verschuldigde bedrag alsnog in rekening te
                    brengen. Wij
                    zijn tevens gerechtigd om de wettelijke handelsrente in rekening te brengen.
                </li>
                <li>
                    Op de Website bieden wij Adverteerders de mogelijkheid om een credit bundel te kopen. Deze credit
                    bundel kan worden gebruikt om de in artikel 9.1 bedoelde vergoedingen te voldoen. In je Account kan
                    je de hoogte
                    van de credit bundel inzien. De credit bundel kan niet worden ingewisseld tegen contanten en is ook
                    niet op een
                    andere wijze inwisselbaar bij MauwiWauwi. De credit bundel komt te automatisch te vervallen indien
                    de overeenkomst
                    eindigt en/of je Account wordt beëindigd.
                </li>
            </ol>
        </li>
        <li>
            <h3>GEBRUIK VAN RECENCIES</h3>
            <ol>
                <li>
                    Uitsluitend indien de Adverteerder daarvoor heeft gekozen, kan een
                    Bezoeker bij de Advertentie van de Adverteerder een recensie publiceren. Hiervoor moet de Bezoeker
                    ingelogd
                    zijn.
                </li>
                <li>
                    Recensies worden door een moderator gecontroleerd en bij goedkeuring gepubliceerd bij de
                    betreffende Advertentie. De Adverteerder krijgt hierover een bericht en heeft de mogelijkheid om
                    eenmalig een
                    reactie te geven. Deze reactie wordt eveneens door de moderator gecontroleerd en bij goedkeuring
                    gepubliceerd.
                    De moderator is te allen tijde gerechtigd om een recensie of een reactie af te wijzen. Afwijzing kan
                    bijvoorbeeld plaats vinden indien de recensie of reactie in strijd is met artikel 10.3.
                </li>
                <li>
                    Je bent verantwoordelijk en aansprakelijk voor de inhoud van je recensie en/of de reactie op de
                    recensie en garandeert dat:
                    <ol>
                        <li>
                            De recensie en/of de reactie op de recensie niet de privacy van derden (waaronder de
                            Adverteerder, de betreffende sekswerker of Bezoeker) schaadt en geen persoonsgegevens of
                            andere beschrijvingen
                            die tot een persoon te herleiden zijn, bevat.
                        </li>
                        <li>
                            De inhoud van de recensie niet vals, bedrieglijk, misleidend of frauduleus is, geen
                            bedreiging
                            vormt, geen illegale activiteiten bevordert of aanmoedigt, of op andere wijze onrechtmatig
                            en/of in strijd met
                            de wet is.
                        </li>
                        <li>
                            Je met de recensie of reactie op de recensie anderen, waaronder de Adverteerder, de
                            sekswerker of
                            Bezoeker, niet onheus bejegent, bijvoorbeeld door het plaatsen van discriminerende,
                            aanstootgevende, onnodig
                            grievende of beledigende teksten.
                        </li>
                        <li>
                            De recensie is gebaseerd op basis van je eigen ervaring met de Adverteerder of sekswerker.
                        </li>
                        <li>
                            De recensie en/of de reactie op de recensie geen minderjarigen schaadt.
                        </li>
                        <li>
                            De recensie en/of de reactie op de recensie geen advertentie bevat en niet op andere wijze
                            de
                            verkoop van andere producten of diensten stimuleert, tenzij uitdrukkelijk overeengekomen dat
                            dit is toegestaan.
                        </li>
                        <li>
                            De recensie en/of de reactie op de recensie geen virussen, corrupte bestanden bevat of
                            andere
                            software of programma's kunnen verstoren of schade kunnen toebrengen aan de werking van de
                            Website of aan andere
                            computers, en
                        </li>
                        <li>
                            Je de belangen en de goede naam van de Website en MauwiWauwi niet zal schaden.
                        </li>
                    </ol>
                </li>
                <li>
                    Bezoeker is er mee bekend en akkoord dat zijn/haar Gebruikersnaam (Nickname) bij de recensie
                    wordt gepubliceerd.
                </li>
                <li>
                    Indien je van mening bent dat een recensie of een reactie op de recensie in strijd is met de
                    Algemene Voorwaarden of de Privacy Policy, kan je via de e-mail aan info@envc.nl een melding maken
                    van je
                    klacht. De e-mail dient te worden voorzien van een nadere motivering, onderbouwing en bewijsstukken.
                    MauwiWauwi zal
                    de klacht in behandeling nemen en, eventueel, doorsturen aan de betreffende Bezoeker of Adverteerder
                    om verweer
                    te voeren. De klacht zal zo spoedig mogelijk worden afgehandeld. Tijdens de behandeling van de
                    klacht kan de
                    recensie of de reactie op de recensie (tijdelijk) verwijderd worden. Onverminderd voorgaande is
                    MauwiWauwi te allen
                    tijde gerechtigd om je recensie om haar moverende reden, bijvoorbeeld naar aanleiding van een
                    klacht, te
                    verwijderen.
                </li>
                <li>
                    Indien de overeenkomst met een Bezoeker eindigt, worden automatisch ook zijn of haar recensies
                    verwijderd. Indien de overeenkomst met Adverteerder eindigt, worden de recensies met betrekking tot
                    deze
                    Adverteerder en diens reacties op de recensies automatisch verwijderd.
                </li>
                <li>
                    Indien de Adverteerder zijn/haar Advertentie verwijdert of de toestemming om recensies bij de
                    Advertentie toe te laten intrekt, maar zijn/haar Account in standhoudt, worden de recensies met
                    betrekking tot
                    deze Advertentie respectievelijk Adverteerder en de reacties op die recensie niet meer op de Website
                    getoond.
                    Deze recensie en reacties op die recensie worden echter wel binnen het platform van MauwiWauwi
                    bewaard, zodat deze
                    weer getoond kunnen worden zodra de Adverteerder de Advertentie weer publiceert of weer ervoor kiest
                    om
                    recensies toe te laten.
                </li>
            </ol>
        </li>
        <li>
            <h3>DUUR VAN DE OVEREENKOMST</h3>
            <ol>
                <li>
                    Elke overeenkomst tussen Gebruiker en MauwiWauwi wordt voor onbepaalde tijd
                    aangegaan. De Gebruiker kan de overeenkomst te allen tijde beëindigen door het Account te
                    verwijderen en het
                    gebruik te staken.
                </li>
                <li>
                    MauwiWauwi zal de overeenkomst met onmiddellijke ingang beëindigen en je Account verwijderen,
                    zonder verplicht te zijn om schadevergoeding te betalen, indien je langer dan zes maanden niet in je
                    Account
                    hebt ingelogd en je evenmin binnen de nadere termijn, gesteld in de door haar verzonden herinnering,
                    inlogt in
                    je Account.
                </li>
                <li>
                    In aanvulling op artikel 11.2 behoudt MauwiWauwi zich het recht voor om de overeenkomst met
                    onmiddellijke ingang te beëindigen en je uit te sluiten van elk (verder) gebruik van de Diensten,
                    door onder
                    meer je Account te blokkeren en/of te verwijderen, zonder verplicht te zijn om schadevergoeding te
                    betalen of
                    reeds geinde bedragen terug te betalen, indien je
                    – op enige wijze in strijd handelt met deze Algemene Voorwaarden.
                    – inbreuk maakt op (intellectuele eigendoms-) rechten van derden.
                    – in strijd handelt met toepasselijke wet- en regelgeving.
                </li>
                <li>
                    In aanvulling op voorgaande is MauwiWauwi te allen tijde gerechtigd om de overeenkomst, om welke
                    reden dan ook, met inachtneming van een opzegtermijn van een (1) maand op te zeggen.
                </li>
                <li>
                    Elk der partijen is, in aanvulling op de gronden vermeld in de wet waarop ontbinding mogelijk
                    is, gerechtigd de overeenkomst zonder rechterlijke tussenkomst en zonder ingebrekestelling geheel of
                    gedeeltelijk met onmiddellijke ingang te ontbinden, indien de wederpartij surséance van betaling
                    heeft
                    aangevraagd of dit aan hem is verleend en/of in staat van faillissement is verklaard of een
                    faillissementsaanvraag ten laste van hem is ingediend.
                </li>
            </ol>
        </li>
        <li>
            <h3>GESCHILLEN EN KLACHTEN</h3>
            <ol>
                <li>
                    Deze algemene voorwaarden zijn opgesteld naar Nederlands recht.
                </li>
                <li>
                    Geschillen voortvloeiende uit of verband houdende met deze algemene voorwaarden of
                    overeenkomsten waarop deze algemene voorwaarden geheel of ten dele van toepassing zijn verklaard,
                    zullen
                    uitsluitend worden beslecht door de bevoegde rechtbank te Den Haag.
                </li>
                <li>
                    Indien je een consument bent, dan kan je ook je klacht indienen bij EU Online Dispute Resolution
                    Platform (“ODR Platform”). Het ODR Platform is een interactieve website die kosteloos online kan
                    worden
                    geraadpleegd. Het The ODR Platform is bedoeld als een eenvoudige manier voor consumenten om (online)
                    een
                    minnelijke regeling te bereiken in het geval van geschillen met lokale en internationale handelaren,
                    waaronder
                    marktplaatsen. Het ODR Platform is toegankelijk via de volgende link: <a tabindex="-1"
                        href="”http://ec.europa.eu/consumers/odr”"
                        target="”_blank”"><u>http://ec.europa.eu/consumers/odr</u></a>.
                    Vanzelfsprekend adviseren wij je om een eventuele klacht eerst aan onszelf voor te leggen door een
                    e-mail te
                    sturen aan info@envc.nl.
                </li>
            </ol>
        </li>
    </ol>
    <br>
    <hr>
    <br>
    <br>
    <p class="section-description">Renkum, juli 2022</p>
    <br>
    <br>
    <br>
</div>