@import '../../../assets/styles/variables.less';

h1, h2, h3, h4 {
    color: @ui-color-2;
}

h3 {
    font-weight: @font-medium;
}

hr {
    background-color: @ui-color-2;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
    font-weight: @font-medium;
    font-size: 16px;
    color: @ui-color-2;
}

li li {
    margin: 0;
}

li li:before {
    content: counters(item, ".") " ";
    font-weight: @font-regular;
    font-size: 14px;
    color: @ui-color-2;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    color: @ui-color-2;
}