<section class="content user-view">
  <div class="user-details">
    <div class="card card-user intro">
      <div class="card-header">
        <h3 class="card-title">{{this.user?.displayName}}</h3>
      </div>
      <div class="card-body">
        <!-- <a class="tab_link" > -->
        <div class="author">
          <div class="compat-object-fit"
            style='background-image: url("{{(user?.photoURL)? user?.photoURL : siteImg}}");'>
            <img id="0" alt="Profiel plaatje" class="avatar border-gray"
              src="{{(user?.photoURL)? user?.photoURL : '../../../assets/profile.svg'}}">
            <img class="img-overlay" alt="img-overlay" src="../../../assets/logo-2.svg">
          </div>

        </div>
        <!-- </a> -->
        <div class="button-container">
          <h5 *ngIf="this.user?.accType !== '3'">
            <span class="icon-container">
              <i *ngIf="this.user?.gender === 'Vrouw'" class="fas fa-venus"></i>
              <i *ngIf="this.user?.gender === 'Male'" class="fas fa-mars"></i>
              <i *ngIf="this.user?.gender === 'Shemale'" class="far fa-transgender"></i>
              <i *ngIf="this.user?.gender === 'Stel'" class="fas fa-venus-mars"></i>
            </span>
            {{this.user?.gender}}
          </h5>
          <h5 *ngIf="this.user?.accType === '3'">
            <span class="icon-container">
              <i class="far fa-building"></i>
            </span>
            Club
          </h5>
          <h5 *ngIf="this.user?.accType !== '3'">
            <span class="icon-container">
              <i class="fas fa-fingerprint"></i>
            </span>
            {{this.user?.origin}}
          </h5>
          <h5>
            <span class="icon-container">
              <i class="fas fa-map-marked-alt"></i>
            </span>
            {{this.user?.provGem.gem}}
          </h5>
          <hr>
          <div class="prefs">
            <h5 *ngFor="let pref of prefs">
              <span class="icon-container">
                <i class="fas fa-check-circle"></i>
              </span>
              {{pref}}
            </h5>
          </div>
          <hr>

          <button class="btn btn-showPhone" [ngClass]="flipped ? 'open' : 'closed'" (click)="showMobile()">
            <mat-icon aria-hidden="false" aria-label="mobiel icon" class="material-icons">phone</mat-icon>
            <span class="right">
              <span class="right-inner">{{btnVal}}</span>
            </span>
          </button>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <h5 *ngIf="this.user?.accType !== '3'">
            <span class="icon-container">
              <i *ngIf="this.user?.gender === 'Vrouw'" class="fas fa-venus"></i>
              <i *ngIf="this.user?.gender === 'Male'" class="fas fa-mars"></i>
              <i *ngIf="this.user?.gender === 'Shemale'" class="far fa-transgender"></i>
              <i *ngIf="this.user?.gender === 'Stel'" class="fas fa-venus-mars"></i>
            </span>
            {{this.user?.gender}}
          </h5>
          <h5 *ngIf="this.user?.accType === '3'">
            <span class="icon-container">
              <i class="far fa-building"></i>
            </span>
            Club
          </h5>
          <h5>
            <span class="icon-container" *ngIf="this.user?.accType !== '3'">
              <i class="fas fa-fingerprint"></i>
            </span>
            {{this.user?.origin}}
          </h5>
          <h5>
            <span class="icon-container">
              <i class="fas fa-map-marked-alt"></i>
            </span>
            {{this.user?.provGem.gem}}
          </h5>
          <hr>
          <button *ngIf="this.user?.accType !== '3'" class="btn btn-showPhone" [ngClass]="flipped ? 'open' : 'closed'"
            (click)="showMobile()">
            <mat-icon aria-hidden="false" aria-label="mobiel icon" class="material-icons">phone</mat-icon>
            <span class="right">
              <span class="right-inner">{{btnVal}}</span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Info">
        <div class="card card-user-details">
          <div class="card-header">
            <h3 class="card-title">{{this.user?.introTitle}}</h3>
          </div>
          <div class="card-body">
            <div class="title-container">
              <div class="user_options_title preferences">
                <span *ngFor="let pref of prefs" class="prefs"><i class="fas fa-check-circle"></i>{{pref}}</span>
              </div>
              <hr>
            </div>
            <div class="text-container">
              <div class="collapsable">
                <div class="collapsable-container" [ngClass]="status ? 'open' : 'closed'" [innerHTML]="this.user?.info">
                </div>
                <span class="toggler">
                  <button class="btn btn-showHide" [ngClass]="status ? 'open' : 'closed'" (click)="showHideEvent()">
                    {{showStatus}}
                    <span class="icon-container">
                      <i *ngIf="!status" class="far fa-arrow-alt-circle-down"></i>
                      <i *ngIf="status" class="far fa-arrow-alt-circle-up"></i>
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <hr>
            <!-- User details -->
            <div class="user-info" *ngIf="this.user?.accType !== '3'">
              <div class="user-info-container">
                <span class="user_options_title">Leeftijd: </span>
                <span>{{this.user?.age}}</span>
              </div>
              <div class="user-info-container">
                <span class="user_options_title ">Lengte:</span>
                <span>{{this.user?.lengte}} <small>cm.</small></span>
              </div>
              <div class="user-info-container">
                <span class="user_options_title ">Haar kleur:</span>
                <span>{{this.user?.hairColor}}</span>
              </div>
              <div class="user-info-container">
                <span class="user_options_title ">Lichaams bouw:</span>
                <span>{{this.user?.bodyType}}</span>
              </div>

              <div *ngIf="this.user?.gender === 'Vrouw'" class="user-info-container">
                <span class="user_options_title ">Borst grootte:</span>
                <span>{{this.user?.breastSize}}</span>
              </div>
              <div *ngIf="this.user?.gender === 'Man'" class="user-info-container">
                <span class="user_options_title ">Pennis Lengte:</span>
                <span>{{this.user?.penisSize}} <small>cm.</small></span>
              </div>
              <div *ngIf="this.user?.gender === 'Shemale'" class="user-info-container">
                <span class="user_options_title ">Pennis Lengte:</span>
                <span>{{this.user?.penisSize}} <small>cm.</small></span>
              </div>
              <div *ngIf="this.user?.gender === 'Shemale'" class="user-info-container">
                <span class="user_options_title ">Borst grootte:</span>
                <span>{{this.user?.breastSize}}</span>
              </div>
              <div *ngIf="this.user?.gender === 'Stel'" class="user-info-container">
                <span class="user_options_title ">Pennis Lengte:</span>
                <span>{{this.user?.penisSize}} <small>cm.</small></span>
              </div>
              <div *ngIf="this.user?.gender === 'Stel'" class="user-info-container">
                <span class="user_options_title ">Borst grootte:</span>
                <span>{{this.user?.breastSize}}</span>
              </div>

              <div class="user-info-container">
                <span class="user_options_title ">Seksuele voorkeur:</span>
                <span>{{this.user?.sexualPref}}</span>
              </div>

              <div class="user-info-container">
                <span class="user_options_title ">Talen:</span>
                <span class="flags-container">
                  <span class="lang_icons" *ngFor="let lang of this.languages">
                    <img *ngIf="lang === 'Nederlands'" title="{{lang}}" alt="{{lang}}"
                      src="../../../assets/flags/Netherlands-icon.png">
                    <img *ngIf="lang === 'Spaans'" title="{{lang}}" alt="{{lang}}"
                      src="../../../assets/flags/Spain-icon.png">
                    <img *ngIf="lang === 'Engels'" title="{{lang}}" alt="{{lang}}"
                      src="../../../assets/flags/United-Kingdom-icon.png">
                    <img *ngIf="lang === 'Duits'" title="{{lang}}" alt="{{lang}}"
                      src="../../../assets/flags/Germany-icon.png">
                    <img *ngIf="lang === 'Frans'" title="{{lang}}" alt="{{lang}}"
                      src="../../../assets/flags/France-icon.png">
                  </span>
                </span>
              </div>
            </div>

            <div class="user-info" *ngIf="this.user?.accType === '3'">
              <div class="user-info-container">
                <span class="user_options_title ">Adres:</span>
                <span>{{this.user?.street}},
                  <span> {{this.user?.houseNr}}</span>
                  <span *ngIf="this.user?.addative">{{this.user?.addative}}</span>
                </span>
              </div>

              <div class="user-info-container">
                <span class="user_options_title ">Postcode:</span>
                <span>{{this.user?.zipcode}}</span>
              </div>

              <div class="user-info-container">
                <span class="user_options_title ">Telefoon nummer:</span>
                <span>{{this.user?.phoneNumber}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Services -->
        <div class="card services card-user-details" *ngIf="this.user?.accType !== '3'">
          <div class="card-header">
            <h3 class="card-title">Mogelijkheden</h3>
          </div>
          <div class="card-body">
            <div class="services-container">
              <div *ngFor="let ser of this.servs">
                <span class="servs"><i class="fas fa-check-double"></i>{{ser.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- PO prices -->
        <div *ngIf="this.po" class="card po_prices card-user-details">
          <div class="card-header">
            <h3 class="card-title">Prive Ontvangst</h3>
          </div>
          <div class="card-body">
            <!-- Date kosten -->
            <div class="cost-container">
              <div *ngIf="this.qy != '0'" class="cost-container-inner">
                <span class="user_options_title">Vluggertje: </span>
                <span class="inner-data">€ {{this.qy}}</span>
              </div>
              <div *ngIf="this.hu != '0'" class="cost-container-inner">
                <span class="user_options_title">30 minuten: </span>
                <span class="inner-data">€ {{this.hu}}</span>
              </div>
              <div *ngIf="this.dk != '0'" class="cost-container-inner">
                <span class="user_options_title">45 minuten: </span>
                <span class="inner-data">€ {{this.dk}}</span>
              </div>
              <div *ngIf="this.eu != '0'" class="cost-container-inner">
                <span class="user_options_title">1 uur: </span>
                <span class="inner-data">€ {{this.eu}}</span>
              </div>
              <div *ngIf="this.tu != '0'" class="cost-container-inner">
                <span class="user_options_title">2 uur: </span>
                <span class="inner-data">€ {{this.tu}}</span>
              </div>
              <div *ngIf="this.vu != '0'" class="cost-container-inner">
                <span class="user_options_title">4 uur: </span>
                <span class="inner-data">€ {{this.vu}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- ES prices -->
        <div *ngIf="this.es" class="card es_prices card-user-details">
          <div class="card-header">
            <h3 class="card-title">Prijzen: Escort</h3>
          </div>
          <div class="card-body">
            <!-- Date kosten -->
            <div class="cost-container">
              <div *ngIf="this.qy != '0'" class="cost-container-inner">
                <span class="user_options_title">1 uur: </span>
                <span class="inner-data">€ {{this.es_eu}}</span>
              </div>
              <div *ngIf="this.hu != '0'" class="cost-container-inner">
                <span class="user_options_title">2 uur: </span>
                <span class="inner-data">€ {{this.es_tu}}</span>
              </div>
              <div *ngIf="this.dk != '0'" class="cost-container-inner">
                <span class="user_options_title">4 uur: </span>
                <span class="inner-data">€ {{this.es_vu}}</span>
              </div>
              <div *ngIf="this.eu != '0'" class="cost-container-inner">
                <span class="user_options_title">8 uur: </span>
                <span class="inner-data">€ {{this.es_au}}</span>
              </div>
              <div *ngIf="this.tu != '0'" class="cost-container-inner">
                <span class="user_options_title">12 uur: </span>
                <span class="inner-data">€ {{this.es_hd}}</span>
              </div>
              <div *ngIf="this.vu != '0'" class="cost-container-inner">
                <span class="user_options_title">24 uur: </span>
                <span class="inner-data">€ {{this.es_wd}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Availability -->
        <div class="card card-user-details availability">
          <div class="card-header">
            <h3 class="card-title">Beschikbaarheid:</h3>
          </div>
          <div class="card-body">
            <div class="days-container">
              <div class="days-container-inner" *ngIf="this.user?.accType !== '3'">
                <div class="a-days" *ngFor="let days of this.week; index as i;">
                  <span class="user_options_title">{{(i == 0)? 'Maandag' : ((i == 1)? 'Dinsdag' : ((i == 2)?
                    'Woensdag' : ((i == 3)? 'Donderdag' : ((i == 4)? 'Vrijdag' : ((i == 5)? 'Zaterdag' : ((i ==
                    6)? 'Zondag' : ''))))))}}: </span>
                  <span class="a-times">{{(days.bt != '' && days.et != '') ? days.bt+' tot '+days.et : days.hd == true ?
                    'Heledag beschikbaar' : days.nb == true ? 'Niet beschikbaar' : ''}}</span>
                </div>
              </div>

              <div class="days-container-inner" *ngIf="this.user?.accType === '3'">
                <div class="a-days" *ngFor="let days of this.week; index as i;">
                  <span class="user_options_title">{{(i == 0)? 'Maandag' : ((i == 1)? 'Dinsdag' : ((i == 2)?
                    'Woensdag' : ((i == 3)? 'Donderdag' : ((i == 4)? 'Vrijdag' : ((i == 5)? 'Zaterdag' : ((i ==
                    6)? 'Zondag' : ''))))))}}: </span>
                  <span class="a-times">{{(days.bt != '' && days.et != '') ? days.bt+' tot '+days.et : days.hd == true ?
                    'Heledag beschikbaar' : days.nb == true ? 'Gesloten' : ''}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Foto's ({{this.userImgFiles.length}})">
        <div class="card card-user-details">
          <div class="card-header">
            <h3 class="card-title">Foto's album</h3>
          </div>
          <div class="card-body">
            <div class="photos-list" alt="foto lijst">
              <span class="warning" *ngIf="this.userImgFiles.length === 0">Nog geen foto's toegevoegd.</span>
              <div *ngFor="let files of this.userImgFiles; index as i;" class="photo-item">

                <a class="img_link" (click)="onClick($event)">
                  <div id="slide-{{i}}" class="photo-container">
                    <div class="compat-object-fit" title="{{this.user?.displayName}} plaatje {{i + 1}}" role="img"
                      style='background-image: url("{{files}}");'>
                      <img id="slide-{{i}}" name="slide-{{i}}" role="none" src="{{files}}">
                      <img class="img-overlay" name="slide-{{i}}" role="none" src="../../../assets/logo-2.svg">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Video's ({{this.userVidFiles.length}})">
        <div class="card card-user-details">
          <div class="card-header">
            <h3 class="card-title">Video's album</h3>
          </div>
          <div class="card-body">
            <div class="video-list">
              <span class="warning" *ngIf="this.userVidFiles.length === 0">Nog geen video's toegevoegd.</span>
              <div *ngFor="let files of this.userVidFiles; index as i;" class="video-item">
                <video width="100%" height="130px" controls>
                  <source src="{{ files }}">
                </video>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Advertenties" *ngIf="this.user?.accType === '3'">
        <div class="card card-user-details advert-list">
          <div class="card-header">
            <h3 class="card-title">Overzicht advertenties</h3>
          </div>
          <div class="card-body">
            <div class="advert-list_container">
              <div *ngFor="let child of childAccs; index as i;" class="user-item">
                <a (click)="onClick1($event, child.uid)">
                  <div class="card card-user intro">
                    <div class="card-header">
                      <h3 class="card-title">{{child.displayName}}</h3>
                    </div>
                    <div class="card-body" role="img" title="Profiel plaatje {{child.displayName}}">
                      <div class="author">
                        <div class="compat-object-fit"
                          style='background-image: url("{{(child.photoURL)? child.photoURL : siteImg}}");'>
                          <img class="avatar border-gray" role="none"
                            src="{{(child.photoURL)? child.photoURL : siteImg}}">
                          <img class="img-overlay" role="none" src="../../../assets/logo-2.svg">
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="bottom-container">
                        <h5 *ngIf="child.accType !== '3'">
                          <span class="icon-container">
                            <i *ngIf="child.gender === 'Female'" class="fas fa-venus"></i>
                            <i *ngIf="child.gender === 'Male'" class="fas fa-mars"></i>
                            <i *ngIf="child.gender === 'Shemale'" class="fas fa-transgender-alt"></i>
                            <i *ngIf="child.gender === 'Couple'" class="fas fa-venus-mars"></i>
                          </span>
                          {{ (child.gender === 'Female') ? 'Vrouw' : (child.gender === 'Couple') ? 'Stel' :
                          (child.gender === 'Male') ? 'Man' : child.gender }}, {{child.age}} Jaar
                        </h5>
                        <hr class="devider-bottom">
                        <div class="prefs-container">
                          <ul>
                            <li *ngFor="let pref of childPrefs[i]">{{pref}}</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </a>


              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Reviews ({{this.userReviews.length}})" *ngIf="this.user?.accType !== '3'">
        <div class="card card-user-details">
          <div class="card-header">
            <h3 class="card-title">Reviews</h3>
          </div>
          <div class="card-body">
            <div class="reviews">
              <span class="warning" *ngIf="this.userReviews.length === 0">Er zijn nog geen reviews geplaatst.</span>
              <div *ngIf="this.userReviews.length !== 0" class="score">
                <div class="score-container">
                  <p>Bezoekers geven de volgende gemiddelde scores: </p>
                  <hr>
                  <p>
                    <span class="score-text"><b>Hygiëne</b> </span>
                    <span class="score-rating-stars">
                      <div class="ratings">
                        <div class="empty-stars"></div>
                        <div class="full-stars" [style.width]="this.hygenePercentage"></div>
                      </div>
                      <span class="rating-text user_options_title">{{this.hygeneAverage}} / 5</span>
                    </span>
                  </p>
                  <p>
                    <span class="score-text"><b>Locatie</b> </span>
                    <span class="score-rating-stars">
                      <div class="ratings">
                        <div class="empty-stars"></div>
                        <div class="full-stars" [style.width]="this.locationPercentage"></div>
                      </div>
                      <span class="rating-text user_options_title">{{this.locationAverage}} / 5</span>
                    </span>
                  </p>
                  <p>
                    <span class="score-text"><b>Services</b> </span>
                    <span class="score-rating-stars">
                      <div class="ratings">
                        <div class="empty-stars"></div>
                        <div class="full-stars" [style.width]="this.averagePercentage"></div>
                      </div>
                      <span class="rating-text user_options_title">{{this.average}} / 5</span>
                    </span>
                  </p>
                </div>
              </div>
              <hr>
              <div class="warning" *ngIf="this.blockReview">
                <h2 class="user_options_title">Review schrijven?</h2>
                <p>
                  <span>Om reviews te kunnen plaatsen dient u te zijn ingelogd met een <span
                      class="user_options_title"><b>gebruikers account</b></span>.</span>
                </p>
                <p>
                  <span class="links">
                    <a routerLink="/sign-in" routerLinkActive="active">
                      <mat-icon aria-hidden="false" aria-label="Login icon" class="material-icons">login</mat-icon>
                      Klik hier om in te loggen.
                    </a>
                  </span>
                  <span class="links">
                    <a routerLink="/register" routerLinkActive="active">
                      <mat-icon aria-hidden="false" aria-label="Registreer icon" class="material-icons">app_registration
                      </mat-icon>
                      Klik hier om te registreren.
                    </a>
                  </span>
                </p>
              </div>
              <div class="write-review" *ngIf="!this.blockReview">
                <div class="collapsable">
                  <div class="collapsable-container" [ngClass]="statusReview ? 'open' : 'closed'">
                    <p class="rating-text">Geef hier uw beoordeling:</p>
                    <hr>
                    <!-- <app-review-form></app-review-form> -->
                    <form>
                      <div class="base-rating_container">
                        <div class="hygene-rating">
                          <fieldset id="hygene" class="rating">
                            <input type="radio" name="hygene" value="5" [checked]="hygene === 5" />
                            <label title="5 sterren" (click)='onClickH(hygene, 5)'>5 sterren</label>

                            <input type="radio" name="hygene" value="4" [checked]="hygene === 4" />
                            <label title="4 sterren" (click)='onClickH(hygene, 4)'>4 sterren</label>

                            <input type="radio" name="hygene" value="3" [checked]="hygene === 3" />
                            <label title="3 sterren" (click)='onClickH(hygene, 3)'>3 sterren</label>

                            <input type="radio" name="hygene" value="2" [checked]="hygene === 2" />
                            <label title="2 sterren" (click)='onClickH(hygene, 2)'>2 sterren</label>

                            <input type="radio" name="hygene" value="1" [checked]="hygene === 1" />
                            <label title="1 ster" (click)='onClickH(hygene, 1)'>1 sterren</label>
                          </fieldset>
                          <span class="servs">Hygiëne</span>
                        </div>
                        <div class="location-rating">
                          <fieldset id="location" class="rating">
                            <input type="radio" name="location" value="5" [checked]="location === 5" />
                            <label title="5 sterren" (click)='onClickL(location, 5)'>5 sterren</label>

                            <input type="radio" name="location" value="4" [checked]="location === 4" />
                            <label title="4 sterren" (click)='onClickL(location, 4)'>4 sterren</label>

                            <input type="radio" name="location" value="3" [checked]="location === 3" />
                            <label title="3 sterren" (click)='onClickL(location, 3)'>3 sterren</label>

                            <input type="radio" name="location" value="2" [checked]="location === 2" />
                            <label title="2 sterren" (click)='onClickL(location, 2)'>2 sterren</label>

                            <input type="radio" name="location" value="1" [checked]="location === 1" />
                            <label title="1 ster" (click)='onClickL(location, 1)'>1 sterren</label>
                          </fieldset>
                          <span class="servs">Locatie</span>
                        </div>
                      </div>
                      <hr>
                      <div class="servs-ratings_container">
                        <div *ngFor="let ser of this.servs" class="serv-rating">
                          <fieldset id="{{ser.id}}" class="rating">
                            <input type="radio" [name]="ser.id" value="5" [checked]="ser.rating === 5" />
                            <label title="5 sterren" (click)='onClick2(ser.id, 5)'>5
                              sterren</label>

                            <input type="radio" [name]="ser.id" value="4" [checked]="ser.rating === 4" />
                            <label title="4 sterren" (click)='onClick2(ser.id, 4)'>4
                              sterren</label>

                            <input type="radio" [name]="ser.id" value="3" [checked]="ser.rating === 3" />
                            <label title="3 sterren" (click)='onClick2(ser.id, 3)'>3
                              sterren</label>

                            <input type="radio" [name]="ser.id" value="2" [checked]="ser.rating === 2" />
                            <label title="2 sterren" (click)='onClick2(ser.id, 2)'>2
                              sterren</label>

                            <input type="radio" [name]="ser.id" value="1" [checked]="ser.rating === 1" />
                            <label title="1 ster" (click)='onClick2(ser.id, 1)'>1
                              sterren</label>
                          </fieldset>
                          <span class="servs">{{ser.name}}</span>
                        </div>
                      </div>
                      <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                        <ngx-editor [editor]="editor" [(ngModel)]="html" [disabled]="false"
                          [placeholder]="'Type here...'" name="review"></ngx-editor>
                      </div>
                    </form>

                    <div class="button-container">
                      <!-- <button class="btn btn-submit" (click)="this.UpdateReview(review.value)">Plaats review <mat-icon>
                          save</mat-icon></button> -->
                      <button class="btn btn-submit" (click)="this.UpdateReview()">Opslaan <mat-icon>
                          save</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <span class="toggler">
                  <button class="btn btn-showHide" [ngClass]="statusReview ? 'open' : 'closed'"
                    (click)="showHideEvent2()">
                    Schrijf review
                    <span class="icon-container">
                      <i [ngClass]="statusReview ? 'far fa-arrow-alt-circle-up' : 'far fa-arrow-alt-circle-down'"></i>
                    </span>
                  </button>
                </span>
              </div>
              <hr>
              <div class="reviews-list">
                <div class="reviews-list-container">
                  <div *ngIf="this.userReviews.length !== 0">
                    <div *ngFor="let rev of this.userReviews; index as i;" class="review-item item-{{i}}">
                      <span class="reviewer">{{rev.displayName}}</span>
                      <div class="review-content-container" [ngClass]="i == selectedIndex ? 'open' : 'closed'">
                        <span class="rating">
                          <span class="rating-date">{{rev.datum | date: 'dd-MM-yyyy - hh:mm'}}</span>
                          <div class="ratings">
                            <div class="empty-stars"></div>
                            <div class="full-stars" [style.width]="this.scorePercentage[i]"></div>
                          </div>
                          <span class="rating-text">{{rev.score.toFixed(1)}} / 5</span>
                        </span>
                        <hr>
                        <div class="review-content-text" #contentText>
                          <div [innerHTML]="rev.review"></div>
                          <hr>
                          <div class="">
                            <div *ngIf="rev.hygene != 0" class="hygene-item-container">
                              <div class="service-item ratings">
                                <div class="empty-stars"></div>
                                <div class="full-stars" [style.width]="rev.hygene ? rev.hygene * 20 +'%': '0%'">
                                </div>
                              </div>
                              <div class="service-item name">Hygiëne</div>
                            </div>
                            <div *ngIf="rev.location != 0" class="location-item-container">
                              <div class="service-item ratings">
                                <div class="empty-stars"></div>
                                <div class="full-stars" [style.width]="rev.location ? rev.location * 20 +'%': '0%'">
                                </div>
                              </div>
                              <div class="service-item name">Locatie</div>
                            </div>
                          </div>
                          <hr>
                          <div class="service-ratings">
                            <ng-template ngFor let-ser [ngForOf]="rev.revs">
                              <div *ngIf="ser.rating != 0" class="service-item-container">
                                <div class="service-item ratings">
                                  <div class="empty-stars"></div>
                                  <div class="full-stars" [style.width]="ser.rating * 20 +'%'"></div>
                                </div>
                                <div class="service-item name">{{ser.name}}</div>
                              </div>
                            </ng-template>
                          </div>
                          <hr>
                        </div>
                        <div class="read-more_container" (click)="selectedReview(i)">
                          <button class="read-more">
                            <i *ngIf="i == selectedIndex" class="fas fa-angle-up"></i>
                            {{(i == selectedIndex ? 'Lees Minder' : 'Lees Meer')}}
                            <i *ngIf="i != selectedIndex" class="fas fa-angle-down"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</section>