<input type="file" [multiple]="true" accept="image/*" class="file-input" (change)="selectFile($event)" #fileUpload />


<div class="file-upload">
    <button class="btn-file-select btn btn-round" (click)="fileUpload.click()">
        {{(aFiles == 0)? "Bestand(en) selecteren" : aFiles+" bestanden geselecteerd"}}
        <mat-icon>attach_file</mat-icon>
    </button>
    <button class="btn btn-upload btn-round" type="submit" [disabled]="!selectedFiles" (click)="upload()">
        Bestanden opslaan
        <mat-icon>cloud_upload</mat-icon>
    </button>
</div>




<div *ngIf="currentFileUpload" class="progress mt-2">
    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
    </div>
</div>