@import '../../../assets/styles/variables';

// .card {
//     margin-bottom: 20px;
//     -webkit-box-shadow: 0px 3px 14px 0px rgba(13,110,253,0.6); 
//     box-shadow: 0px 3px 14px 0px rgba(13,110,253,0.6);
//     border-color: @ui-color-2;
//     border-radius: 5px;
//     overflow: hidden;

//     .card-header {
//         background-color: @ui-color-2;
//         color: @ui-color-1;
//         box-shadow: 0 4px 4px rgba(0, 0, 0, 0.26), 0 1px 10px rgba(0, 0, 0, 0.08);
//         z-index: 1;

//         h3 {
//             margin-bottom: 0;
//             text-align: center;
//         }
//     }
    
//     .card-body {
//         background: @ui-color-1;
//         .author {
//             border: 1px solid rgba(13, 110, 253, 0.25);
//             background-color: #eee;
//             border-radius: 5px;
//             img {
//                 max-width: 322px;
//                 max-height: 322px;
                
//             }
//             .title {
//                 text-align: center;
//             }
//         }

//         hr {
//             color: @ui-color-2;
//         }
//     }
    
// }

// ul.files-list {
//     display: flex;
//     flex-direction: row;
//     padding-left: 0;
//     margin-bottom: 40px;
//     padding: 0;
    

//     .items {
//         padding: 20px;
//         position: relative;
//         display: block;
//         border-radius: 5px;
//         text-align: center;
//     }
// }