<div class="content">
    <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="title"><mat-icon aria-hidden="false" aria-label="Registreer icon" class="material-icons">app_registration</mat-icon> Registreer</h1>
                </mat-card-title>
            </mat-card-header>
    
            <form class="register-form">
    
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="E-mail Adres" #userEmail required>
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" #userPwd required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width"> -->
                        <mat-radio-group class="accType-selector" aria-label="Selecteer een type gebruiker">
                            <mat-radio-button #add class="col-12" name="accType" color="primary" value="1">Adverteer account</mat-radio-button>
                            <mat-radio-button #vis class="col-12" name="accType" color="primary" value="2">Bezoeker account</mat-radio-button>
                            <mat-radio-button #com class="col-12" name="accType" color="primary" value="3">Bedrijfs account</mat-radio-button>
                        </mat-radio-group>
                    <!-- </mat-form-field> -->
                </mat-card-content>
    
                <button mat-stroked-button color="primary" class="btn-block" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value, (add.checked? add.value : vis.checked ? vis.value : com.checked ? com.value: null))">Registreer</button>
                <button mat-stroked-button color="accent" class="btn-block back" (click)="backClicked()"><mat-icon aria-hidden="false" aria-label="return arrow_back icon">arrow_back</mat-icon>Ga terug</button>
    
            </form>
            <hr>
            <div class="redirectToLogin">
                <span>Al een account? <span class="redirect" routerLink="/sign-in"><mat-icon aria-hidden="false" aria-label="Login icon" class="material-icons">login</mat-icon>Login</span></span>
            </div>
        </mat-card>
    </div>
</div>