<div class="deco-bar"></div>
<footer id="footer" class="footer">
    <a routerLink="deregister" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="De registreer icon" class="material-icons">
        app_blocking
        </mat-icon>Deregistreer</a>
</footer>    