<mat-spinner *ngIf="'async-loading' | swIsLoading | async; else showContent"></mat-spinner>
<ng-template #showContent>
  <div *ngIf="authService.userData as user">
    <app-advertiser-form *ngIf="this.user_data?.accType === '1'"></app-advertiser-form>
    <app-visitor-form *ngIf="this.user_data?.accType === '2'"></app-visitor-form>
    <app-company-form *ngIf="this.user_data?.accType === '3'"></app-company-form>
  </div>
</ng-template>