@import '../../../assets/styles/variables';

.nav-main {
    position:sticky;
    position: -webkit-sticky;
    color: #fff;
    .nav {
        &-logo {
            .home-link {
                display: block;
            }
        }

        &-items {
            position: relative;
            height: 20px;
            top: 25px;
            a {
                color: #fff;
                text-decoration: none;
                transition:font-size 0.5s;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: @ui-color-2;
                    text-decoration-thickness: 4px;

                    i {
                        color: @ui-color-2;
                    }
                }

                &.active {
                    text-decoration: underline;
                    text-decoration-color: #0d6efd;
                    text-decoration-thickness: 4px;

                    i {
                        color: #0d6efd;
                    }
                }
            }

            &.left {
                padding-left: 20px;
            }

            &.right {
                text-align: right;

                .devider {
                    padding: 0 5px;
                }
            }
        }
    }
}

.mat-toolbar.mat-primary {
    background: #3f51b5;
}

@media (max-width: @responsive_breakpoint) {
    .nav-main {
        .nav-logo {
            text-align: center;
        }
        .nav-items {
            
            top: 0;
            a {
                &.active {
                    .mat-icon {
                        color: @ui-color-2;
                    }
                }
            }

            .devider {
                line-height: 24px;
            }
            &.left {
                padding-left: 10px;
            }
            &.right{
                padding-right: 10px;

            }
            .active {
                text-decoration: underline;
                text-decoration-color: #3d3dd9;
                text-decoration-thickness: 4px;
            }
        }
    }
}

@media (max-width: 425px) {
    .nav-main {
        .nav-logo {
            text-align: center;
        }
        .nav-items {
            padding: 0;
            
            a {
                height: 17px;
                &.active {
                    font-size: 0;
                    .mat-icon {
                        vertical-align: top;
                        color: @ui-color-2;
                    }
                    i {
                        &.fa-user-edit {
                            font-size: 20px;
                        }
                    }
                }
                i {
                    font-size: 14px;
                    line-height: 14px;
                    vertical-align: unset;

                    &.fa-user-edit  {
                        font-size: 16px;
                    }

                    &.fa-user-cog {
                        font-size: 13px;
                    }
                }
            }

            .devider {
                line-height: 24px;
            }
            &.left {
                padding-left: 10px;
            }
            &.right{
                padding-right: 10px;

            }
            .active {
                text-decoration: underline;
                text-decoration-color: #3d3dd9;
                text-decoration-thickness: 4px;
            }
        }
    }
}