<nav  class="nav-main">
    <div class="nav-logo">
        <a href="#" target="_blank" class="home-link">
            <img class="logo" alt="Logo" src="../../../assets/logo-2.svg">
        </a>
    </div>
    <span class="nav-items left">
        <a routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i>Home</a>
        <span *ngIf="authService.isLoggedIn" class="devider">|</span>
        <a *ngIf="authService.isLoggedIn" routerLink="dashboard" routerLinkActive="active"><i class="fas fa-user-cog"></i>Profiel</a>
        
    </span>
    <span class="nav-items right">
        <div *ngIf="!authService.isLoggedIn">
            <a routerLink="sign-in" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i>Log in</a>
            <span class="devider">|</span>
            <a routerLink="register" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Registreer icon" class="material-icons">
                app_registration
                </mat-icon>Registreer</a>
        </div>
        <div *ngIf="authService.isLoggedIn">
            <a (click)="authService.SignOut()" routerLink="sign-in" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i>Log uit</a>
        </div>
        
    </span>
</nav>


