<div class="accType accType-1">
    <form [formGroup]="this.userDataService.form" novalidate="" class="ng-untouched ng-pristine ng-valid">
        <div class="content profile-view">
            <div class="card card-user intro">
                <div class="card-header">
                    <h3 class="card-title">{{(this.user_data?.displayName) ? this.user_data?.displayName : 'User'}}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="author">
                        <div class="compat-object-fit" style='background-image: url("{{firstFileUrl}}");'>
                            <img alt="Profiel plaatje" class="avatar border-gray" src="{{firstFileUrl}}">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="user text-center">{{(this.user_data?.introTitle)? this.user_data?.introTitle : ''}}
                    </p>
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div *ngIf="this.user_data?.reviews">
                                <div>reviews</div>
                                <hr>
                            </div>
                            <div class="col-4">
                                <h5 class="border_b">Gender</h5>
                                <h5>{{ (this.user_data?.gender === 'Female') ? 'Vrouw' : (this.user_data?.gender === 'Couple')
                                    ? 'Stel'
                                    : (this.user_data?.gender === 'Male') ? 'Man' : this.user_data?.gender }}</h5>
                            </div>
                            <div class="col-4 border_lr">
                                <h5 class="border_b">Leeftijd</h5>
                                <h5>{{this.user_data?.age}}</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="border_b">Plaats</h5>
                                <h5>{{this.user_data?.provGem.gem}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="info">
                    <div>
                        <div class="card card-user details">
                            <div class="card-header">
                                <h3 class="card-title">{{(this.user_data?.displayName) ? this.user_data?.displayName : 'User'}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="row title-container">
                                            <span class="user_options_title col-md-12">Gebruikersnaam:</span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control"
                                                    placeholder="Pas hier uw getoonde naam / gebruikersnaam aan"
                                                    type="text" name="displayName"
                                                    [value]="(this.user_data?.displayName)? this.user_data?.displayName : 'User'"
                                                    formControlName="displayName">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="row title-container">
                                            <span class="user_options_title col-md-12">Email adres:</span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control"
                                                    placeholder="{{this.user_data?.email}}" type="email"
                                                    [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Leeftijd -->
                                    <div class="col-md-3 col-6">
                                        <div class="title-container">
                                            <span class="user_options_title">Leeftijd:</span>
                                        </div>
                                        <div class="row container-age">
                                            <mat-form-field appearance="fill">
                                                <input formControlName="age" type="number" matInput
                                                    placeholder="{{(this.user_data?.age)? this.user_data?.age : 'Leeftijd in hele jaren'}}"
                                                    [value]="(this.user_data?.age)? this.user_data?.age : 21">
                                                <mat-hint align="end">In hele jaren</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Lengte -->
                                    <div class="col-md-3 col-6">
                                        <div class="title-container">
                                            <span class="user_options_title">Lengte:</span>
                                        </div>
                                        <div class="row container-length">
                                            <mat-form-field appearance="fill">
                                                <input formControlName="lengte" matInput
                                                    placeholder="{{(this.user_data?.lengte)? this.user_data?.lengte : 'Lengte in centimeters'}}"
                                                    [value]="(this.user_data?.lengte)? this.user_data?.lengte : 'Lengte in centimeters'">
                                                <mat-hint align="end">In centimeters</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Plaats -->
                                    <div class="col-md-3 col-6">
                                        <div class="title-container">
                                            <span class="user_options_title">Plaats:</span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill" formGroupName="provGem">
                                                <mat-label>{{(this.user_data?.provGem.gem) ?
                                                    this.user_data?.provGem.gem : 'Selecteer
                                                    een plaats'}}</mat-label>
                                                <mat-select matNativeControl formControlName="gem">
                                                    <mat-optgroup *ngFor="let provs of prov_gems" [label]="provs.prov">
                                                        <mat-option *ngFor="let gem of provs.gems"
                                                            value="{{gem}};{{provs.prov}}">
                                                            {{gem}}
                                                        </mat-option>
                                                    </mat-optgroup>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <!-- Mobile nummer -->
                                        <div class="title-container">
                                            <span class="user_options_title">Mobiele nummer:</span>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field appearance="fill">
                                                <input type="tel" matInput formControlName="mobNumber"
                                                    [value]="(this.user_data?.mobNumber !== '') ? this.user_data?.mobNumber : ''"
                                                    placeholder="0612345678" maxlength="10" pattern="[0]{1}[0-9]{9}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="title-container">
                                        <span class="user_options_title col-12">Intro:</span>
                                    </div>
                                    <div class="col-12">
                                        <mat-form-field appearance="fill">
                                            <input matInput formControlName="introTitle" #introTitle maxlength="40"
                                                [value]="(this.user_data?.introTitle !== '') ? this.user_data?.introTitle : ''"
                                                placeholder="Vul hier uw intro">
                                            <mat-hint align="end">{{(introTitle.value?.length === 0) ? 0 :
                                                introTitle.value?.length}} / 40
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="title-container">
                                        <span class="user_options_title col-12">Informatie:</span>
                                    </div>
                                    <div class="col-12">
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                            <ngx-editor formControlName="info" appearance="fill"
                                                #information 
                                                [editor]="editor"
                                                [disabled]="false"
                                                [placeholder]="'Vul hier extra informatie'"
                                                [(ngModel)]="infoText"
                                            ></ngx-editor>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Gender -->
                                <div class="row title-container">
                                    <span class="user_options_title col-12">Geslacht:</span>
                                </div>
                                <div class="row container-content">
                                    <mat-radio-group formControlName="gender" aria-label="Selecteer een geslacht">
                                        <mat-radio-button id="{{gen}}" class="col-lg-3 col-md-4 col-6" name="gen"
                                            color="primary" *ngFor="let gen of gender"
                                            [checked]="(gen === this.user_data?.gender) ? true : false" [value]="gen"
                                            >{{(gen == 'Female') ? 'Vrouw' :
                                            ((gen == 'Male') ? 'Man'
                                            :
                                            ((gen == 'Couple') ? 'Stel' : gen))}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <hr>
                                <!-- Race -->
                                <div class="row title-container">
                                    <span class="user_options_title col-md-12">Afkomst:</span>
                                </div>
                                <div class="row container-content">
                                    <mat-radio-group formControlName="origin" aria-label="Selecteer een afkomst">
                                        <mat-radio-button id="{{origin}}" class="col-lg-3 col-md-4 col-6" name="origin"
                                            color="primary" *ngFor="let origin of origins"
                                            [checked]="(origin === this.user_data?.origin) ? true : false"
                                            [value]="origin">
                                            {{origin}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <hr>
                                <div class="row title-container">
                                    <span class="user_options_title col-md-12">Gesproken taal:</span>
                                </div>
                                <div class="row container-language">
                                    <div formGroupName="languages">
                                        <mat-checkbox *ngFor="let lang of languages" formControlName="{{lang.code}}"
                                            name="{{lang.name}}" color="primary"
                                            [ngModel]="this.user_data?.languages[lang.code]"
                                            class="col-lg-3 col-md-4 col-6 " type="checkbox" id="{{lang.code}}">
                                            {{lang.name}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <hr>
                                <!-- Hair color -->
                                <div class="row title-container">
                                    <span class="user_options_title col-md-6">Haar kleur:</span>
                                </div>
                                <div class="row container-content">
                                    <mat-radio-group formControlName="hairColor" aria-label="Selecteer een haar kleur">
                                        <mat-radio-button id="{{hair}}" class="col-lg-3 col-md-4 col-6" name="hair"
                                            color="primary" *ngFor="let hair of hair_color"
                                            [checked]="(hair === this.user_data?.hairColor) ? true : false"
                                            [value]="hair">
                                            {{hair}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <hr>
                                <div class="row title-container">
                                    <span class="user_options_title col-md-12">Lichaams bouw:</span>
                                </div>
                                <div class="row container-content">
                                    <mat-radio-group formControlName="bodyType"
                                        aria-label="Selecteer een lichaams type">
                                        <mat-radio-button id="{{body}}" class="col-lg-3 col-md-4 col-6" name="body"
                                            color="primary" *ngFor="let body of body_type"
                                            [checked]="(body === this.user_data?.bodyType) ? true : false"
                                            [value]="body">
                                            {{body}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- Date Info -->
                        <div class="card card-user options">
                            <div class="card-header">
                                <h3 class="card-title">Date informatie</h3>
                            </div>
                            <div class="card-body">
                                <!-- Date preference -->
                                <div class="row title-container">
                                    <span class="user_options_title col-md-6">Type dates:</span>
                                </div>
                                <div class="row container-options">
                                    <div formGroupName="datePrefs">
                                        <mat-checkbox *ngFor="let dp of date_preference" formControlName="{{dp.code}}"
                                            name="{{dp.name}}" color="primary"
                                            [ngModel]="this.user_data?.datePrefs[dp.code]"
                                            class="col-lg-3 col-md-4 col-6 " type="checkbox" id="{{dp.code}}">
                                            {{dp.name}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <hr>
                                <!-- Sexual preference -->
                                <div class="row title-container">
                                    <span class="user_options_title col-md-6">Seksuele voorkeur:</span>
                                </div>
                                <div class="row container-content">
                                    <mat-radio-group formControlName="sexualPref"
                                        aria-label="Selecteer een lichaams type">
                                        <mat-radio-button id="{{sp}}" class="col-lg-3 col-md-4 col-6" name="sp"
                                            color="primary" *ngFor="let sp of sexualPref"
                                            [checked]="(sp === this.user_data?.sexualPref) ? true : false" [value]="sp">
                                            {{sp}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <hr>
                                <!-- Date Options -->
                                <div class="row title-container">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <span class="user_options_title col-8">Mogelijkheden:</span><span class="user_options_title col-4">Extra kosten:</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-sm-none">
                                        <div class="row">
                                            <span class="user_options_title col-8">Mogelijkheden:</span><span class="user_options_title col-4">Extra kosten:</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="row container-options">
                                    <div >
                                        <div class="row">
                                            <div *ngFor="let ds of dateServices" class="col-md-6" >
                                                <div class="row">
                                                    <div class="col-8" formGroupName="dateServices">
                                                        <mat-checkbox formControlName="{{ds.code}}"
                                                            name="{{ds.name}}" color="primary"
                                                            [ngModel]="this.user_data?.dateServices[ds.code]"
                                                            class="" type="checkbox" id="{{ds.code}}">
                                                            {{ds.name}}
                                                        </mat-checkbox>
                                                    </div>
                                                    <div class="col-4" formGroupName="dateServicesExtra">
                                                        <mat-form-field appearance="fill" class="">
                                                            <input matInput formControlName="{{ds.code +'_extra'}}" 
                                                            [ngModel]="this.user_data?.dateServices[ds.code+'_extra']"
                                                                type="number"
                                                                class="form-control"
                                                                placeholder="(this.user_data?.dateServicesExtra[ds.code +'_extra'] > 0 || this.user_data?.dateServicesExtra[ds.code +'_extra'] !== undefined) ? this.user_data?.dateServicesExtra[ds.code +'_extra'] : 0"
                                                                id="{{ds.code +'_extra'}}"
                                                                name="{{ds.code +'_extra'}}"
                                                                [ngModel]="(this.user_data?.dateServicesExtra[ds.code +'_extra'] > 0 || this.user_data?.dateServicesExtra[ds.code +'_extra'] !== undefined) ? this.user_data?.dateServicesExtra[ds.code +'_extra'] : 0"
                                                                >
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- Prices PO-->
                        <div class="card card-user prices_po">
                            <div class="card-header">
                                <h3 class="card-title">Prijzen: Prive Ontvangst</h3>
                            </div>
                            <div class="card-body">
                                <div class="row"><span>Voer uw gewenste prijzen voor Prive Ontvangst hier in</span>
                                </div>
                                <hr>
                                <div class="row container-prices_po">
                                    <div *ngFor='let po of prices_po' class="col-md-4 col-6" formGroupName="poPrices">
                                        <div class="row title-container">
                                            <span class="user_avalability_title ">
                                                <span>
                                                    {{po.name}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="form-group">

                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control"
                                                    placeholder="{{(this.user_data?.poPrices[po.code] === 0) ? 0 : this.user_data?.poPrices[po.code] }}"
                                                    type="number" name="{{po.code}}"
                                                    [ngModel]="(this.user_data?.poPrices[po.code] === 0) ? 0 : this.user_data?.poPrices[po.code] "
                                                    formControlName="{{po.code}}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Prices Escort -->
                        <div class="card card-user prices_es">
                            <div class="card-header">
                                <h3 class="card-title">Prijzen: Escort</h3>
                            </div>
                            <div class="card-body">
                                <div class="row"><span>Voer uw gewenste prijzen voor Escort hier in</span></div>
                                <hr>
                                <div class="row container-prices_es">
                                    <div *ngFor='let es of prices_es' class="col-md-4 col-6" formGroupName="esPrices">
                                        <div class="row title-container">
                                            <span class="user_avalability_title ">
                                                <span>
                                                    {{es.name}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control"
                                                    placeholder="{{(this.user_data?.esPrices[es.code] !== 0) ? this.user_data?.esPrices[es.code] : 0}}"
                                                    type="number" name="{{es.code}}"
                                                    [ngModel]="(this.user_data?.esPrices[es.code] !== 0) ? this.user_data?.esPrices[es.code] : 0"
                                                    formControlName="{{es.code}}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Availability -->
                        <div class="card card-user availability">
                            <div class="card-header">
                                <h3 class="card-title">Beschikbaarheid:</h3>
                            </div>
                            <div class="card-body">
                                <div class="row container-availability">
                                    <div class="col-sm-1 col-2 icon-container">
                                        <span class="material-icons">
                                            notification_important
                                        </span>
                                    </div>
                                    <div class="col-sm-10 col-8 notification-container">
                                        <p>Bij geen selectie wordt de specifieke dag automatisch ingesteld als
                                            <b>niet beschikbaar</b>.</p>
                                    </div>
                                    <div class="col-sm-1 col-2 icon-container">
                                        <span class="material-icons">
                                            notification_important
                                        </span>
                                    </div>
                                    <div>
                                        <hr>
                                    </div>
                                    <div *ngFor='let da of availability'>
                                        <div class="row title-container">
                                            <span class="user_avalability_title col-md-6 col-12">
                                                <span>
                                                    {{da.name}}
                                                </span>
                                            </span>
                                        </div>
                                        <div>
                                            <div formGroupName="{{da.name}}" class="row">
                                                <div class="col-md-3 col-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Beschikbaar vanaf:</mat-label>
                                                        <input class="form-control" formControlName="bt" type="time"
                                                            [ngModel]="this.user_data?.[da.name].bt ? this.user_data?.[da.name].bt : ''"
                                                            matInput name="week" min="00:00" max="24:00">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3 col-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Beschikbaar tot:</mat-label>
                                                        <input class="form-control" formControlName="et" type="time"
                                                            [ngModel]="this.user_data?.[da.name].et ? this.user_data?.[da.name].et : ''"
                                                            matInput name="week" min="00:00" max="24:00">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3 col-4">
                                                    <mat-checkbox formControlName="hd" name="hd" color="primary"
                                                        [ngModel]="this.user_data?.[da.name].hd"
                                                        value="this.user_data[da.name].hd" type="checkbox"
                                                        id="{{da.name+'_hd'}}">
                                                        De hele dag
                                                    </mat-checkbox>
                                                </div>

                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- publish profile -->

                        <div class="card card-user publish">
                            <div class="card-header">
                                <h3 class="card-title">Publiceren:</h3>
                            </div>
                            <div class="card-body">
                                <div class="row container-publish">
                                    <div>
                                        <div class="row title-container">
                                            <span class="user_publish_title col-md-12">
                                                <span>
                                                    Vink deze aan/uit voor het wel/niet tonen van uw profiel op de
                                                    website.
                                                </span>
                                            </span>
                                        </div>
                                        <div>
                                            <mat-checkbox formControlName="published" name="published" color="primary"
                                                [ngModel]="this.user_data?.published" class="col-lg-3 col-md-4 col-6 "
                                                type="checkbox" id="published">
                                            </mat-checkbox>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Update/edit form -->
                        <div class="button-container">
                            <button class="btn btn-submit btn-round" type="submit" (click)="onSubmit()">Profiel opslaan
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Foto's">
                    <div class="card card-user fileUploads">
                        <div class="card-header">
                            <h3 class="card-title">Foto's beheer:</h3>
                        </div>
                        <div class="bestands-selectie">
                            <app-upload-form></app-upload-form>
                        </div>
                        <div class="bestands-lijst fotos">
                            <app-upload-list></app-upload-list>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Video's">
                    <div class="card card-user fileUploads">
                        <div class="card-header">
                            <h3 class="card-title">Video's beheer:</h3>
                        </div>
                        <div class="bestands-selectie">
                            <app-upload-form2></app-upload-form2>
                        </div>
                        <div class="bestands-lijst videos">
                            <app-upload-list2></app-upload-list2>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>
</div>