<div class="content">
  <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
          <h1 class="title">
            <mat-icon aria-hidden="false" aria-label="Login icon" class="material-icons">login</mat-icon> 
            Login
          </h1>
        </mat-card-title>
      </mat-card-header>

      <form class="signIn-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput class="formControl" placeholder="E-mail adres" #userName required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" #userPassword required>
            <!-- <input matInput class="formControl" placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" #userPassword required> -->
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
        <button mat-stroked-button color="accent" class="btn-block back" (click)="backClicked()">
          <mat-icon aria-hidden="false" aria-label="return arrow_back icon">arrow_back</mat-icon>Ga terug
        </button>
        <hr>
        <div class="redirectToLogin">
          <span>Nog geen account?<span class="redirect" routerLink="/register"><mat-icon aria-hidden="false" aria-label="Registreer icon" class="material-icons">app_registration</mat-icon> Registreer</span></span>
        </div>
      </form>
    </mat-card>
  </div>
</div>