<div class="consent-container">
    <h1 class="title">Cookie statement envc.nl</h1>
    <hr>
    <p class="section-description">In dit Cookiestatement informeert Mauwiwauwi B.V., gevestigd te (6871 JJ) Renkum aan
        de Hogenkampseweg 17 (hierna: Mauwiwauwi) je over het gebruik van cookies en vergelijkbare technieken, zoals
        tags/beacons en Javascripts (hierna samen te noemen “cookies”) op de website www.envc.nl. Wij raden je aan dit
        cookiestatement goed door te lezen, in samenhang met ons <button id="consent-1" name="consent-1" (click)="goToConsent($event, 'PrivacyPolicy')"><u name="consent-1">Privacy Policy</u></button> en de <button id="consent-0" name="consent-0" (click)="goToConsent($event,'TermsAndConditions')"><u name="consent-0">Algemene Voorwaarden</u></button>.</p>

    <h3>Cookies die op envc.nl gebruikt worden:</h3>
    <hr>
    <ol>
        
        <li>
            <h3>Noodzakelijke Cookies</h3>
            <p class="section-description">
                Deze cookies zijn noodzakelijk voor de juiste werking van de website. Ze worden
                gebruikt om je Cookie instellingen en toestemming in op te slaan, voor het beveiligen van de website en het
                verzorgen van een optimale gebruikerservaring.
            </p>
            <p>
                Klik op Mijn instellingen voor een lijst met de noodzakelijke cookies die wij gebruiken, voor welk doel en hoe
                lang ze worden gebruikt. Hier is het ook mogelijk om je cookie instellingen aan te passen.
            </p>
        </li>
        <li>
            <h3>Functionele Cookies</h3>
            <p class="section-description">
                Functionele cookies worden om de gebruikerservaring te verbeteren. Zo worden
                taalinstellingen hierin opgeslagen maar ook in welke weergave je advertenties wilt zien.
            </p>
            <p>
                Klik op Mijn instellingen voor een lijst met de functionele cookies die wij gebruiken, voor welk doel en hoe lang
                ze worden gebruikt. Hier is het ook mogelijk om je cookie instellingen aan te passen.
            </p>
        </li>
        <li>
            <h3>Analytische Cookies</h3>
            <p class="section-description">
                Om te bepalen welke onderdelen van de website het meest interessant zijn voor onze
                bezoekers, proberen wij met behulp van Google Analytics te meten hoeveel bezoekers er op onze website komen en
                wat het meest bekeken wordt.
                Van de informatie die wij zo verzamelen worden statistieken gemaakt. Met deze statistieken zijn wij in staat de
                structuur, navigatie en inhoud van de website nog beter op de bezoekers af te stemmen. De verzamelde gegevens
                worden niet voor een ander doel gebruikt dan voor verbetering van de website. De statistieken en overige
                rapportages zijn niet tot personen te herleiden.
                Google zorgt voor de plaatsing van de cookies, het onderzoek en de analyse van de daaruit voorvloeiende
                informatie, maar heeft uitdrukkelijk geen zelfstandige bevoegdheid met betrekking tot de gegevens die met behulp
                van de cookies wordt verwerkt: deze gegevens zijn en blijven ons eigendom. Er worden hierbij geen
                persoonsgegevens opgeslagen.
                <br>
                Voor de cookies die Google plaatst en de mogelijke data die zij hiermee verzamelt, verwijzen wij naar de
                verklaringen die Google op haar eigen websites daarover geeft; zie de links hieronder. Let op dat deze
                verklaringen regelmatig kunnen wijzigen.
                <br><br>
                <a href="https://www.google.nl/intl/nl/policies/privacy/"
                    target="”_blank”"><u>https://www.google.nl/intl/nl/policies/privacy/</u></a>
                <br><br>
                Klik op Mijn instellingen voor een lijst met de analytische cookies die wij gebruiken, voor welk doel en hoe
                lang ze worden gebruikt. Hier is het ook mogelijk om je cookie instellingen aan te passen.
            </p>
        </li>
        <li>
            <h3>Marketing Cookies</h3>
            <p class="section-description">
                Deze cookies worden gebruikt om de relevantie van advertenties te optimaliseren door
                bezoekersgegevens te verzamelen van de websites envc.nl, Sexjobs.nl en Hookers.nl. Deze data wordt niet gedeeld
                met derden.
            </p>
            <p>
                Klik op Mijn instellingen voor een lijst met de marketing cookies die wij gebruiken, voor welk doel en hoe lang
                ze worden gebruikt. Hier is het ook mogelijk om je cookie instellingen aan te passen.
            </p>
        </li>
        <li>
            <h3>Overige / onvoorziene Cookies</h3>
            <p class="section-description">
                Door de manier waarop internet en websites werken, kan het zijn dat wij niet altijd
                inzicht hebben in de cookies die via onze website door derde partijen worden geplaatst. Dit is met name het
                geval als onze webpagina’s zogenaamde embedded-elementen bevatten; dit zijn teksten, documenten, plaatjes of
                filmpjes die bij een andere partij opgeslagen zijn, maar die op, in of via onze website getoond worden. 
                Indien je op deze website cookies tegenkomt die in deze categorie vallen en die we hierboven dus niet genoemd
                hebben, laat het ons dan weten. Je kan ook rechtstreeks contact opnemen met de derde partij en vraag welke
                cookies ze plaatsten, wat de reden daarvoor is, wat de levensduur van de cookie is en op welke manier ze je
                privacy gewaarborgd hebben.
            </p>
        </li>
    </ol>

    <h3>Browserinstellingen</h3>
    <hr>
    <p class="section-description">Als je helemaal niet wilt dat websites cookies op jouw computer plaatsen, dan kan je
        je browserinstellingen aanpassen zodat je een waarschuwing krijgt voordat er cookies worden geplaatst. Ook kan
        je de instellingen dusdanig aanpassen dat je browser alle cookies, of alleen de cookies van derde partijen,
        weigert. Bovendien kan je de cookies die al op je computer zijn geplaatst verwijderen. Let erop dat je de
        instellingen apart voor elke browser en computer die je gebruikt moet aanpassen.
         <br>
        Wees je ervan bewust dat als je geen cookies wilt, wij niet meer kunnen garanderen dat onze website helemaal
        goed werkt. Het kan zijn dat enkele functies van de site verloren gaan of zelfs dat je bepaalde websites
        helemaal niet meer kunt zien. Daarnaast betekent het weigeren van cookies ook niet dat je geen advertenties meer
        te zien krijgt. De advertenties zijn dan alleen niet meer toegesneden op jouw interesses en worden vaker
        herhaald.
        <br>
        Hoe je je instellingen kunt aanpassen, verschilt per browser. Raadpleeg indien nodig de helpfunctie van jouw
        browser, of klik op één van de onderstaande iconen om direct naar de handleiding van je browser te gaan. Wil je
        cookies van specifieke partijen uitzetten, dan kan dat via <a href="https://www.youronlinechoices.eu"
            target="”_blank”"><u>www.youronlinechoices.eu</u></a>.

    </p>
    <ul>
        <li><a href="https://support.mozilla.org/nl/kb/cookies-verwijderen-gegevens-wissen-websites-opgeslagen"
                target="”_blank”"><u>https://support.mozilla.org/nl/kb/cookies-verwijderen-gegevens-wissen-websites-opgeslagen</u></a>
        </li>
        <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=nl"
                target="”_blank”"><u>https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=nl</u></a>
        </li>
        <li><a href="https://support.microsoft.com/nl-nl/kb/278835"
                target="”_blank”"><u>https://support.microsoft.com/nl-nl/kb/278835</u></a></li>
    </ul>
    
    

    <h3>Slotopmerkingen</h3>
    <p class="section-description">
        Wij zullen deze verklaringen af en toe aan moeten passen, omdat bijvoorbeeld onze
        website of de regels rondom cookies wijzigen. We mogen de inhoud van de verklaringen en de cookies die opgenomen
        staan in de lijsten altijd en zonder waarschuwing vooraf wijzigen. Je kunt deze webpagina raadplegen voor de
        laatste versie.
        Mocht je nog vragen en/of opmerkingen hebben neem dan contact op met privacy@envc.nl.
    </p>
    <br>
    <hr>
    <br>
    <br>
    <p class="section-description">Renkum, juli 2022</p>
    <br>
    <br>
    <br>
</div>