<mat-spinner *ngIf="'async-loading' | swIsLoading | async; else showContent"></mat-spinner>
<ng-template #showContent>
    <div class="users-filters">
        <div class="button-container">
            <button class="btn btn-showFilters" (click)="buttonClick()" [ngClass]="toggleClass"
                alt="Filter uit/in klappen" title="Filter in/uit klappen">
                <i class="fas fa-filter"></i><i class="far fa-arrow-alt-circle-down"></i>
            </button>
        </div>
        <div class="filters-container" [ngClass]="toggleClass">
            <div class="inner-container">
                <div class="filter-options-container" *ngFor="let op of options">
                    <div class="container">
                        <div class="filter-options gender">
                            <div class="filter-options_title">Gender
                            <span class="small" *ngIf="(genderFilter.length != 0)">{{genderFilter.length}}</span>
                            </div>
                            <mat-checkbox class="filter-options_option" *ngFor="let ge of op.gender" name="{{ge.name}}"
                            color="primary" (change)="onChangeGender($event, ge)" [ngModel]="genderFiltered[ge.name]"
                            type="checkbox" id="{{ge.code}}">
                            {{ge.name}}
                          </mat-checkbox>
                        </div>

                        <div class="filter-options age">
                            <div class="filter-options_title">
                                Leeftijd
                            </div>
                            <div class="filter-options_age">
                                <div class="age-slider-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                                    <label class="left-label-min">21</label>
                                    <label class="right-label-max">100</label>
                                </div>
                                <mat-slider min="200" max="500">
                                    <input value="300" matSliderStartThumb>
                                    <input value="400" matSliderEndThumb>
                                  </mat-slider>
                                <!-- <mat-slider
                                    class="age-slider"
                                    [value]="value"
                                    [disabled]="disabled"
                                    [invert]="invert"
                                    [start]="start"
                                    [max]="max"
                                    [min]="min"
                                    [step]="step"
                                    [thumbLabel]="thumbLabel"
                                    [tickInterval]="getSliderTickInterval()"
                                    (change)="onChangeAge($event)"
                                    [vertical]="vertical"
                                    aria-labelledby="example-name-label">
                                </mat-slider> -->
                                <!-- <div class="c-rng__multi">
                                    <input type="range" class="c-rng" min="0" max="100" value="20" data-range="output lower" data-ticks="10" />
                                    <input type="range" class="c-rng" min="0" max="100" value="80" data-range="output upper" />
                                </div> -->
                            </div>
                        </div>
                
                        <div class="filter-options hair_color">
                            <div class="filter-options_title">
                                Haar kleur <span class="small" *ngIf="(hairFilter.length != 0)">{{hairFilter.length}}</span>
                            </div>
                            <mat-checkbox class="filter-options_option" *ngFor="let hc of op.hair_color" name="{{hc.name}}"
                                color="primary" (change)="onChangeHair($event, hc)" [ngModel]="hairFiltered[hc.name]"
                                type="checkbox" id="{{hc.id}}">
                                {{hc.name}}
                            </mat-checkbox>
                        </div>

                        <div class="filter-options body_type">
                            <div class="filter-options_title">
                                Lichaam <span class="small" *ngIf="(bodyFilter.length != 0)">{{bodyFilter.length}}</span>
                            </div>
                            <mat-checkbox class="filter-options_option" *ngFor="let bt of op.body_type" name="{{bt.name}}"
                                color="primary" (change)="onChangeBody($event, bt)" [ngModel]="bodyFiltered[bt.name]"
                                type="checkbox" id="{{bt.id}}">
                                {{bt.name}}
                            </mat-checkbox>
                        </div>

                        <div class="filter-options languages">
                            <div class="filter-options_title">
                                Talen <span class="small" *ngIf="(languageFilter.length != 0)">{{languageFilter.length}}</span>
                            </div>
                            <mat-checkbox class="filter-options_option" *ngFor="let la of op.languages" name="{{la.name}}"
                                color="primary" (change)="onChangeLanguage($event, la)" [ngModel]="languageFiltered[la.name]"
                                type="checkbox" id="la-{{la.name}}">
                                {{la.name}}
                            </mat-checkbox>
                        </div>

                        <div class="filter-options origin">
                            <div class="filter-options_title">
                                Afkomst <span class="small" *ngIf="(originFilter.length != 0)">{{originFilter.length}}</span>
                            </div>
                            <mat-checkbox class="filter-options_option" *ngFor="let or of op.origins" name="{{or.name}}"
                                color="primary" (change)="onChangeOrigin($event, or)" [ngModel]="originFiltered[or.name]"
                                type="checkbox" id="{{or.id}}">
                                {{or.name}}
                            </mat-checkbox>
                        </div>

                        <div class="filter-options services">
                            <div class="filter-options_title">
                                Mogelijkheden <span class="small" *ngIf="(servicesFilter.length != 0)">{{servicesFilter.length}}</span>
                            </div>
                            <div class="labels-container">
                                <mat-checkbox class="filter-options_option" *ngFor="let ds of op.dateServices" name="{{ds.name}}"
                                    color="primary" (change)="onChangeServices($event, ds)" [ngModel]="servicesFiltered[ds.code]"
                                    type="checkbox" id="{{ds.name}}">
                                    {{ds.name}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-container">
                <div class="button-container">
                    <button (click)="toggleSearch()" [ngClass]="showSearch" title="Zoeken in/uit klappen" class="btn btn-search"><i class="fab fa-searchengin"></i><i class="far fa-arrow-alt-circle-left"></i></button>
                </div>
                <div class="search-container" [ngClass]="showSearch">
                    <div class="container-inner">
                        <input type="text"
                        class="form-control" 
                        id="search-text" 
                        aria-describedby="search-text" 
                        [(ngModel)]="message"
                        (keyup)="searchUserName($event)" 
                        placeholder="Zoek op naam" 
                        autofocus>
                        <button *ngIf="message" (click)="clearSearch()" class="btn btn-clear">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-view-container">
            <button (click)="changeGrid()" [ngClass]="(gridView ? 'list' : 'grid')" title="Weergave veranderen ( Tegel/Lijst )" class="btn btn-changeView"><i class="fas {{(gridView)? 'fa-th-list' : 'fa-th'}}"></i></button>
        </div>
    </div>
    <div class="overlay" [ngClass]="toggleClass"></div>
    <div class="content users" [ngClass]="(gridView ? 'list' : 'grid')" *ngIf="users" swScrollPosition='async-loading'>
        <div class="users-container">
            <div *ngFor="let user of filteredData | searchFilter: userName | paginate: { itemsPerPage: 12, currentPage: page }; index as i;"
                class="user-item">
                <a routerLink="../user-details/{{user.uid}}" class="tile-routing" routerLinkActive="active">
                    <div class="card card-user intro">
                        <div class="card-header">
                            <h3 class="card-title">{{user.displayName}}</h3>
                            <span title="{{(user.published)? 'Online' : 'Offline'}}" class="onOffLine-icon material-icons {{(user.published)? 'online' : 'offline'}}">
                                {{(user.published) ? 'wifi_tethering' : 'wifi_tethering_off'}}
                            </span>
                        </div>
                        <div class="card-body" role="img" title="Profiel plaatje {{user.displayName}}">
                            <div class="author">
                                <div class="compat-object-fit"
                                    style='background-image: url("{{(user.photoURL)? user.photoURL : siteImg}}");'>
                                    <img class="avatar border-gray" role="none"
                                        src="{{(user.photoURL)? user.photoURL : siteImg}}">
                                    <img class="img-overlay" role="none" src="../../../assets/logo-2.svg">
                                </div>
                            </div>
                            <div class="list-view-container">
                                <p class="user_options_title">{{(this.user.introTitle)? this.user.introTitle : ''}}
                                </p>
                                <hr>
                                <div class="prefs-container">
                                    <span *ngFor="let pref of prefs[i]" class="prefs"><i
                                            class="fas fa-check-circle"></i>{{pref}}</span>
                                </div>
                                <hr>
                                <div class="info-container">
                                    <p [innerHTML]="this.user?.info"></p>
                                </div>
                                <hr>
                                <div class="details-container">
                                    <div class="row-container" *ngIf="this.user.accType !== '3'">
                                        <span class="icon-container">
                                            <i *ngIf="user.gender === 'Female'" class="fas fa-venus"></i>
                                            <i *ngIf="user.gender === 'Male'" class="fas fa-mars"></i>
                                            <i *ngIf="user.gender === 'Shemale'" class="far fa-transgender-alt"></i>
                                            <i *ngIf="user.gender === 'Couple'" class="fas fa-venus-mars"></i>
                                        </span>
                                        <span>{{ (user.gender === 'Female') ? 'Vrouw' : (user.gender === 'Couple')
                                            ? 'Stel'
                                            : (user.gender === 'Male') ? 'Man' : user.gender }}, {{user?.age}} <span class="show-year">Jaar</span>
                                        </span>
                                    </div>
                                    <div class="row-container" *ngIf="this.user.accType === '3'">
                                        <span class="icon-container">
                                            <i class="far fa-building"></i>
                                        </span>
                                        <span>Club</span>
                                    </div>
                                    <div class="row-container">
                                        <span class="icon-container">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                        <!-- {{user.provGem.gem}} -->
                                        <span>{{ user.provGem.gem }}</span>
                                    </div>
                                    <div class="row-container">
                                        <span class="icon-container">
                                            <i class="far fa-images"></i>
                                        </span>
                                        <!-- {{user.provGem.gem}} -->
                                        <span>{{ (userImgFilesLenght[user.uid] ? userImgFilesLenght[user.uid] : 0) }}</span>
                                    </div>
                                    <div class="row-container">
                                        <span class="icon-container">
                                            <i class="fas fa-film"></i>
                                        </span>
                                        <!-- {{user.provGem.gem}} -->
                                        <span>{{ (userVidFilesLenght[user.uid] ? userVidFilesLenght[user.uid] : 0) }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="rating-container">
                                    <span class="rating-stars">
                                        <div class="ratings">
                                            <div class="empty-stars"></div>
                                            <div class="full-stars" [style.width]="this.reviewCalcObjects[user.uid]?this.reviewCalcObjects[user.uid].averageString:'0%'"></div>
                                          </div>
                                      </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="user text-center">{{(this.user.introTitle)? this.user.introTitle : ''}}</p>
                            <hr class="devider-top">
                            <div class="button-container">
                                <h5 *ngIf="this.user.accType !== '3'">
                                    <span class="icon-container">
                                        <i *ngIf="user.gender === 'Female'" class="fas fa-venus"></i>
                                        <i *ngIf="user.gender === 'Male'" class="fas fa-mars"></i>
                                        <i *ngIf="user.gender === 'Shemale'" class="fas fa-transgender-alt"></i>
                                        <i *ngIf="user.gender === 'Couple'" class="fas fa-venus-mars"></i>
                                    </span>
                                    {{ (user.gender === 'Female') ? 'Vrouw' : (user.gender === 'Couple') ? 'Stel' : (user.gender === 'Male') ? 'Man' : user.gender }}, {{user?.age}} Jaar
                                </h5>
                                <h5 *ngIf="this.user.accType === '3'">
                                    <span class="icon-container">
                                        <i class="far fa-building"></i>
                                        Club
                                    </span>
                                </h5>
                                <h5>
                                    <span class="icon-container">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    {{user.provGem.gem}}
                                </h5>
                            </div>
                            <hr class="devider-bottom">
                            <div class="rating-container">
                                <span class="icon-container">
                                    <i class="far fa-images"></i>
                                    <span>{{ (userImgFilesLenght[user.uid] ? userImgFilesLenght[user.uid] : 0) }}</span>
                                </span>
                                <div class="rating-stars" *ngIf="this.reviewCalcObjects[user.uid]">
                                    <div class="ratings" >
                                        <div class="empty-one-star"></div>
                                        <div class="full-one-star" [style.width]="this.reviewCalcObjects[user.uid] ? this.reviewCalcObjects[user.uid].averageString :'0%'"></div>
                                    </div>
                                    <span class="rating-text">{{(this.reviewCalcObjects[user.uid]?.average / 20).toFixed(1)}}</span>
                                </div>
                                <span class="icon-container">
                                    <i class="fas fa-film"></i>
                                    <span>{{ (userVidFilesLenght[user.uid] ? userVidFilesLenght[user.uid] : 0) }}</span>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="pagination-container">
        <div class="container-inner">
            <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Vorige" nextLabel="Volgende"
                [responsive]="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
    </div>
</ng-template>