.content {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.card {
    &.card-user {
        &.intro {
            position: relative;
            background: #fff;
            max-width: unset;
        }
    }
    .card-body {
        .author {
            img {
                max-width: 100%;
            }
        }
    }
    .card-footer {
        .align_center {
            text-align: center;
        }
        .icon-container {
            display: inline-block;
            text-align: center;
            i {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

.fa-map-marked-alt:before  {
    font-size:16px;
}