<div class="consent-container">
    <h1 class="title"> Privacy Policy envc.nl</h1>
    <hr>
    <p>
        Dit Privacy Policy is van toepassing op alle persoonsgegevens die MauwiWauwi B.V. op haar de website www.envc.nl
        (‘Website’) en in het kader van de daarop aangeboden dienstverlening verwerkt.

    </p>
    <p>

        Wij vinden het belangrijk om op een transparante en verantwoorde manier om te gaan met de persoonsgegevens die
        aan ons worden toevertrouwd. In dit Privacy Policy leggen we onder meer uit waarom we persoonsgegevens
        verzamelen en gebruiken, welke gegevens dat zijn en welke rechten je hebt. We verwerken je persoonsgegevens op
        een zorgvuldige manier en in overeenstemming met de Algemene Verordening Gegevensbescherming (‘AVG’) en de
        bijbehorende uitvoeringswet. Wij adviseren je om het Privacy Policy goed door te lezen en een kopie daarvan te
        bewaren voor je eigen administratie.
    </p>
    <ol type="1">
        <li>
            <h3>
                VERWERKINGSVERANTWOORDELIJKE
            </h3>
            <p>
                Verwerkingsverantwoordelijke voor de verwerking van de persoonsgegevens is:<br>
                MauwiWauwi B.V.<br>
                Hogenkampseweg 17<br>
                6871 JJ Renkum<br><br>
                Ingeschreven in de Kamer van koophandel onder nummer: 24251992<br><br>
                Indien je vragen hebt over de verwerking van je persoonsgegevens kan je contact opnemen met onze privacy
                medewerker via: privacy@envc.nl.
            </p>
        </li>
        <li>
            <h3>
                WELKE GEGEVENS VERWERKEN WIJ?
            </h3>

            <p>
                Via de Website en onze dienstverlening verwerken wij verschillende soorten persoonsgegevens.
                Bijvoorbeeld
                als je onze Website bezoekt, een account aanmaakt, een advertentie of recensie publiceert of gebruik
                maakt
                van de berichtenfunctie. Als wij persoonsgegevens verwerken is dat dus meestal omdat je gebruik maakt
                van
                onze diensten en je de persoonsgegevens zelf aan ons verstrekt. Het kan ook zijn dat we persoonsgegevens
                verwerken naar aanleiding van klachten, meldingen, fraudeonderzoek, vorderingen van de politie of om te
                voldoen aan andere dwingendrechtelijke regelgeving.
            </p>
            <p>
                Voorbeelden van soorten persoonsgegevens die wij verwerken zijn: e-mailadres, IP-adres, bedrijfsnaam of
                werknaam, adresgegevens, telefoonnummer, geboortedatum, nationaliteit, geslacht, uiterlijke kenmerken.
            </p>
            <ul>
                <li>
                    <h4>
                        Bijzondere persoonsgegevens: uitdrukkelijke toestemming
                    </h4>
                    <p>
                        Via de Website en de diensten verwerken we met jouw uitdrukkelijke toestemming ook gegevens met
                        betrekking
                        tot je seksuele gedrag of seksuele gerichtheid. Dit zijn bijzondere persoonsgegevens. Deze
                        bijzondere
                        persoonsgegevens worden bijvoorbeeld verwerkt indien je deze gegevens en/of informatie in een
                        advertentie,
                        recensie of in andere content op de Website en/of binnen de dienstverlening plaatst.
                    </p>
                    <p>
                        Je kan altijd via je eigen account je toestemming voor het gebruik van deze bijzondere
                        persoonsgegevens
                        intrekken en je gegevens en informatie verwijderen. In sommige gevallen kan het noodzakelijk
                        zijn om
                        hiervoor je account te beëindigen. Voor meer informatie over het intrekken van je toestemming en
                        het
                        verwijderen van je gegevens kan je ook contact opnemen met onze privacy medewerker via:
                        privacy@envc.nl.
                    </p>
                </li>
            </ul>

        </li>
        <li>
            <h3>
                DOEL EN GRONDSLAGEN VAN DE VERWERKING VAN DE PERSOONSGEGEVENS
            </h3>
            <p>
                Hieronder vindt je een overzicht van de doeleinden waarvoor wij persoonsgegevens verwerken. Daarbij is
                telkens aangegeven wat de gerechtvaardigde grondslag is om die gegevens te mogen verwerken. De
                belangrijkste
                grondslagen waarvoor wij de persoonsgegevens verwerken zijn: <br>
                - verwerkingen die noodzakelijk is voor de uitvoering van de overeenkomst waarbij jij partij bent;<br>
                - verwerkingen die noodzakelijk is voor de behartiging van onze gerechtvaardigd belangen;<br>
                - verwerking die noodzakelijk is om te voldoen aan een wettelijke verplichting die op ons rust.<br>
                <br>
            </p>
            <ol type="a">

                <li>
                    <h4>
                        Gebruik van het account: toegang tot de diensten
                    </h4>
                    <p>
                        Voor de toegang tot en het gebruik van je account verwerken we onder meer je e-mailadres en
                        gebruikersnaam
                        (nickname). Daarnaast koppelen wij een IP-adres aan het account zodat je niet elke keer opnieuw
                        je
                        gegevens
                        hoeft in te vullen.
                    </p>
                    <p>
                        Let op: Je gebruikersnaam wordt gepubliceerd bij de door jou geplaatste berichten, recensies
                        en/of
                        advertenties. Deze naam is dus voor andere gebruikers, bezoekers van de Website en de
                        zoekmachines
                        zichtbaar. Ter bescherming van je privacy adviseren we om niet je eigen naam, of een tot jouw
                        persoon
                        herleidbare naam, te gebruiken als gebruikersnaam (nickname).
                        <br><br>
                        Het Account is nodig om je toegang te kunnen geven tot bepaalde onderdelen van de Website en
                        gebruik te
                        kunnen laten maken van bepaalde diensten, waaronder het uitwisselen van berichten en het
                        plaatsen van
                        advertenties of recensies. De verwerkingen van de persoonsgegevens is noodzakelijk voor de
                        uitvoering
                        van
                        onze overeenkomst.
                    </p>
                </li>

                <li>
                    <h4>
                        Plaatsen van advertenties, recensies en reacties op recensies
                    </h4>
                    <p>
                        Via de Website bieden we je de mogelijkheid om advertenties, recensies, en reacties op recensies
                        te publiceren.
                        Voor de publicatie van een betaalde advertentie verwerken we betaalgegevens, waaronder
                        bankgegevens.
                        <br><br>
                        De advertenties, recensies, en reacties op recensies kunnen persoonsgegevens bevatten, waaronder
                        ook bijzondere
                        persoonsgegevens met betrekking tot je seksuele gedrag of seksuele gerichtheid en beeld- en
                        filmmateriaal. De
                        Advertentie, recensies en reacties op recensies (inclusief de (bijzondere) persoonsgegevens) is
                        voor andere
                        Gebruikers van de Website en de zoekmachines zichtbaar.
                        <br><br>
                        Wij mogen je bijzondere persoonsgegevens verwerken omdat je daarvoor uitdrukkelijk toestemming
                        hebt gegeven
                        (artikel 9 lid 2 sub a AVG). De verwerking van de persoonsgegevens is noodzakelijk voor de
                        uitvoering van onze
                        overeenkomst.
                    </p>
                </li>

                <li>
                    <h4>
                        Berichten
                    </h4>
                    <p>
                        Indien je gebruik maakt van de mogelijkheid om via de berichtenfunctie op de Website contact op
                        te nemen met een
                        andere gebruiker, dan is de inhoud van het bericht zichtbaar voor de debruiker met wie je
                        communiceert. Deze
                        verwerkingen is noodzakelijk voor de uitvoering van onze overeenkomst.
                    </p>
                </li>

                <li>
                    <h4>
                        Algemeen contact
                    </h4>
                    <p>
                        Je e-mailadres kunnen wij gebruiken om contact met je op te nemen bijvoorbeeld in verband met
                        (problemen bij)
                        het gebruik van de Website of de diensten, voor het verstrekken van de door jou aangevraagde
                        informatie of het
                        afhandelen van je vraag en/of klacht. Deze verwerking is noodzakelijk voor de uitvoering van
                        onze overeenkomst
                        of voor de behartiging van ons gerechtvaardigd belang om contact te kunnen onderhouden met onze
                        relaties.
                    </p>
                </li>

                <li>
                    <h4>
                        Onderzoek naar gebruik Website
                    </h4>
                    <p>
                        Je IP-adres en informatie uit cookies kunnen worden gebruikt om (op geaggregeerd en anoniem
                        niveau) online
                        gebruiksstatistieken samen te stellen, zoek- en surfgedrag te analyseren en om zodoende een
                        beter beeld te
                        krijgen van het gebruik van de Website. Het is niet mogelijk om aan de hand van deze informatie
                        bezoekers of
                        gebruikers te identificeren, alle gegevens worden direct geanonimiseerd.
                    </p>
                    <p>
                        Deze verwerking van de persoonsgegevens is de noodzaak voor de behartiging van ons
                        gerechtvaardigd belang om het
                        bereik en de doeltreffendheid van onze Website te analyseren en te optimaliseren.
                    </p>
                </li>

                <li>
                    <h4>
                        (Toegangs)controle en bestrijding van fraude, misbruik en minimumleeftijd
                    </h4>
                    <p>
                        Je mailadres en wachtwoord worden gebruikt als toegangscontrole tot je account en om daarmee
                        criminaliteit,
                        fraude en corruptie te voorkomen. Ook wordt het IP-adres gebruikt ter voorkoming van fraude of
                        misbruik van de
                        Website. Aan de hand van het IP-adres wordt bijvoorbeeld gecontroleerd of er dubbele accounts
                        zijn of dat er
                        gefraudeerd wordt met advertenties.
                    </p>
                    <p>
                        Aan de hand van je identiteitsbewijs kunnen wij controleren of een je voldoet aan de
                        minimumleeftijdsgrens.
                        Hiervoor vragen we aan de hand van een door de overheid vervaardigde applicatie, de
                        ‘KopieID-app’ om een
                        tijdelijke inzage in een officieel identiteitsbewijs. Wij verzoeken je daarbij om
                        niet-noodzakelijke
                        persoonsgegevens (zoals bijv. het Burgerservicenummer, nationaliteit, lengte) onzichtbaar te
                        maken. Na deze
                        (tijdelijke) inzage bewaren wij uitsluitend je geboortedatum, zodat wij in staat zijn om aan te
                        tonen dat je
                        meerderjarig bent.
                    </p>
                    <p>
                        De wettelijke grondslag voor deze verwerking van de persoonsgegevens is de noodzaak voor de
                        behartiging van ons
                        gerechtvaardigde belang op het gebied van het bestrijden van fraude, misbruik van onze
                        dienstverlening en
                        onrechtmatig handelen
                    </p>
                </li>

                <li>
                    <h4>
                        Het versturen van onze e-mailnieuwsbrief
                    </h4>
                    <p>
                        Uitsluitend indien je daarvoor toestemming hebt gegeven, gebruiken we je e-mailadres om je onze
                        e-mailnieuwsbrief toe te sturen. Hierin staat voor jou interessante informatie over onze Website
                        en
                        dienstverlening. De wettelijke grondslag voor deze verwerking van de persoonsgegevens is de
                        noodzaak voor de
                        behartiging van ons gerechtvaardigd belang op het gebied van direct marketing.
                    </p>
                    <p>
                        Je kan toestemming altijd intrekken en je afmelden voor de e-mail nieuwsbrief door te klikken op
                        de afmeldlink
                        (‘meld mij af’) onderaan de nieuwsbrief.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <h3>
                BEWAARTERMIJNEN
            </h3>
            <p>
                We verwerken je persoonsgegevens niet langer dan nodig voor het doel waarvoor deze gegevens worden
                verwerkt.
            </p>
            <ol type="a">
                <li>
                    <h4>
                        Accountgegevens
                    </h4>
                    <p>
                        De persoonsgegevens worden in je account bewaard, zolang je bij ons een account/overeenkomst
                        hebt. Je hebt
                        altijd het recht om je account te verwijderen. Dat kan door in te loggen en deze te verwijderen
                        of door een mail
                        te sturen naar privacy@envc.nl. We zullen je account, inclusief je persoonsgegevens, verwijderen
                        indien we je
                        de toegang tot de dienst en Website blokkeren dan wel indien anderszins onze overeenkomst
                        eindigt.
                    </p>
                    <p>
                        Na het verwijderen van je account/ het beëindigen van de overeenkomst kunnen we een aantal
                        accountgegevens nog
                        gedurende een periode van vier weken bewaren. Bijvoorbeeld voor de bestrijding van fraude,
                        misbruik van onze
                        dienstverlening en ander onrechtmatig handelen of om te kunnen voldoen aan een wettelijke
                        verplichting.
                    </p>
                </li>
                <li>
                    <h4>
                        Advertenties, recensies en reactie op recensies
                    </h4>
                    <p>
                        De door jou op de Website gepubliceerde advertenties, inclusief je (bijzondere)
                        persoonsgegevens, blijven
                        gepubliceerd totdat je de advertentie verwijderd en/of de overeenkomst eindigt. Indien een
                        bezoeker de
                        overeenkomst eindigt, dan worden automatisch ook diens recensies verwijderd. Indien een
                        adverteerder de
                        overeenkomst eindigt, dan worden de recensies met betrekking tot diens advertenties en diens
                        reacties op de
                        recensies automatisch verwijderd.
                    </p>
                    <p>
                        Indien een adverteerder een advertentie verwijdert of diens toestemming om recensies bij de
                        advertentie toe te
                        laten intrekt, maar het account in standhoudt, worden de recensies met betrekking tot de
                        advertentie en de
                        reacties op die recensie niet meer op de Website getoond. Deze recensie en reacties op die
                        recensie worden
                        echter wel binnen het platform van MauwiWauwi bewaard, zodat deze weer getoond kunnen worden
                        zodra de
                        adverteerder
                        de advertentie weer publiceert of er weer voor kiest om recensies toe te laten.
                    </p>
                </li>
                <li>
                    <h4>
                        Berichten
                    </h4>
                    <p>
                        De berichten die je via de Website hebt verstuurd en ontvangen, blijven voor jou in je eigen
                        account zichtbaar.
                        Je kan deze berichten altijd zelf verwijderen. Indien je je account eindigt worden de berichten
                        automatisch
                        verwijderd.
                    </p>
                </li>
                <li>
                    <h4>
                        Betaalde advertenties en overige diensten en facturen
                    </h4>
                    <p>
                        De informatie over de advertenties of andere diensten die je hebt afgenomen en betaald, worden
                        automatisch
                        opgeslagen in je account. De facturen zijn daar ook terug te vinden. Wij bewaren de gegevens
                        indien en zolang
                        dat noodzakelijk is om te kunnen voldoen aan onze wettelijke verplichting uit bijvoorbeeld de
                        belastingwetgeving
                        (7 jaar).
                    </p>
                </li>
                <li>
                    <h4>
                        E-mail nieuwsbrieven
                    </h4>
                    <p>
                        Indien toestemming hebt gegeven voor de ontvangst van onze e-mail nieuwsbrief dan verwerken we
                        de bijbehorende
                        persoonsgegevens totdat je je toestemming weer intrekt. Je hebt altijd het recht om deze
                        toestemming in te
                        trekken.
                    </p>
                </li>
                <li>
                    <h4>
                        IP-adres, zoekgedrag en gebruiksgegevens
                    </h4>
                    <p>
                        De informatie over het gebruik van de Website, tijdstip van bezoek, device en browser informatie
                        en locatie
                        informatie wordt direct automatisch geanonimiseerd. Je IP adres wordt door ons bewaard zolang je
                        een Account
                        hebt. Deze wordt na de beëindiging van je Account automatisch verwijderd.
                    </p>
                </li>
                <li>
                    <h4>
                        Algemeen
                    </h4>
                    <p>
                        Tenslotte, indien we de persoonsgegevens om de hierboven genoemde reden niet meer hoeven te
                        verwerken, zullen
                        wij de persoonsgegevens vernietigen en/of anonimiseren, tenzij wij op grond van een wettelijke
                        verplichting of
                        op grond van een bewijsplicht gedwongen zijn om bepaalde persoonsgegevens langer te bewaren. In
                        dat geval zullen
                        uitsluitend de persoonsgegevens die specifiek voor dat doel noodzakelijk zijn bewaard blijven
                        gedurende de van
                        toepassing zijnde bewaartermijn.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <h3>
                VERSTREKKING VAN PERSOONSGEGEVENS AAN DERDEN
            </h3>

            <p>
                Wij verstrekken de persoonsgegevens niet aan derden, tenzij wij daartoe op grond van een wettelijke
                verplichting zijn gehouden. Dat kan bijvoorbeeld het geval zijn indien de politie of een andere bevoegde
                autoriteit persoonsgegevens, op basis van en wettelijke bepaling, vordert.
            </p>
            <ul>
                <li>
                    <h4>
                        Verwerkers
                    </h4>
                    <p>
                        Voor het beheer van de op de Website geplaatste advertenties, voor de afwikkeling van de
                        betaling of voor andere
                        diensten die verband houden met onze Website of diensten, kunnen wij gebruik maken van andere
                        dienstverleners.
                        Bijvoorbeeld de door ons ingeschakelde beheerders of softwareontwikkelaars of
                        betaaldienstverleners. Deze
                        leveranciers (zogenaamde ‘verwerkers’) verwerken de persoonsgegevens uitsluitend in onze
                        opdracht. Met de verwerkers
                        hebben wij een verwerkersovereenkomst gesloten waarin de verwerker wordt verplicht om alle
                        verplichtingen uit de AVG
                        en dit Privacy Policy te leven. Voor vragen over deze verwerkers kan je contact opnemen met onze
                        privacy medewerker
                        via privacy@envc.nl.
                    </p>
                </li>
                <li>
                    <h4>
                        Verwerkers buiten de EER
                    </h4>
                    <p>
                        Een paar van onze leveranciers zijn gevestigd buiten Europese Unie. Indien deze leveranciers,
                        namens ons, uw
                        persoonsgegevens verwerken, zorgen wij ervoor dat er sprake is van passende waarborgen, waarmee,
                        in
                        overeenstemming met de AVG, een gelijkwaardig en voldoende niveau van bescherming wordt geboden
                        voor uw rechten
                        en vrijheden. Dit doen we bijvoorbeeld door erop toe te zien dat de leverancier gebonden is aan
                        de door de
                        Europese Commissie goedgekeurde modelcontracten voor doorgifte van persoonsgegevens naar landen
                        buiten de EU
                        (“Standard Contractual Clauses”). Voor meer informatie over de waarborgen inzake de doorgifte
                        buiten de EU kunt
                        u contact opnemen met onze privacy medewerker via privacy@envc.nl.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <h3>
                BEVEILIGINGSMAATREGELEN
            </h3>

            <p>
                Ter bescherming van je persoonsgegevens hebben wij passende technische en organisatorische maatregelen
                getroffen. Hiermee worden je persoonsgegevens beveiligd tegen verlies of enige vorm van onrechtmatige of
                ongeoorloofde verwerking en tegen onopzettelijk verlies, vernietiging of beschadiging.
            </p>
            <p>
                De technische beveiligingsmaatregelen bestaan onder meer uit het gebruik van secure socket layer (SSL)/
                Transport layer security (TLS) encryptie of andere vormen van versleuteling, Encrypted passwords –
                servers
                protected by advanced firewall. De organisatorische maatregelen bestaan er bijvoorbeeld uit dat alleen
                daartoe bevoegde medewerkers van MauwiWauwi je gegevens mogen inzien. Deze medewerkers hebben alleen
                toegang
                tot uw persoonsgegevens voor zover dat noodzakelijk is om hun taken uit te voeren.
            </p>
        </li>
        <li>
            <h3>
                JOUW RECHTEN
            </h3>

            <p>
                Je kan op elk moment via onze mailadres privacy@envc.nl een verzoek indienen om je persoonsgegevens in
                te
                zien, te verkrijgen, te corrigeren, te beperken of te verwijderen. Wij zullen je verzoek steeds
                onverwijld
                in behandeling nemen en je, in ieder geval binnen een maand na ontvangst van het verzoek, informeren
                over
                het gevolg dat aan het verzoek is gegeven. Indien we je verzoek niet kunnen inwilligen zullen we dat
                altijd
                nader toelichten. Indien we je verzoek tot de verkrijging van je persoonsgegevens inwilligen, zullen we
                de
                persoonsgegevens op een door ons te bepalen standaardformaat aan jou of aan een door jou aangewezen
                derde
                partij ter beschikking stellen.
            </p>
            <p>
                Je kan altijd je toestemming intrekken en/of bezwaar maken tegen de (verdere) verwerking van je
                persoonsgegevens. Dat kan via je account, maar ook door contact op te nemen met onze privacy medewerker
                via
                privacy@envc.nl. Wij zullen je verzoek onverwijld, in ieder geval binnen een maand, in behandeling nemen
                en
                de betreffende persoonsgegevens verwijderen, tenzij wij op grond van dwingende gerechtvaardigde gronden
                of
                een wettelijke verplichting genoodzaakt zijn de betreffende persoonsgegevens langer te bewaren. Indien
                dat
                geval, zullen wij je hiervan op de hoogte brengen en onze afweging motiveren.
            </p>
            <p>
                Indien je klachten hebt over de wijze waarop wij je persoonsgegevens verwerken of je verzoeken
                behandelen,
                kan je contact opnemen met onze privacy medewerker via privacy@envc.nl. Indien dit niet leidt tot een
                oplossing kan je natuurlijk altijd gebruik maken van je recht om een klacht in te dienen bij de
                Autoriteit
                Persoonsgegevens (www.autoriteitpersoonsgegevens.nl) of een beroep te doen op de bevoegde rechter.
            </p>
            <p>
                Eventuele andere vragen of opmerkingen over dit Privacy Policy kunnen worden gericht aan onze
                klantenservice
                (privacy@envc.nl).
            </p>
        </li>
        <li>
            <h3>
                WIJZIGINGEN
            </h3>
            <p>
                Dit Privacy Policy kan worden gewijzigd. Indien wij wijzigingen aanbrengen zullen we de gewijzigde
                versie ten minste een maand voordat deze in werking treedt op de Website of per e-mail bekend maken. Wij
                adviseren je om regelmatig het Privacy Policy te bekijken. Indien je het niet eens bent met de
                wijzigingen, kan je altijd je account verwijderen en daarmee de overeenkomst te beëindigen.
            </p>
        </li>
    </ol>
    <br>
    <hr>
    <br>
    <br>
    <p>Renkum, juli 2022</p>
    <br>
    <br>
    <br>
</div>