@import '../../../assets/styles/variables.less';

h1, h2, h3, h4 {
    color: @ui-color-2;
}

h3 {
    font-weight: @font-medium;
}

hr {
    background-color: @ui-color-2;
}

ol li {
    &::marker {
        font-weight: @font-medium;
        font-size: 16px;
        color: @ui-color-2;
    }

    ol {
        li {
            &::marker {
                font-size: 15px;
                font-weight: @font-regular;
                color: @ui-color-2;
            }
        }
    }
}