<input type="file" [multiple]="false" accept="video/*" class="file-input" (change)="selectFile($event)" #fileUpload />


<div class="file-upload">
    <button class="btn-file-select btn btn-round" (click)="fileUpload.click()">
        Video selecteren
        <i class="fas fa-paperclip"></i>
    </button>
    <button class="btn btn-upload btn-round" type="submit" [disabled]="!selectedFiles" (click)="upload()">
        Bestanden opslaan
        <i class="fas fa-cloud-upload-alt"></i>
    </button>
</div>

<div *ngIf="aFiles" class="selected-file">
    <div class="video-file">
        {{"Video " + aFiles + " geselecteerd"}}
    </div>
</div>

<div *ngIf="currentFileUpload" class="progress mt-2">
    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
    </div>
</div>