<div class="content">
    <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="title">Deregistreer</h1>
                </mat-card-title>
            </mat-card-header>
    
            <form class="deregister-form">
    
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="E-mail Adres" #userEmail required>
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" #userPwd required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    
    
                </mat-card-content>
    
                <button mat-stroked-button color="accent" class="btn-block" value="Sign Off" (click)="onRemoveRegistry(userEmail.value, userPwd.value)">Deregistreer</button>
                <button mat-stroked-button color="primary" class="btn-block back" (click)="backClicked()"><mat-icon aria-hidden="false" aria-label="return arrow_back icon">arrow_back</mat-icon>Ga terug</button>
    
            </form>
        </mat-card>
    </div>
</div>