<div class="compat-object-fit" style='background-image: url("{{fileUpload.url}}");'><img src="{{ fileUpload.url }}"></div>

<button (click)="deleteFileUpload(fileUpload)" class="btn btn-delete" style="float: right">
    <mat-icon aria-hidden="false" aria-label="verwijder icon" class="material-icons">delete</mat-icon>
</button>