@import '../assets/styles/variables.less';

@import '../assets/styles/variables.less';

.consent-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 7;
    opacity: 1;
    background-image: url(../assets/logo-2.png);
    background-size: 550px 550px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    // @media (max-width: @responsive_breakpoint) {
        background-position-y: -170px;
    // }

    &.closed {
        transition: all 0.5s ease-in-out;
        opacity: 0;
        width: 1px;
        height: 1px;
        rotate: 360deg;
        overflow: hidden;
    }

    .consent-logo {
        width: 50vw;
        height: auto;
        margin: 0 auto;
        display: flex;
    }

    .consent-text-container {
        position: relative;
        max-width: 500px;
        top: 30vh;
        margin: 0 auto;
        text-align: center;
        // background: white;
        border: 1px solid rgba(13, 110, 253, 0.6);
        box-shadow: 0px 3px 14px 0px rgb(13 110 253 / 60%);
        border-radius: 20px;
        color: #fff;
        padding: 15px
    }
}

.button-consent {
    background: none;
    color: @ui-color-2_lighten;
    padding: 0;
    text-decoration: underline;
    font-weight: @font-medium;
    border: none;
}

::ng-deep .mat-slide-toggle {
    width: 100%;
    height: auto !important;

    .mat-slide-toggle-label {
        display: grid !important;
        grid-template-columns: 1fr 60px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 60px;

        .mat-slide-toggle-content {
            text-align: left;
            white-space: normal;
        }
    }

    &:not(.mat-disabled) {
        .mat-slide-toggle-thumb {
            background-color: red; /*replace with your color*/
        }

        .mat-slide-toggle-bar {
            background-color: rgb(250, 184, 184);  /*replace with your color*/
        }
    }

    &.mat-checked:not(.mat-disabled) {
        .mat-slide-toggle-thumb {
            background-color: blue; /*replace with your color*/
        }

        .mat-slide-toggle-bar {
            background-color: skyblue;  /*replace with your color*/
        }
    }
}

// ::ng-deep .mat-slide-toggle

// ::ng-deep .mat-slide-toggle:not(.mat-disabled) 

// ::ng-deep .mat-slide-toggle

// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) 