<div id="consent" [ngClass]="!consent ? 'open' : 'closed'" class="consent-screen" >
  <!-- <img src="../assets/logo-2.png" class="consent-logo" /> -->
  <div class="consent-text-container">
    <div class="consent-text"><p>Welkom op Erotic Night Vibes Contacten (envc.nl).</p><p>Deze website is alleen bedoeld voor personen boven de 18jaar.</p><p>Voordat u verder kunt dient u akkoord te gaan met de <button class="button-consent" id="consent-0" name="consent-0" (click)="goToConsent($event,'TermsAndConditions')">Algemene voorwaarden</button> en het <button class="button-consent" id="consent-1" name="consent-1" (click)="goToConsent($event, 'PrivacyPolicy')">Privacy policy</button>.</p><p>ENVc.nl gebruikt functionele en analytische <button class="button-consent" id="consent-2" name="consent-2" (click)="goToConsent($event, 'CookiesStatement')">cookies</button> voor website optimalisatie en statistieken</p></div>
    <hr>
    <div class="buttons-container">
      <mat-slide-toggle  
      [labelPosition]="labelPosition"
      [checked]="checked"
      [disabled]="disabled" 
      (change)="onToggle($event)">Ik verklaar 18 jaar of ouder te zijn.</mat-slide-toggle>
      <hr>
      <mat-slide-toggle  
      [labelPosition]="labelPosition"
      [checked]="checked"
      [disabled]="disabled" 
      (change)="onToggle($event)">Ik ga akkoord met de Algemene voorwaarden en Privacy policy.</mat-slide-toggle>
      <hr>
      <mat-slide-toggle  
      [labelPosition]="labelPosition"
      [checked]="checked"
      [disabled]="disabled" 
      (change)="onToggle($event)">Ik ga akkoord met het Cookie statement en accepteer cookies volgens Mijn instellingen.</mat-slide-toggle>
    </div>    
  </div>
</div>
<div class="nav-filter-container">
  <app-main-navbar class="nav-container"></app-main-navbar>
  <app-filter-one class="breadcrumbs-container"></app-filter-one>
  <div class="deco-bar"></div>
</div>
<section class="content-container">
  <main>
    <router-outlet></router-outlet>
  </main>
</section>
<app-footer class="footer-container"></app-footer>