<mat-dialog-actions>
  <button class="btn btn-close" (click)="close()">
    <mat-icon aria-hidden="false" aria-label="Sluiten icon" class="material-icons">close</mat-icon>
  </button>
</mat-dialog-actions>
<mat-dialog-content>
  <ngb-carousel
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"
    [keyboard]="keyboard"
    [pauseOnHover]="pauseOnHover"
    [wrap]="wrap"
    [activeId]="activeSlide"
    [interval]="interval"
    [touch]="touch"
    #carousel="ngbCarousel"
    data-ride="carousel">
    <ng-template ngbSlide *ngFor="let slide of images; let i = index" (slide)="onSlide($event)" id="slide-{{i}}">
      <div class="img_overlay">
        <div class="picsum-img-wrapperclass compat-object-fit" style='background-image: url("{{slide}}");'>
          <img [src]="slide" alt="Gebruikers foto's">
          <img class="img-overlay" alt="img-overlay" src="../../../assets/logo-2.svg">
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</mat-dialog-content>