<video width="100%" height="140px" controls>
    <source src="{{ fileUpload.url }}">
</video>

<button (click)="deleteFileUpload(fileUpload)" class="btn btn-delete" style="float: right">
    <mat-icon aria-hidden="false" aria-label="verwijder icon" class="material-icons">delete</mat-icon>
</button>