<div class="language-selection">
    <select (change)="changeLanguage($any($event.target).value)">
        <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
    </select>
</div>
