<div class="accType accType-2">
    <form [formGroup]="this.userDataService.form1" novalidate="" class="ng-untouched ng-pristine ng-valid">
        <div class="content profile-view">
            <div class="card card-user intro">
                <div class="card-header">
                    <h3 class="card-title">{{(this.user_data?.displayName) ? this.user_data?.displayName : 'User'}}</h3>
                </div>
                <div class="card-body">
                    <div class="author">
                        <div class="compat-object-fit" style='background-image: url("{{firstFileUrl}}");'>
                            <img alt="Profiel plaatje" class="avatar border-gray" src="{{firstFileUrl}}">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="user text-center">{{(this.user_data?.introTitle)? this.user_data?.introTitle : ''}}</p>
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div>
                                <div>reviews: {{this.userReviews?.length}}</div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="info">
                    <div>
                        <div class="card card-user details">
                            <div class="card-header">
                                <h3 class="card-title">Details: {{(this.user_data?.displayName) ?
                                    this.user_data?.displayName :
                                    'User'}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="row title-container">
                                            <span class="user_options_title col-md-12">Gebruikersnaam:</span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control"
                                                    placeholder="Pas hier uw getoonde naam / gebruikersnaam aan"
                                                    type="text" name="displayName"
                                                    [value]="(this.user_data?.displayName)? this.user_data?.displayName : 'User'"
                                                    formControlName="displayName">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="row title-container">
                                            <span class="user_options_title col-md-12">Email adres:</span>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill">
                                                <input matInput class="form-control" placeholder="{{this.user_data?.email}}"
                                                    type="email" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Update/edit form -->
                        <div class="button-container">
                            <button class="btn btn-submit btn-round" type="submit"
                                [disabled]="!this.userDataService.form1.dirty" (click)="onSubmit()">Profiel opslaan
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Foto's">
                    <div class="card card-user fileUploads">
                        <div class="card-header">
                            <h3 class="card-title">Foto's beheer:</h3>
                        </div>
                        <div class="bestands-selectie">
                            <app-upload-form></app-upload-form>
                        </div>
                        <div class="bestands-lijst fotos">
                            <app-upload-list></app-upload-list>
                        </div>
                        <!-- <div class="card-body">
                            <div class="bestands-lijst fotos">
                                <app-upload-list></app-upload-list>
                            </div>
                        </div> -->
                    </div>
                </mat-tab>
                <mat-tab label="Review's">
                    <div class="card card-user fileUploads">
                        <div class="card-header">
                            <h3 class="card-title">Reviews beheer:</h3>
                        </div>

                        <div class="card-body">
                            <div class="title-container">
                                <span class="user_options_title">Geplaatste review's:</span>
                            </div>
                            <hr>
                            <div class="reviews">
                                <div class="reviews-list">
                                    <div class="reviews-list-container">
                                        <span class="warning" *ngIf="this.userReviews?.length === 0">Er zijn nog geen
                                            reviews geplaatst.</span>
                                        <div *ngIf="this.userReviews?.length !== 0">
                                            <div *ngFor="let rev of this.userReviews; index as i;"
                                                class="review-item item-{{i}}">
                                                <a routerLink="../user-details/{{rev.uid.reviewer}}" class="tile-routing" routerLinkActive="active"><span class="reviewer">{{rev.displayName}}</span></a>
                                                <div class="review-content-container"
                                                    [ngClass]="i == selectedIndex ? 'open' : 'closed'">
                                                    <div class="button-container">
                                                        <button (click)="deleteReview(rev.uid.reviewer, rev.uid.datum)" class="btn btn-delete" title="Review {{rev.displayName}} verwijderen">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                    <span class="rating">
                                                        <span class="rating-date">{{rev.uid.datum | date: 'dd-MM-yyyy -
                                                            hh:mm'}}</span>
                                                        <div class="ratings">
                                                            <div class="empty-stars"></div>
                                                            <div class="full-stars"
                                                                [style.width]="this.scorePercentage[i]"></div>
                                                        </div>
                                                        <span class="rating-text">{{rev.uid.score.toFixed(1)}} / 5</span>
                                                    </span>
                                                    <hr>
                                                    <div class="review-content-text" #contentText>
                                                        <div [innerHTML]="rev.uid.review ? rev.uid.review : '<p>Geen comentaar geplaatst.</p>'"></div>
                                                        <hr>
                                                        <div class="rating-title"><b>Beoordeelde services:</b></div>
                                                        <hr>
                                                        <div class="">
                                                            <div *ngIf="rev.uid.hygene != 0"
                                                                class="hygene-item-container">
                                                                <div class="service-item ratings">
                                                                    <div class="empty-stars"></div>
                                                                    <div class="full-stars"
                                                                        [style.width]="rev.uid.hygene ? rev.uid.hygene * 20 +'%': '0%'"></div>
                                                                </div>
                                                                <div class="service-item name">Hygiëne</div>
                                                            </div>
                                                            <div *ngIf="rev.uid.location != 0"
                                                                class="location-item-container">
                                                                <div class="service-item ratings">
                                                                    <div class="empty-stars"></div>
                                                                    <div class="full-stars"
                                                                        [style.width]="rev.uid.location ? rev.uid.location * 20 +'%': '0%'"></div>
                                                                </div>
                                                                <div class="service-item name">Locatie</div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="service-ratings">
                                                            <ng-template ngFor let-ser [ngForOf]="rev.revs">
                                                                <div *ngIf="ser && ser.rating && ser.rating != 0"
                                                                    class="service-item-container">
                                                                    <div class="service-item ratings">
                                                                        <div class="empty-stars"></div>
                                                                        <div class="full-stars"
                                                                            [style.width]="ser && ser.rating ? ser.rating * 20 +'%': '0%'"></div>
                                                                    </div>
                                                                    <div class="service-item name">{{ser.name}}</div>
                                                                </div>
                                                            </ng-template>
                                                        </div>
                                                        <div class="read-more_container" (click)="selectedReview(i)">
                                                            <button class="read-more">
                                                                <i *ngIf="i == selectedIndex" class="fas fa-angle-up"></i>
                                                                {{(i == selectedIndex ? 'Lees Minder' : 'Lees Meer')}}
                                                                <i *ngIf="i != selectedIndex" class="fas fa-angle-down"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>
</div>