<mat-dialog-actions>
    <button class="btn btn-close" (click)="close()">
        <mat-icon aria-hidden="false" aria-label="Sluiten icon" class="material-icons">close</mat-icon>
    </button>
</mat-dialog-actions>
<mat-dialog-content class="consent-dialog">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators"
        [keyboard]="keyboard" [pauseOnHover]="pauseOnHover" [wrap]="wrap" [activeId]="activeSlide" [interval]="interval"
        [touch]="touch" #carousel="ngbCarousel" data-ride="carousel">
        <!--<ng-template ngbSlide *ngFor="let slide of consents; let i = index" (slide)="onSlide($event)" id="slide-{{i}}">-->
        <ng-template ngbSlide (slide)="onSlide($event)" id="consent-0">
            <app-terms-and-conditions></app-terms-and-conditions>
        </ng-template>
        <!-- <ng-template ngbSlide *ngFor="let slide of consents; let i = index" (slide)="onSlide($event)" id="slide-{{i}}"> -->
        <ng-template ngbSlide (slide)="onSlide($event)" id="consent-1">
            <app-privacy-policy></app-privacy-policy>
        </ng-template>
        <!-- <ng-template ngbSlide *ngFor="let slide of consents; let i = index" (slide)="onSlide($event)" id="slide-{{i}}"> -->
        <ng-template ngbSlide (slide)="onSlide($event)" id="consent-2">
            <app-cookies-statement></app-cookies-statement>
        </ng-template>
    </ngb-carousel>
</mat-dialog-content>