/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/grid';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: @background-color;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: @text-color;
    font-size: 14px;

    .body-container {
        .container {
            display: block;

            main {
                margin-top: 20px;

                .content {
                    padding: 20px 0;
                    position: relative;
                }
            }
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-bottom: 0;
}

//Icons
//material-icons
.mat-icon,
.material-icons,
//fontawsome
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    font-size: 23px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 24px;

    &.fa-user-cog {
        font-size: 18px;
    }
}

.img_link {
    z-index: 3;
}

.img_overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: transparent;
    pointer-events: none;
}

img {
    max-width: 100%;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.cdk-overlay-pane {
    .mat-dialog-container {
        background: none;
        box-shadow: none;
        overflow: visible;

        .mat-dialog-actions {
            position: relative;
            margin-bottom: -15px;
        }

        .mat-dialog-content {
            height: 65vh;
            width: 80vw;
            border-radius: 5px;
            border: 1px solid rgba(13, 110, 253, 0.6);
            box-shadow: 0px 3px 14px 0px rgb(13 110 253 / 60%);
            padding: 0;
            background: #000;

            .carousel {
                height: 100% !important;

                .carousel {

                    &-inner,
                    &-item {
                        height: 100%;
                    }

                }

            }

            &.childDialog,
            &.employeeDetailsDialog {
                height: auto;
                overflow: hidden;
                background: transparent;
                border: none;
                box-shadow: none;
                max-height: initial;

                .mat-tab-body-wrapper {
                    height: 80vh;
                }
            }

            &.consent-dialog {
                background: #fff;
                padding: 20px;

                .carousel {
                    .carousel {
                        &-inner {
                            overflow-y: auto;
                        }
                        &-item {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

.mat-hint {
    color: @ui-color-2;
    font-weight: @font-medium;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: @ui-color-2;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity ease-in-out 0.2s;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    height: 100vh;
    cursor: default;

    &.open {
        opacity: 1;
        overflow: hidden;

        &+.content {
            pointer-events: none;
        }
    }
}

.devider {
    margin: 0 5px;
    height: 24px;
}

.nav-filter-container {
    background: @ui-color-4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    -webkit-box-shadow: 0px 3px 25px 3px rgba(13, 109, 253, 0.6);
    box-shadow: 0px 3px 25px 3px rgba(13, 110, 253, 0.6);

    .breadcrumbs-container {
        padding-left: 20px;
        z-index: 1;
        border-top: 1px solid rgba(13, 110, 253, 0.6);

        .breadcrumbs {
            padding-top: 6px;


            .button-container {
                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        text-decoration-color: #3d3dd9;
                        text-decoration-thickness: 4px;
                    }
                }
            }
        }
    }
}

.deco-bar {
    background: @ui-color-2;
    box-shadow: 0px 0px 8px 8px @ui-color-2;
}

.accType {
    display: none;

    &.accType {
        &-1 {
            display: block;
        }

        &-2 {
            display: block;
        }

        &-3 {
            display: block;
        }
    }
}

.main-wrapper {
    background-color: rgba(0, 0, 0, .6);
    align-items: flex-start;

    .example-form {
        min-width: 100%;
        max-width: 300px;
        width: 100%;
    }

    .example-full-width,
    .btn-block {
        width: 100%;
    }

    mat-card-header {
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 700;

        mat-card-title {
            font-size: 30px;
            margin: 0;

            .title {
                font-size: 20px;
                color: @ui-color-2;
                font-weight: @font-medium;
            }
        }
    }

    .mat-card {
        padding: 45px 70px 55px;
    }

    .mat-stroked-button {
        border: 1px solid currentColor;
        line-height: 54px;
        background: #FFF7FA;
        margin-bottom: 20px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0.8375em 0;
    }

    .redirectToLogin {
        >span {
            display: block;
            text-align: center;
        }

        .redirect {
            text-decoration: underline;
            display: block;
            cursor: pointer;
            color: @ui-color-2;
            font-weight: @font-medium;
            margin-top: 10px;
        }
    }
}

.users-filters {
    background: @ui-color-4;
    border-radius: 5px;
    border: 1px solid @ui-color-2;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
    box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
    position: relative;
    z-index: 3;

    .filters-container {
        width: 100%;
        display: inline-block;
        position: relative;

        .inner-container {
            position: absolute;
            top: 36px;
            left: 0;
            right: 0;
            height: 500px;
            background: @ui-color-4;
            transition: all 0.5s ease-in-out;
            border-radius: 0 0 5px 5px;
            z-index: 3;
            border-bottom: 1px solid @ui-color-2;
            border-left: 1px solid @ui-color-2;
            border-right: 1px solid @ui-color-2;
            overflow: hidden;
            box-shadow: 0px 3px 14px 0px rgb(13 110 253 / 60%);

            .container {
                padding: 10px;
                background: white;

                .filter-options {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #8181fa;

                    &_title {
                        font-weight: @font-medium;
                        color: @ui-color-2;
                    }

                    &_option {
                        font-size: 12px;
                        height: 20px;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        input {
                            vertical-align: middle;
                            position: relative;
                        }

                        .mat-checkbox-inner-container {
                            height: 12px;
                            width: 12px;
                            margin-right: 3px;
                        }
                    }

                    &_age {
                        .age-slider-label-container {
                            font-size: 11px;

                            .left-label-min {
                                float: left;
                            }

                            .right-label-max {
                                float: right;
                            }
                        }
                    }

                    &.services {
                        .labels-container {
                            max-height: 110px;
                            overflow-y: auto;
                            padding: 5px;
                            box-shadow: inset 0 0 10px rgb(13 110 253 / 60%);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        &.closed {
            .inner-container {
                height: 0;
                border: 0;
            }

        }

        &.open {
            .inner-container {
                max-height: 425px;
                height: 425px;
            }
        }

        .filter-container {
            border-left: 1px solid @ui-color-2;
            border-right: 1px solid @ui-color-2;

            .search-container {
                transition: all ease-in-out 0.5s;
                width: 0;
                overflow: hidden;

                &.open {
                    max-width: 250px;
                    width: 250px;
                }

                .container-inner {
                    display: inline-block;
                    width: 250px;
                    position: relative;

                    .btn-clear {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                }

                #search-text {
                    height: 35px;
                }
            }
        }
    }
}

// Footer
.footer-container {
    position: fixed;
    z-index: 2;
    bottom: 0;
    height: 90px;
    right: 0;
    left: 0;
    background: @ui-color-4;
    color: #FFF;
    -webkit-box-shadow: 0px -5px 14px 10px rgba(13, 110, 253, 0.6);
    box-shadow: 0px -5px 14px 10px rgba(13, 110, 253, 0.6);

    .footer {
        padding: 10px 0;
    }
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;

    &.back {
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        top: -20px;
        opacity: .8;
        z-index: -1;
    }

    &:before {
        content: "";
        width: 100%;
        height: 30px;
        border-radius: 10px;
        position: absolute;
        top: -10px;
        background: rgba(255, 255, 255, .6);
        left: 0;
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        z-index: -1;
    }
}

// File-upload component
.file-upload {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.photos-list {
    .photo-item {
        height: 250px;
        border-radius: 5px;
        // border: 1px solid rgba(13,110,253,0.6);
        -webkit-box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
        box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }

        .photo-container {
            height: 100%;
        }
    }
}

.video-list {
    .video-item {
        video {
            -webkit-box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
            box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
            border-radius: 5px;
            overflow: hidden;
        }
    }
}

.files-list {
    .file-item {
        max-height: 322px;
        position: relative;

        .compat-object-fit {
            height: 100%;
            border-radius: 5px;
            border: 1px solid rgba(13, 110, 253, 0.6);
            -webkit-box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
            box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
            overflow: hidden;
        }
    }
}

.videos {
    .files-list {
        .file-item {
            video {
                width: calc(100% - 50px; )
            }
        }
    }
}

.advert-list {
    &_container {
        .user-item {
            .card-user {
                &.intro {
                    position: relative;

                    .card-footer {
                        .btn-container {
                            .btn {
                                border: 1px solid transparent;
                                padding: 5px 11px;
                                margin: 0;
                                i {
                                    font-size: 16px;
                                    margin: 0;
                                }
                                &:last-child {
                                    float: right;
                                }

                                &:hover, &:active, &:focus {
                                    border-color: white;

                                }
                            }
                        }

                        hr {
                            color: inherit;
                        }

                        .bottom-container {
                            .prefs-container {
                                ul {
                                    list-style-type: disclosure-closed;
                                    padding-inline-start: 0;
                                    padding-left: 0;
                                    li {
                                        font-size: 11.5px;
                                        list-style-position: inside;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Profile dashboard
.card {
    -webkit-box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
    box-shadow: 0px 3px 14px 0px rgba(13, 110, 253, 0.6);
    border-color: @ui-color-2;
    border-radius: 5px;
    overflow: hidden;
    border-top: 0;

    &-user {
        &.intro {
            position: fixed;
            background: @ui-color-4;
            max-width: 300px;
            width: 100%;

            .card-body {
                background: @ui-color-1;
                overflow: hidden;

                .author {
                    pointer-events: none;
                    box-shadow: 0px 3px 14px 0px rgb(13 110 253 / 60%);

                    .user {
                        margin-top: 10px;
                        color: @ui-color-2;
                        font-weight: @font-medium;
                    }
                }
            }

            .card-footer {
                background: @ui-color-2;
                color: @ui-color-1;
                // -webkit-box-shadow: 0px -1px 14px 10px rgba(13, 110, 253, 0.6);
                box-shadow: 0 -1px 5px 5px rgba(0, 0, 0, 0.26);

                h5 {
                    font-size: calc(11.62px);
                    font-weight: normal;
                    height: 20px;
                    text-align: center;
                    margin: 5px 0;

                    .icon-container {
                        margin-bottom: 5px;
                    }
                }

                .btn-showPhone {
                    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.4);
                }
            }
        }
    }

    .card-header {
        background-color: @ui-color-2;
        color: @ui-color-1;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.26), 0 1px 10px rgba(0, 0, 0, 0.08);
        z-index: 1;

        h3 {
            margin-bottom: 0;
            text-align: center;
            font-size: 18px;
        }
    }

    .card-body {
        background: @ui-color-1;

        .author {
            border: 1px solid rgba(13, 110, 253, 0.25);
            background-color: #eee;
            border-radius: 5px;
            overflow: hidden;

            .title {
                text-align: center;
            }
        }

        hr {
            color: @ui-color-2;
        }

        .mat-radio-group {
            width: 100%;
            display: inline-block;
        }

        .title-container {
            margin-bottom: 16px;

            span {
                color: @ui-color-2;
                font-weight: 500;
            }
        }

        .container {
            &-content {
                .mat-radio-button {
                    margin: 2.5px 0;
                }
            }

            &-availability {
                > div {
                    &.icon-container {
                        text-align: center;
                        position: relative;
                        
                        .material-icons {
                            .v-align();
                            margin: 0;
                            color: red;
                            font-size: 30px;
                            left: 0;
                            right: 0;
                            // .animate(font-size, 0.5s,);
                        }
                    }
                    &.notification-container {
                        p {
                            margin: 6px 0;
                        }
                    }
                }
                
                .col-11 {
                    p {
                        margin: 2px 0;
                    }
                }
            }
        }
    }

    &.fileUploads {
        background: #000;

        .bestands-lijst {
            margin-top: 20px;
            border-top: 1px solid @ui-color-2;
            padding-top: 20px;
        }
    }
}

.users-container {
    .card {
        &-user {
            &.intro {
                .card {
                    &-body {
                        .author {
                            min-height: 260px;
                            max-height: 260px;
                        }
                    }

                    &-footer {
                        .user {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            height: 20px;
                            margin: 0;
                        }

                        .devider {
                            &-top {
                                margin: 5px 0;
                            }

                            &-bottom {
                                margin: 5px 0;
                            }
                        }

                        .rating-container {
                            height: 24px;
                            text-align: center;
                            padding-top: 2px;

                            .ratings {
                                margin-right: 5px;

                                .empty-one-star {
                                    color: @ui-color-2;
                                }

                                .full-one-star {
                                    color: #FFF;
                                }

                                .empty-one-star,
                                .full-one-star {
                                    &:before {
                                        font-size: 20px;
                                        -webkit-text-stroke: 1px white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// user-details
.user-details {
    .card {
        &.card-user {
            .card-body {
                .author {
                    .avatar {
                        border-radius: 5px;
                    }
                }
            }

            &-details {
                .card-body {
                    .prefs {
                        margin-right: 10px;
                        font-size: 14px;

                        i {
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }

                    .user_options_title {
                        color: @ui-color-2;
                        font-weight: 500;
                        // padding: 10px 0 0;
                    }

                    .lang_icons {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        display: inline-block;
                        position: relative;

                    }

                    .user_info {
                        .user_options_title {
                            display: inline-block;
                            width: 140px;
                        }
                    }


                }

                &.services {
                    .servs {
                        text-decoration: wavy;

                        // color: @ui-color-2;
                        i {
                            font-size: 14px;
                            line-height: 14px;
                            color: @ui-color-2;
                        }
                    }
                }

                &.po_prices,
                &.es_prices {
                    .user_options_title {
                        width: 80px;
                        display: inline-block;

                    }
                }

                &.availability {
                    .card-body {
                        .days-container {
                            text-align: center;

                            .days-container-inner {
                                text-align: left;

                                .a-days {
                                    .a-times {
                                        font-weight: @font-medium;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .card-footer {
            .button-container {
                .icon-container {
                    width: 100%;
                    display: block;

                    i {
                        margin: 0;
                    }
                }
            }
        }

        &.advert-list {
            .card-footer {
                .button-container {
                    .icon-container {
                        display: inline-block;
                        text-align: center;
                        width: auto;
                    }
                }

                .rating-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: repeat(3, 33.33%);
                    -ms-grid-columns: 33.33% 33.33% 33.33%;
                }
            }
        }
    }
}

.mat-form-field {
    width: 100%;

    textarea {
        min-height: 100px;
    }
}

.mat-slider-horizontal {
    height: 20px !important;
    padding: 0 !important;

    .mat-slider-wrapper {
        top: 9px !important;
    }
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: @ui-color-2;
}

.mat-tab-header-pagination-chevron {
    border-color: @ui-color-2;
}

.cdk-overlay-container {
    .mat-tab-header-pagination-chevron {
        border-color: #fff;
    }
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
    border-color: rgba(255, 255, 255, .38);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
}

// View pages
.profile-view,
.user-details,
.advert-profile-view,
.employee-details-view {
    .card {
        margin-bottom: 20px;
    }

    .mat-tab-group {
        max-height: calc(~'100vh - 215px');

        &.mat-primary {
            .mat-ink-bar {
                background-color: #fff;
            }
        }
    }

    .mat-tab-header {
        .mat-tab-label {
            border-radius: 5px 5px 0 0;
            background-color: @ui-color-2;
            color: #fff;
            margin-right: 10px;

            &-active {
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .mat-tab-body-content {
        > div {
            margin-right: 10px;

            &.advert-list {
               > .card-body {
                    background: @ui-color-4;
                }
            }
        }
    }

    .button-container {
        text-align: center;
    }
}

// Homepage
.users {
    height: calc(~'100vh - 260px');
    overflow-y: auto;
    padding: 20px 0 45px 20px;

    .users-container {
        margin-right: 10px;
        // test
    }

    &.grid {
        .user-item {
            a {
                .card {
                    border: 0;

                    &-user {
                        .card-header {
                            .onOffLine-icon {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                margin-right: 0;
                            }
                        }

                        .card-body {
                            text-align: center;
                        }

                        .card-footer {
                            display: block;
                        }
                    }
                }
            }
        }

        .list-view-container {
            display: none;
        }
    }

    &.list {
        .user-item {
            a {
                text-decoration: none;

                .card {
                    border: 0;

                    &-user {
                        .card-header {
                            .onOffLine-icon {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }
                        }

                        .card-body {
                            .author {
                                max-height: 185px;
                                max-width: 165px;
                            }

                            .list-view-container {
                                font-size: 12px;

                                hr {
                                    margin: 5px 0;
                                }

                                .user_options_title {
                                    font-size: 14px;
                                    font-weight: @font-medium;
                                    margin-bottom: 0;
                                    height: 20px;
                                }

                                .info-container {
                                    height: 60px;
                                    overflow: hidden;
                                    position: relative;
                                    border-radius: 5px;
                                    padding: 10px;
                                    box-shadow: inset 0 0 10px rgb(13 110 253 / 60%);
                                    margin-bottom: 8px;

                                    p {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .row-container {
                                    text-align: initial;

                                    span {
                                        line-height: 24px;

                                        &.icon-container {
                                            text-align: center;

                                            i {
                                                font-size: 16px;
                                                margin-right: 0;

                                                &:before {
                                                    vertical-align: middle;
                                                    position: relative;
                                                    top: -2px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .prefs-container {
                                    height: 50px;

                                    .prefs {
                                        font-size: 11px;

                                        i {
                                            font-size: 12px;

                                            &:before {
                                                vertical-align: middle;
                                                position: relative;
                                            }
                                        }
                                    }
                                }

                                .rating-container {
                                    text-align: center;
                                    height: 24px;

                                    .rating-stars {
                                        i {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pagination-container {
    z-index: 1;
    position: absolute;
    left: 0;
    background: transparent;
    right: 0;
    text-align: center;
    bottom: 80px;

    .container-inner {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        background: #fff;
        height: 60px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
        box-shadow: 0 -1px 5px 5px rgb(0 0 0 / 26%);

        .ngx-pagination {
            padding: 0;
            margin: 0;
            text-align: center;

            .current {
                border-radius: 5px;
                background: @ui-color-2;
            }

            a:hover {
                background: none;
                color: @ui-color-2;
                font-weight: bold;
                text-decoration: wavy;
            }
        }
    }
}

.reviews {
    .links {
        display: block;

        &:first-child {
            margin-bottom: 10px;
        }
    }

    .write-review {
        .collapsable-container {
            // height: 300px;

            &.closed {
                max-height: 0;
                padding: 0;
            }

            .button-container {
                margin-bottom: 15px;

                .btn-submit {
                    margin: 0;

                    .mat-icon {
                        height: 30px;
                        width: 30px;
                        font-size: 18px;
                        line-height: 1;
                        padding: 3px;
                        border: 3px solid #fff;
                    }
                }
            }
        }

        .servs {
            font-weight: @font-medium;
            color: @ui-color-2;
        }

        .rating {
            float: left;
            margin-right: 10px;

            &:not(:checked) {
                >input {
                    position: absolute;
                    top: -9999px;
                    clip: rect(0, 0, 0, 0);
                }

                >label {
                    float: right;
                    width: 20px;
                    padding: 0.1em;
                    overflow: hidden;
                    white-space: nowrap;
                    cursor: pointer;
                    font-size: 22px;
                    line-height: 0.75;
                    color: #b1b1b1;
                    -webkit-text-stroke: 1px #848484;

                    &:before {
                        content: '★';
                    }

                    &:hover,
                    &:hover~label {
                        color: #fde16d;
                    }
                }
            }

            >input {
                &:checked {
                    ~label {
                        color: #fde16d;
                        -webkit-text-stroke: 1px orange;

                        &:hover,
                        &:hover~label {
                            color: #e4bd22;
                            -webkit-text-stroke: 1px red;
                        }
                    }
                }
            }

            >label {
                &:hover {
                    ~input {
                        &:checked {
                            ~label {
                                color: #ea0;
                                -webkit-text-stroke: 1px red;
                            }
                        }
                    }
                }
            }

            &-text {
                position: relative;
                font-weight: @font-medium;
                color: @ui-color-2;
                margin-top: 11px;
                font-size: 16px;
                margin-right: 10px;
            }
        }

        .NgxEditor__Wrapper {
            margin-bottom: 15px;

            .NgxEditor__MenuBar {
                background: @ui-color-2;

                .NgxEditor__MenuItem {
                    .NgxEditor__MenuItem--IconContainer {
                        svg {
                            fill: #fff;
                        }
                    }

                    &:hover {
                        .NgxEditor__MenuItem--IconContainer {
                            svg {
                                fill: @text-color;
                            }
                        }
                    }
                }
            }

            .NgxEditor {
                min-height: 100px;
            }
        }
    }

    .score {
        &-container {
            .score-rating-stars {
                .ratings {

                    .empty-stars,
                    .full-stars {
                        &:before {
                            font-size: 26px;
                        }
                    }
                }

                .rating-text {
                    margin-left: 10px;
                }
            }
        }
    }

    .reviews-list {
        &-container {
            .review-item {
                margin-bottom: 15px;

                .reviewer {
                    left: 15px;
                    position: relative;
                    // top: -19px;
                    padding: 5px 10px 0;
                    background: #fff;
                    border-radius: 5px 5px 0 0;
                    box-shadow: 0 0 10px rgb(13 110 253 / 60%);
                    background: #0000f6;
                    color: #fff;
                }

                hr {
                    margin: 1px 0;
                }
            }

            .review-content-container {
                position: relative;
                top: -3px;
                padding: 5px 10px;
                max-height: 120px;
                min-height: 120px;
                overflow: hidden;
                transition: max-height ease-in-out 0.5s;
                border-radius: 5px;
                box-shadow: 0 0 10px rgb(13 110 253 / 60%);
                border: 1px solid #0000f6;

                .button-container {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    width: 30px;
                    height: 30px;

                    .btn-delete {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        right: 0;

                        i {
                            margin: 0;
                            font-size: 18px;
                            line-height: 1;
                            color: @ui-color-2;
                            &:before {
                                top: 12%;
                                position: relative;
                            }
                        }
                    }
                }

                .rating {
                    display: block;

                    &-date {
                        font-size: 10px;
                        display: block;
                    }

                    .ratings {

                        .empty-stars,
                        .full-stars {
                            &:before {
                                font-size: 20px;
                            }
                        }
                    }

                    &-text {
                        color: @ui-color-2;
                        font-weight: @font-medium;
                        font-size: 10px;
                        vertical-align: top;
                    }
                }

                &.open {
                    max-height: 1000px;
                }

                .review-content-text {
                    padding-bottom: 40px;

                    .service-ratings {
                        .service-item {
                            &.name {
                                display: inline-block;
                                font-weight: @font-medium;
                                color: @ui-color-2;
                                font-size: 12px;
                            }

                            &.ratings {
                                margin-right: 10px;

                                .empty-stars,
                                .full-stars {
                                    &:before {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .read-more_container {
                text-align: center;
                position: absolute;
                width: 100%;
                display: inline-block;
                box-shadow: 0 -4px 5px 1px rgb(255 255 255);
                bottom: 0;
                left: 0;
                right: 0;
                background: #FFF;

                .read-more {
                    -webkit-appearance: none;
                    background-color: #fff;
                    border: none;
                    color: @ui-color-2;
                    font-weight: @font-medium;
                    padding: 8px 6px;
                    position: relative;

                    .fas {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0;

                        &.fa-angle {
                            &-up {
                                top: -5px;
                            }

                            &-down {
                                bottom: -5px;
                            }
                        }
                    }

                }
            }
        }
    }
}

.mat-dialog-content {
    .form-container {
        max-height: 80vh;
        overflow: auto;

        form {
            margin-right: 10px;
            .card {
                margin-bottom: 15px;
            }
        }
    }
}

.custom-modalbox {
    .mat-dialog-container {
        max-width: 600px;
        max-height: 530px;
        border: 1px solid rgba(13, 110, 253, 0.6);
        box-shadow: 0px 3px 14px 0px rgb(13 110 253 / 60%);
        overflow-y: auto;
        background: #fff;
        color: @text-color;

    }
}

// Responsive

@media (min-width: @responsive_breakpoint) {
    .user-details {
        .card {
            &-user {
                &.intro {
                    .card {
                        &-body {
                            .button-container {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .mat-tab-label {
        min-width: 143px !important;
    }
}

@media (max-width: @responsive_breakpoint ) {

    .body-container {
        .content-container {
            padding-bottom: 100px;
            max-width: calc(100vw - 12px);

            .profile-view {
                .card-user {
                    &.intro {
                        .card-body {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .card {
        &-user {
            &.intro {
                .card {

                    &-header,
                    &-body,
                    &-footer {
                        width: 100%;
                    }

                    &-body {
                        width: 100%;
                        // text-align: center;

                        .author {
                            max-width: 322px;
                            max-height: 322px;
                            display: inline-block;

                            img {
                                width: 100%;
                                min-width: 100%;
                                max-width: 100%;
                                max-height: 322px;

                                &.img-overlay {
                                    width: 60px;
                                    min-width: auto;
                                    max-width: auto;
                                }
                            }
                        }

                        .button-container {
                            display: inline-block;
                            width: calc(~'100% - 342px');
                            margin-left: 20px;
                            vertical-align: top;
                            text-align: initial;

                            h5 {
                                font-size: 14px;
                                color: @ui-color-2;
                                font-weight: @font-medium;

                                .icon-container {
                                    text-align: center;
                                }
                            }

                            .prefs {
                                h5 {
                                    font-size: 12px;
                                    margin-bottom: 0;

                                    .icon-container {
                                        i {
                                            font-size: 16px;

                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-footer {
                        display: none;
                    }
                }
            }
        }
    }

    .body-container {
        .nav-filter-container {
            .breadcrumbs-container {
                height: 30px;
                padding-left: 0;

                .breadcrumbs {
                    padding: 10px 10px 0;
                }
            }
        }
    }

    .users {
        height: calc(~'100vh - 330px');

        &-filters {
            .filters-container {
                .inner-container {
                    overflow-y: scroll;

                    .container {
                        .filter-options {
                            &:nth-child(n+2) {
                                margin-top: 10px;
                            }

                            &.services {
                                .labels-container {
                                    max-height: 90px;
                                }
                            }

                            &_option {
                                font-size: 14px;

                                .mat-checkbox-inner-container {
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 5px;
                                }
                            }

                            &_age {
                                .age-slider-label-container {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .card {
        &-user {
            &.intro {
                position: relative;
                max-width: initial;
            }
        }

        .card-body {
            .author {
                display: inline-block;

                img {
                    width: auto;
                    min-width: auto;
                }
            }

            // .title-container {
            //     display: none;
            // }
        }
    }

    .users {
        .user-item {
            .card {
                &-footer {
                    display: block;
                }
            }
        }
        &.grid {
            .users-container {
                .user-item {
                    .card-user {
                        .card-footer {
                            .rating-container {
                                .icon-container {
                                    &:first-child {
                                        text-align: left;
                                    }
                                    &:last-child {
                                        text-align: right;
                                    }
                                }

                                .rating-stars {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    body .body-container>.container {
        padding: 0;
        overflow-x: hidden;
        margin-top: 40px;

        main {
            margin-top: 0;

            .content {
                padding: 0 0 20px 0;
            }
        }
    }

    .profile-view,
    .user-details {
        .mat-tab-group {
            max-height: 100%;
        }

        .mat-tab-body-content {
            > div {
                margin-right: 0;
    
                &.addAdvert {
                    .card-body {
                        text-align: center;
                    }
                }
            }
        }

        .mat-checkbox-layout {
            white-space: normal !important;
            margin-right: 5px;
        }
    }

    .user-details {
        .mat-tab-body-content>div {

            .card-body {
                .title-container {
                    display: none;
                }
            }
        }
    }

    .mat-checkbox-inner-container {
        margin-top: 4px !important;
    }

    .mat-tab-body-wrapper {
        .mat-tab-body-content {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;

                &.img-overlay {
                    width: 60px;
                }
            }
        }
    }

    .mat-dialog-content {
        &.childDialog {
            // overflow: auto !important;
            .mat-tab-body-wrapper {
                // margin-right: 10px;
                .mat-tab-body-content {
                    max-width: 95vw;
                    width: 100%;
                    overflow: auto;
                    > div {
                        margin-right: 10px
                    }
                }
            }
            // > form {
            //     margin-right: 10px;
            // }
        }
        &.employeeDetailsDialog {
            overflow: auto !important;
            max-height: 65vh !important;

            .mat-tab-body-wrapper {
                height: unset !important;
            }
        }
    }

    .advert-list {
        &_container {
            .user-item {
                .card-user {
                    &.intro {
                        .card-header {
                            max-height: 45px;
                            h3 {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                position: relative;
                                display: block;
                                overflow: hidden;
                                font-size: 14px;
                            }
                        }
                        .card-body {
                            padding: 0;
                            .author {
                                max-height: 150px;
                                border-radius: 0;
                                .compat-object-fit {
                                    min-height: 148px;

                                    .img-overlay {
                                        width: 40px;
                                        top: -23px;
                                    }
                                }
                            }
                        }

                        .card-footer {
                            margin-top: -6px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {

    .body-container {

        // .content-container {
        //     padding-bottom: 30px;
        // }
        .nav-filter-container {
            // position: relative;

            .nav-main {
                .nav-items {
                    padding: 0;
                }
            }

            .breadcrumbs-container {
                padding-left: 0;
                height: 30px;

                .breadcrumbs {
                    padding: 5px 10px;
                }
            }
        }

        .user-details {
            .intro {
                .card-body {
                    .button-container {
                        display: none;
                    }
                }

                .card-footer {
                    display: block;
                }
            }

            .mat-tab-body-content>div {

                .card-body {
                    .title-container {
                        display: block;
                    }
                }

            }

            .card.card-user-details .card-body .prefs {
                font-size: 11px;
            }
        }
    }

    .bestands-selectie {
        .file-upload {
            flex-direction: column;
        }
    }

    .files-list {
        .file-item {
            height: 322px;
        }
    }

    .filter-container {
        .filter {
            .filter-inner-container {
                .search-container {
                    .container-inner {
                        width: 100%;
                    }

                    &.open {
                        width: 100%;
                    }
                }

                .grid-view-container {
                    display: none;
                }
            }
        }
    }

    .users {
        max-height: none;
        height: calc(~'100vh - 325px');
        padding: 20px 0 45px 10px;

        &.grid {
            .tile-routing {
                text-decoration: none;
            }

            .card-user {
                .card {
                    &-header {
                        .card-title {
                            padding-right: 15px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &-footer {
                        .user {
                            margin: 0;
                            height: 20px;
                            width: 100%;
                            font-size: 12px;
                        }

                        hr {
                            margin: 5px 0;
                        }

                        .button-container {
                            h5 {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .user-item {
                a {
                    .card-user {
                        .card {
                            &-footer {
                                .rating-container {
                                    .icon-container {
                                        i, span {
                                            font-size: 12px;
                                        }
                                    }

                                    .rating-stars {
                                        .ratings {
                                            margin-right: 3px;
                                            
                                            .empty-one-star,
                                            .full-one-star {
                                                &:before {
                                                    font-size: 12px;
                                                }
                                            }
                                        }

                                        .rating-text {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.list {
            .user-item {
                a {
                    .card-user {
                        .card {
                            &-body {
                                .list-view-container {
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    .prefs-container {
                                        display: none !important;

                                        .prefs {
                                            height: 15px;
                                        }
                                    }

                                    .user_options_title {
                                        font-size: 13px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }

                                    .details-container {
                                        .row-container {
                                            .show-year {
                                                display: none;
                                            }

                                            span:nth-child(2) {
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-filters {
            .filters-container {
                .filter-container {
                    .search-container {

                        &.open {
                            width: 100%;
                        }

                        .container-inner {
                            width: 100%;
                        }
                    }
                }

                .inner-container {
                    left: -60px;
                    right: -60px;
                    overflow-y: scroll;

                    .container {
                        .labels-container {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }

    .pagination-container {
        bottom: 90px;

        .container-inner {
            height: 45px;
        }
    }

    .content:not(&.profile-view):not(&.user-view) {
        .card-user {
            &.intro {
                .card-body {
                    .author {
                        max-width: 100%;
                        width: 100%;
                        min-height: 175px;
                        max-height: 175px;
                    }
                }
            }
        }
    }

    .reviews {
        .write-review {
            .servs {
                display: block;
                clear: both;
            }
        }

        .reviews-list-container {
            .review-content-container {
                .review-content-text {
                    .service-ratings {
                        .service-item {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    //  Mat Tab
    .profile-view .mat-tab-group,
    .user-details .mat-tab-group {
        max-width: 415px;
    }

    .advert-profile-view,
    .employee-details-view {
        overflow: auto;
        max-height: 80vh;

        .mat-tab-group {
            max-height: initial;

            .mat-tab-body-wrapper {
                height: initial !important;
                .mat-tab-body-content {
                    overflow: hidden;
                    
                    > div {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .employeeDetailsDialog {
        .employee-details-view {
            .card-user {
                &.intro {
                    .card-body {
                        .button-container {
                            display: block;
                            width: 100%;
                            margin-left: 0;

                            .btn-showPhone {
                                margin: 0 auto;
                                position: relative;
                                left: calc((~'100% - 180px')/2);
                            }
                        }
                    }
                }
            }
        }
    }

    .childDialog {
        width: 95vw !important;
    }
}

