@import './variables';

.body-container {
    height: 100vh;
}

.users {
    .card {
        &-user {
            .card {
                &-footer {
                    .button-container {
                        display: grid;
                        display: -ms-grid;
                        grid-template-columns: repeat(2, 1fr);
                        -ms-grid-columns: 1fr 1fr;
                        column-gap: 10px;
                        -ms-column-gap: 10px;
                    }
                }
            }
        }
    }
}

.user-details {
    .card {
        &-user {
            .card-footer {
                .button-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: repeat(3, 1fr);
                    -ms-grid-columns: 1fr 1fr 1fr;
                    grid-template-rows: 44px auto auto;
                    -ms-grid-rows: 44px auto auto;
                    column-gap: 10px;
                    -ms-column-gap: 10px;

                    hr {
                        grid-row: 2;
                        grid-column: ~'1 / -1';
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                    }
                    .btn {
                        grid-row: 3;
                        grid-column: ~'1 / -1';
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        margin: 0 auto;
                        margin-bottom: 10px;
                    }
                }
            }

            &-details {
                .card-body {
                    .preferences {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                    }
                    
                    .reviews {
                        .write-review {
                            .base-rating_container,
                            .servs-ratings_container {
                                display: grid;
                                display: -ms-grid;
                                grid-template-columns: repeat(2, 1fr);
                                -ms-grid-columns: 1fr 1fr;
                                column-gap: 15px;
                                margin-bottom: 15px;
                                row-gap: 10px;
                            }
                        }

                        .reviews-list {
                            .review-content-text {
                                .service-ratings {
                                    display: grid;
                                    display: -ms-grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    -ms-grid-columns: 1fr 1fr;
                                    grid-column-gap: 15px;
                                    column-gap: 15px;
                                    row-gap: 10px;
                                    grid-row-gap: 10px;
                                }
                            }
                        }
                    }

                    .days-container {
                        .days-container-inner {
                            display: inline-grid;
                            display: -ms-inline-grid;
                            row-gap: 5px;
                            
                            .a-days {
                                display: grid;
                                display: -ms-grid;
                                grid-template-columns: 80px 135px;
                                column-gap: 10px;
                                row-gap: 10px;
                                
                                .user_options-title {
                                    grid-column: 1;
                                    -ms-grid-column: 1;
                                }

                                .a-times {
                                    grid-column: 2;
                                    -ms-grid-column: 2;
                                }
                            }
                        }
                    }
                }

                &.advert-list {
                    .card-user {
                        .card-footer {
                            .bottom-container {
                                .prefs-container {
                                    ul {
                                        display: grid;
                                        display: -ms-grid;
                                        grid-template-columns: 1fr 1fr;
                                        -ms-grid-columns: 1fr 1fr;
                                        grid-template-rows: 20px 20px 20px;
                                        -ms-grid-rows: 20px 20px 20px;
                                        column-gap: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.users-filters {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 5px 45px 1fr 45px 5px;
    -ms-grid-columns: 5px 45px 1fr 5px;
    column-gap: 10px;

    .button-container {
        grid-column: 2;
        -ms-grid-column: 2;
    }

    .filters-container {
        grid-column: 3;
        -ms-grid-column: 3;

        .inner-container {
            .container {
                display: -ms-grid;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                -ms-grid-columns: 1fr 1fr 1fr;
                column-gap: 10px;
                row-gap: 10px;

                .filter-options {
                    display: -ms-grid;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    -ms-grid-columns: 1fr 1fr 1fr 1fr;
                    column-gap: 10px;
                    grid-template-rows: 25px auto;

                    &_title {
                        grid-row: 1;
                        grid-column: ~'1 / -1';
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 4;
                    }

                    &_age {
                        grid-row: 2;
                        -ms-grid-row: 2;
                        grid-column: ~'1 / -1';
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 4;
                        display: grid;
                        display: -ms-grid;
                        grid-template-columns: 30px 1fr 30px;
                        .age-slider-label-container {
                            grid-row: 2;
                            -ms-grid-row: '2';
                            grid-column: ~'1 / -1';
                            -ms-grid-column: 1;
                            -ms-grid-column-span: 3;
                        }
                        .age-slider {
                            grid-row: 2;
                            -ms-grid-row: 2;
                            grid-column: 2;
                            -ms-grid-column: 2;
                        }
                    }

                    &.languages {
                        grid-template-rows: 25px 20px auto;
                        -ms-grid-rows: 25px 20px auto;
                    }

                    &.services {
                        grid-template-columns: 1fr;
                        -ms-grid-columns: 1;
                        grid-column: 1 / 3;

                        .labels-container {
                            display: grid;
                            display: -ms-grid;
                            grid-template-columns: repeat(6, 1fr);
                            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
                        }
                    }
                }
            }
        }

        .filter-container {
            grid-row: 1;
            -ms-grid-row: 1;
            grid-column: 1;
            -ms-grid-column: 1;
            display: grid;
            display: -ms-grid;
            grid-template-rows: 35px;
            -ms-grid-rows: 35px;
            -ms-grid-columns: 60px 1fr;
            grid-template-columns: 60px 1fr;
            column-gap: 10px;

            .button-container {
                grid-column: 1;
                -ms-grid-column: 1;
            }
        }
    }
    .grid-view-container {
        grid-column: 4;
        -ms-grid-column: 4;
    }
}

.advert-profile-view {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 300px 20px 1fr;
    -ms-grid-columns: 300px 20px 1fr;
    
    .intro {
        grid-column: 1;
        -ms-grid-column: 1;
    }
    .mat-tab-group {
        grid-column: 3;
        -ms-grid-column: 3;
    }
}


@media (min-width: @responsive_breakpoint) {
    .body-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: calc(~'50% - (@{container} / 2)') 40px 1fr 40px calc(~'50% - (@{container} / 2)');
        -ms-grid-rows: 115px 10px auto 160px;
        grid-template-columns: calc(~'50% - (@{container} / 2)') 40px 1fr 40px calc(~'50% - (@{container} / 2)');
        grid-template-rows: 115px 10px auto 260px;
    
        .nav-filter-container {
            grid-row: 1;
            -ms-grid-row: 1;
            grid-column: ~'1 / -1';
            -ms-grid-column: 1;
            -ms-grid-column-span: 5;
            display: -ms-grid;
            display: grid;
            grid-template-rows: 55px 50px 3px;
            -ms-grid-rows: 55px 50px 3px;
            grid-template-columns: calc(50% - (1250px / 2)) 40px 90px 1fr 40px calc(50% - (1250px / 2));
            -ms-grid-columns: calc(50% - (1250px / 2)) 40px 90px 1fr 40px calc(50% - (1250px / 2));
            
            .nav-container {
                grid-row: ~'1 / -1';
                -ms-grid-row: 1;
                grid-column: ~'1 / -1';

                .nav-main {
                    display: -ms-grid;
                    display: grid;
                    -ms-grid-columns: calc(~'50% - (@{container} / 2)') 40px 90px 1fr 1fr 40px calc(~'50% - (@{container} / 2)');
                    grid-template-columns: calc(~'50% - (@{container} / 2)') 40px 90px 1fr 1fr 40px calc(~'50% - (@{container} / 2)');
                    
        
                    .nav {
                        &-logo {
                            grid-column: 3;
                            -ms-grid-column: 3;
                        }
        
                        &-items {
                            &.left {
                                grid-column: 4;
                                -ms-grid-column: 4;
                            }
        
                            &.right {
                                grid-column: 5;
                                -ms-grid-column: 5;
                            }
                        }
                    }
                }
            }

            .breadcrumbs-container {
                grid-row: 2;
                -ms-grid-row: 2;
                grid-column: 4;
                -ms-grid-column: 4;
            }

            .deco-bar {
                grid-row: 3;
                -ms-grid-row: 3;
                grid-column: ~'1 / -1';
            }
        }
        
        .content-container {
            width: 100%;
            grid-row: 3;
            -ms-grid-row: 3;
            grid-column: 3;
            -ms-grid-column: 3;

            .user-details,
            .profile-view {
                display: grid;
                display: -ms-grid;
                grid-template-columns: 300px 20px 1fr;
                -ms-grid-columns: 300px 20px 1fr;
                
                .intro {
                    grid-column: 1;
                    -ms-grid-column: 1;
                }
                .mat-tab-group {
                    grid-column: 3;
                    -ms-grid-column: 3;
                }
            }
        }
    
        .footer-container {
            grid-row: 4;
            -ms-grid-row: 4;
            grid-column: ~'1 / -1';
            -ms-grid-column: 1;
            -ms-grid-column-span: 5;
    
            display: grid;
            display: -ms-grid;
    
            -ms-grid-columns: calc(~'50% - (@{container} / 2)') 40px 1fr 40px calc(~'50% - (@{container} / 2)');
            grid-template-columns: calc(~'50% - (@{container} / 2)') 40px 1fr 40px calc(~'50% - (@{container} / 2)');
            -ms-grid-rows: 3px 10px auto;
            grid-template-rows: 3px 10px auto;

            .deco-bar {
                grid-row: 1;
                -ms-grid-row: 1;
                grid-column: ~'1 / -1';
                -ms-grid-column: 1;
                -ms-grid-column-span: 5;
            }
    
            #footer {
                grid-column: 3;
                -ms-grid-column: 3;
                grid-row: 3;
                -ms-grid-row: 3;
            }
        }
    }

    .mat-dialog-content {
        .user-details {
            display: grid;
            display: -ms-grid;
            grid-template-columns: 300px 20px 1fr;
            -ms-grid-columns: 300px 20px 1fr;
            
            .intro {
                grid-column: 1;
                -ms-grid-column: 1;
            }
            .mat-tab-group {
                grid-column: 3;
                -ms-grid-column: 3;
            }
        }
    }

    .users {
        &.grid {
            .users-container {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(4, calc(~'(100% - 70px) / 4'));
                -ms-grid-columns: calc(~'(100% - 70px) / 4') calc(~'(100% - 70px) / 4') calc(~'(100% - 70px) / 4') calc(~'(100% - 70px) / 4');
                column-gap: 20px;
                grid-template-rows: auto;
                -ms-grid-rows: auto;
                row-gap: 20px;

                .user-item {
                    .card-user {
                        .card-footer {
                            .rating-container {
                                display: grid;
                                display: -ms-grid;
                                grid-template-columns: repeat(3, 33.33%);
                                -ms-grid-columns: 33.33% 33.33% 33.33%;
                                
                                .icon-container {
                                    &:first-child {
                                        grid-column: 1;
                                        -ms-grid-column: 1;
                                    }
                                    &:last-child {
                                        grid-column: 3;
                                        -ms-grid-column: 3;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.list {
            .users-container {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(2, calc(~'(100% - 30px) / 2'));
                -ms-grid-columns: 1fr 1fr;
                column-gap: 20px;
                grid-template-rows: auto;
                -ms-grid-rows: auto;
                row-gap: 20px;

                .user-item {
                    .card-user {
                        .card-body {
                            display: grid;
                            display: -ms-grid;
                            grid-template-columns: 165px 1fr;
                            -ms-grid-columns: 165px 1fr;
                            column-gap: 20px;

                            .author {
                                grid-column: 1;
                                -ms-grid-column: 1;
                            }
                            .list-view-container {
                                grid-column: 2;
                                -ms-grid-column: 2;
                                .details-container {
                                    display: grid;
                                    display: -ms-grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    -ms-grid-columns: 1fr 1fr;
                                    column-gap: 10px;
                                    .row-container {
                                        display: grid;
                                        display: -ms-grid;
                                        grid-template-columns: 24px 1fr;
                                        -ms-grid-columns: 24px 1fr;
                                        column-gap: 5px;
                                        grid-template-rows: 24px;
                                        -ms-grid-rows: 24px;
                                    }

                                    
                                }
                                .prefs-container {
                                    grid-column: ~'1 / 3';
                                    -ms-grid-column: 1;
                                    -ms-grid-column-span: 2;

                                    display: grid;
                                    display: -ms-grid;
                                    grid-template-columns: repeat(3, auto);
                                    grid-template-rows: auto;
                                    -ms-grid-columns: auto auto auto;
                                    column-gap: 10px;
                                }
                            }
                        }
                        .card-footer {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .user-details {
        .card-user-details {
            .user-info {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(2, 1fr);
                -ms-grid-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 10px;
                row-gap: 10px;

                .user-info-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 120px 1fr;
                    -ms-grid-columns: 120px 1fr;
                    column-gap: 10px;
                    
                    .user_options-title {
                        grid-column: 1;
                        -ms-grid-column: 1;
                    }

                }
            }

            .services-container {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(3, 1fr);
                -ms-grid-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                -ms-grid-rows: auto;
                row-gap: 3px;
            }

            .cost-container {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(3, 1fr);
                -ms-grid-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                -ms-grid-rows: auto;
                column-gap: 10px;
                row-gap: 10px;

                .cost-container-inner {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 75px 1fr;
                    -ms-grid-columns: 75px 1fr;
                    column-gap: 10px;

                    .user_options_title {
                        grid-column: 1;
                        -ms-grid-column: 1;
                    }

                    .inner-data {
                        grid-column: 2;
                        -ms-grid-column: 2;
                    }
                }
            }
        }
    }

    .photos-list {
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns:  1fr 1fr 1fr;
        grid-auto-rows: auto;
        -ms-grid-rows: auto;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .files-list {
        padding: 0 10px 10px; 
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        grid-auto-rows: auto;
        -ms-grid-rows: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .video-list {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        -ms-grid-columns: 1fr 1fr;
        grid-auto-rows: auto;
        -ms-grid-rows: auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .advert-list {
        &_container {
            display: grid;
            display: -ms-grid;
            grid-template-columns: repeat(3, 1fr);
            -ms-grid-columns: 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;
        }
    }
    
}

@media (max-width: @responsive_breakpoint) {
    .body-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5px 1fr 5px;
        -ms-grid-rows: 160px 10px 25px 90px auto 5px 160px;
        grid-template-columns: 5px 1fr 5px;
        grid-template-rows: 160px 10px 25px 90px auto 5px 160px;

        .nav-filter-container {
            grid-row: 1;
            -ms-grid-row: 1;
            grid-column: ~'1 / -1';
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
            display: -ms-grid;
            display: grid;
            grid-template-rows: 110px 10px 30px 20px 3px;
            -ms-grid-rows: 110px 10px 30px 20px 3px;
    
    
            .nav-main {
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 5px 1fr 1fr 5px;
                grid-template-columns: 5px 1fr 1fr 5px;
                grid-template-rows: 90px 20px;
                -ms-grid-rows: 90px 20px;
                
    
                .nav {
                    &-logo {
                        grid-column: ~'2 / 4 ';
                        -ms-grid-column: 2;
                        -ms-grid-column-span: 2;
                        grid-row: 1;
                        -ms-grid-row: 1;
                    }
    
                    &-items {
                        &.left {
                            grid-row: 2;
                            -ms-grid-row: 2;
                            grid-column: 2;
                            -ms-grid-column: 2;
                        }
    
                        &.right {
                            grid-row: 2;
                            -ms-grid-row: 2;
                            grid-column: 3;
                            -ms-grid-column: 3;
                        }
                    }
                }
            }
            .filter {
                grid-column: 2;
                -ms-grid-column: 2;
                .filter-inner-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 50px 1fr;
                    -ms-grid-columns: 50px 1fr;
                }
            }

            .breadcrumbs-container {
                grid-row: 3;
                -ms-grid-row: 3;
                display: -ms-grid;
                display: grid;
                grid-template-columns: 5px 1fr 5px;
                -ms-grid-columns: 5px 1fr 5px;

                .breadcrumbs {
                    grid-column: 2;
                    -ms-grid-column: 2;
                }
            }
            .deco-bar {
                grid-row: 5;
                -ms-grid-row: 5;
            }
        }
    
        .nav-container {
            grid-row: 1;
            -ms-grid-row: 1;
        }
    
        .filter-container {
            grid-row: 2;
            -ms-grid-row: 2;
            grid-column: ~'1 / -1';
            
            display: grid;
            display: -ms-grid;
            grid-template-rows: auto auto;
            -ms-grid-rows: auto auto;
            -ms-grid-columns: 10px 1fr 10px;
            grid-template-columns: 10px 1fr 10px;
    
            .filter-one {
                grid-column: 2;
                -ms-grid-column: 2;
                grid-row: 1;
                -ms-grid-row: 1;
            }
        }
    
        .content-container {
            grid-row: ~'4 / 6';
            -ms-grid-row: 4;
            -ms-grid-row-span: 2;
            grid-column: 2;
            -ms-grid-column: 2;

            .user-details {
                .intro {
                    .card-body {
                        .button-container {
                            h5 {
                                display: grid;
                                display: -ms-grid;
                                grid-template-columns: 25px 1fr;
                                -ms-grid-columns: 25 1fr;
                                column-gap: 7px;

                                .icon-container {
                                    grid-column: 1;
                                }
                            }
                            .prefs {
                                display: grid;
                                display: -ms-grid;
                                grid-template-columns: 50% 50%;
                                -ms-grid-columns: 50% 50%;
                            }
                        }
                    }
                }

                .user-info,
                .services-container,
                .cost-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: repeat(3, 1fr);
                    -ms-grid-columns: 1fr 1fr 1fr;
                    row-gap: 5px;
                    column-gap: 10px;
                }

                .user-info {
                    .user-info-container {
                        display: -ms-grid;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        -ms-grid-columns: 1fr 1fr;
                        column-gap: 3px;
                    }
                }
            }

            .users {
                &.grid {
                    .users-container {
                        display: grid;
                        display: -ms-grid;
                        grid-template-columns: repeat(2, calc(~'(100% - 15px)/2'));
                        -ms-grid-columns: 1fr 1fr;
                        column-gap: 15px;
                        row-gap: 15px;

                        .user-item {
                            .card-user {
                                .card {
                                    &-footer {

                                        .button-container {
                                            grid-template-columns: 1fr;
                                            -ms-grid-columns: 1fr;
                                        }

                                        .rating-container {
                                            display: grid;
                                            display: -ms-grid;
                                            grid-template-columns: 33.33% 33.33% 33.33%;
                                            -ms-grid-columns: 33.33% 33.33% 33.33%;

                                            .icon-container {
                                                &:first-child {
                                                    grid-column: 1;
                                                    -ms-grid-column: 1;
                                                }

                                                &:last-child {
                                                    grid-column: 3;
                                                    -ms-grid-column: 3;
                                                }
                                            }

                                            .rating-stars {
                                                grid-column: 2;
                                                -ms-grid-column: 2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.list {
                    .users-container {
                        display: grid;
                        display: -ms-grid;
                        grid-template-columns: 1fr;
                        -ms-grid-columns: 1fr;
                        row-gap: 15px;

                        .user-item {
                            .card-user {
                                .card-body {
                                    display: grid;
                                    display: -ms-grid;
                                    grid-template-columns: 165px 1fr;
                                    -ms-grid-columns: 165px 1fr;
                                    column-gap: 20px;
        
                                    .author {
                                        grid-column: 1;
                                        -ms-grid-column: 1;
                                    }
                                    .list-view-container {
                                        grid-column: 2;
                                        -ms-grid-column: 2;
                                        .details-container {
                                            display: grid;
                                            display: -ms-grid;
                                            grid-template-columns: repeat(2, 1fr);
                                            -ms-grid-columns: 1fr 1fr;
                                            column-gap: 10px;
                                            .row-container {
                                                display: grid;
                                                display: -ms-grid;
                                                grid-template-columns: 24px 1fr;
                                                -ms-grid-columns: 24px 1fr;
                                                column-gap: 5px;
                                                grid-template-rows: 24px;
                                                -ms-grid-rows: 24px;
                                            }
        
                                            
                                        }
                                        .prefs-container {
                                            grid-column: ~'1 / 3';
                                            -ms-grid-column: 1;
                                            -ms-grid-column-span: 2;
        
                                            display: grid;
                                            display: -ms-grid;
                                            grid-template-columns: repeat(3, auto);
                                            grid-template-rows: auto;
                                            -ms-grid-columns: auto auto auto;
                                            column-gap: 10px;
                                        }
                                    }
                                }
                                .card-footer {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &-filters {
                    .filters-container {
                        .inner-container {
                            .container {
                                display: block;
                                .filter-options {
                                    &.services {
                                        .labels-container {
                                            grid-template-columns: repeat(3, 1fr);
                                            -ms-grid-columns: 1fr 1fr 1fr;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .footer-container {
            grid-row: 5;
            -ms-grid-row: 5;
            grid-column: ~'1 / -1';
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
    
            display: grid;
            display: -ms-grid;
    
            -ms-grid-columns: 10px 1fr 10px;
            grid-template-columns: 10px 1fr 10px;
            grid-template-rows: 3px 1fr;
            -ms-grid-rows: 3px 1fr;

            .deco-bar {
                grid-row: 1;
                -ms-grid-row: 1;
                grid-column: ~'1 / -1';
                -ms-grid-column: 1;
                -ms-grid-column-span: 3;
            }
    
            #footer {
                grid-row: 2;
                -ms-grid-row: 2;
                grid-column: 2;
                -ms-grid-column: 2;
            }
        }
    }

    .photos-list {
        display: grid;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .files-list {
        padding: 10px;
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .advert-list {
        &_container {
            display: grid;
            display: -ms-grid;
            grid-template-columns: repeat(4, 1fr);
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}

@media (max-width: 425px) {

    .body-container {
        grid-template-rows: 158px 10px 20px auto 5px 0px;
        -ms-grid-rows: 158px 10px 20px auto 5px 0px;


        .nav-filter-container {
            grid-template-rows: 110px 5px 30px 10px 3px;
            -ms-grid-rows: 110px 5px 30px 10px 3px;

            .nav-main {
                grid-template-columns: 5px 47% 1fr 5px;
                -ms-grid-columns: 5px 47% 1fr 5px;
                grid-template-rows: 90px 20px;
                -ms-grid-rows: 90px 20px;
            }

            
        }

        .content-container {
            .users {
                &.grid {
                    .card-user {
                        .card-footer {
                            .button-container {
                                grid-template-columns: 1fr;
                                -ms-grid-columns: 1fr;
                                row-gap: 5px;
                            }
                        }
                    }
                }
                &.list {
                    .users-container {
                        .user-item {
                            .card-user {
                                .card {
                                    &-body {
                                        grid-template-columns: 90px 1fr;
                                        -ms-grid-columns: 90px 1fr;
                                        column-gap: 10px;

                                        .list-view-container {
                                            .prefs-container {
                                                grid-template-columns: 1fr 1fr;
                                                -ms-grid-columns: 1fr 1fr;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                
            }

            .user-details {
                .card-user {
                    &.intro {
                        .card-body {
                            text-align: center;
                        }
                    }
                }

                .user-info,
                .services-container,
                .cost-container {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: repeat(2, 1fr);
                    -ms-grid-columns: 1fr 1fr;
                    row-gap: 5px;
                }
            
                .user-info {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 1fr;
                    -ms-grid-columns: 1fr;
                    row-gap: 5px;
                    .user-info-container {
                        display: -ms-grid;
                        display: grid;
                        grid-template-columns: 130px 1fr;
                        -ms-grid-columns: 130px 1fr;
                        column-gap: 5px;
                    }
                }
            }
        }
    }

    .photos-list,
    .files-list {
        display: grid;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        row-gap: 20px;
        grid-template-columns: 1fr;
    }

    .advert-list {
        &_container {
            display: grid;
            display: -ms-grid;
            grid-template-columns: calc(~'(100% - 10px) / 2') calc(~'(100% - 10px) / 2');
            -ms-grid-columns: 50% 50%;
            column-gap: 10px;
            row-gap: 10px;
            
            .user-item {
                .card-user {
                    .card-footer {
                        .bottom-container {
                            .prefs-container {
                                ul {
                                    grid-template-columns: 1fr !important;
                                    -ms-grid-columns: 1fr !important;

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .advert-profile-view {
        grid-template-columns: 5px 1fr 5px;
        -ms-grid-columns: 5px 1fr 5px;

        .card-user {
            &.intro {
                grid-column: 2;
                -ms-grid-column: 2;
            }
        }

        .mat-tab-group {
            grid-column: 2;
            -ms-grid-column: 2;
        }
    }

    .users-filters {
        .filters-container {
            .inner-container {
                .filter-options-container {
                    .container {
                        display: block;

                        .filter-options {
                            &:nth-child(n+2){
                                margin-top: 10px;
                            }
                            &.origin {
                                grid-template-columns: repeat(3, 1fr);
                                -ms-grid-columns: 1fr 1fr 1fr;
                            }
                            &.services {
                                .labels-container {
                                    grid-template-columns: 1fr;
                                    -ms-grid-columns: 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}