a {
    text-decoration: none;
}

// Clearfix // Float clear
.clearfix() {
    *zoom: 1;

    &::before,
    &::after {
        display: table;
        border-spacing: 0;
        line-height: 0;
        content: '';
    }

    &::after {
        clear: both;
    }
}

.border_lr {
    border-left: 1px solid rgb(255 255 255 / 25%);
    border-right: 1px solid rgb(255 255 255 / 25%);
}

.border_b {
    border-bottom: 1px solid rgb(255 255 255 / 25%)
}

.btn {
    margin-top: 10px;
    transition: all 400ms;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    text-align: center;
    background: @ui-color-2_darken;
    color: @ui-color-1;
    border: 1px solid @ui-color-2_darken; 
    background-position: center;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(13,110,253,0.6); 
    box-shadow: 0px 3px 14px 0px rgba(13,110,253,0.6);
    &:hover {
        background: @ui-color-2 radial-gradient(circle, transparent 1%, @ui-color-2 1%) center/15000%;
        color: @ui-color-1;
        border-color: @ui-color-2;

        .mat-icon {
            color: @ui-color-2;
        }
    }
    &:active {
        background-color: @ui-color-2;
        background-size: 100%;
        transition: all 0s;
    }        
    
    .mat-icon {
        margin-right: 0;
        margin-right: 0;
        padding: 5px;
        background: #000;
        overflow: hidden;
        border-radius: 50%;
        border:4px solid white;
    }
}

.compat-object-fit {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 260px;
    position: relative;
    
    img {
        opacity: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        &.img-overlay {
            background: transparent;
            position: absolute;
            width: 60px;
            opacity: 1;
            height: auto;
            top: -35px;
            left: 0
        }
    }

    

    @media (max-width: 425px) {
        min-height: 175px;
    }
}

// Reset the default list styling
.reset-list(@margin: 0, @padding: 0) {
    list-style: none;
    margin: @margin;
    padding: @padding;
}

// Reset the list to remove all the ugly styles
.reset-btn(@background-color: transparent, @border: 0 none, @padding: 0) {
    background-color: @background-color;
    border: @border;
    padding: @padding;
    text-decoration: none;
}

// Vertical align center
.v-align() {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Material shadows
.shadow(@level: 0) {
    & when (@level =0) {
        box-shadow: none;
    }

    & when (@level =1) {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    & when (@level =2) {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 1px 5px rgba(0, 0, 0, 0.08);
    }

    & when (@level =3) {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.26), 0 1px 8px rgba(0, 0, 0, 0.08);
    }

    & when (@level =4) {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.26), 0 1px 10px rgba(0, 0, 0, 0.08);
    }

    & when (@level =5) {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.26), 0 3px 5px rgba(0, 0, 0, 0.08);
    }

    & when (@level =6) {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.26), 0 4px 15px rgba(0, 0, 0, 0.08);
    }

    & when (@level =7) {
        box-shadow: 0 9px 12px rgba(0, 0, 0, 0.26), 0 5px 6px rgba(0, 0, 0, 0.08);
    }

    & when (@level =8) {
        box-shadow: 0 12px 17px rgba(0, 0, 0, 0.26), 0 7px 8px rgba(0, 0, 0, 0.08);
    }

    & when (@level =9) {
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.26), 0 8px 10px rgba(0, 0, 0, 0.08);
    }

    & when (@level =10) {
        box-shadow: 0 24px 38px rgba(0, 0, 0, 0.26), 0 11px 15px rgba(0, 0, 0, 0.08);
    }

    & when (@level =11) {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    }
}

// Border radius
.border-rounded(@radiusTopLeft: 5px, @radiusTopRight: 5px, @radiusBottomRight: 5px, @radiusBottomLeft: 5px) {
    border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
    -webkit-border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
    -moz-border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
}

// rotate minimal
.transformRotate (@rotate: 90deg) {
    -webkit-transform: rotate(@rotate);
    -moz-transform: rotate(@rotate);
    -o-transform: rotate(@rotate);
    -ms-transform: rotate(@rotate);
    transform: rotate(@rotate);
}

.file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: 0;
}

.btn {
    &:focus,
    // &:hover,
    &:active {
        box-shadow: none;
    }

    &-file-select,
    &-upload,
    &-submit,
    &-delete {
        .mat-icon {
            height: 40px;
            width: 40px;
        }
        i {
            width: 30px;
            height: 30px;
        }
    }

    &-submit {
        margin-bottom: 20px;
    }

    &-delete {
        clear: both;
        position: absolute;
        bottom: 0;
        right: -5px;
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        
        .mat-icon {
            background: @ui-color-4;
            transition: all 0.5s ease-in-out;
            border-color: blue;
        }

        &:hover {
            background: transparent;

            .mat-icon {
                background: white;
                border-color: @ui-color-2;
            }
        }
    }

    &-close {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        top: 0;
        background: transparent;
        border: none;
        box-shadow: none;

        .mat-icon {
            background: transparent;
            transition: all 0.5s ease-in-out;
            padding: 0;
            width: 31px;
            height: 31px;
            opacity: 0.6;
        }
        &:hover {
            background: transparent;

            .mat-icon {
                background: @ui-color-4;
                border-color: @ui-color-2;
                transform: rotate(360deg);
                color: #fff;
                opacity: 1;
            }
        }
    }

    &-showHide {
        margin: 10px 0;
        min-width: 150px;
        text-align: left;
        box-shadow: 0px 3px 7px 0px rgb(13 110 253 / 60%);
        
        .fa-arrow-alt-circle-up,
        .fa-arrow-alt-circle-down {
            background: #000;
            // margin-top: -2px;
            line-height: 24px;
            border-radius: 50%;
        }
    }

    &-showPhone {
        width: 180px;

        .mat-icon {
            margin-right: 10px;
            transition: all 0.5s ease-in-out;
            width: 30px;
            height: 30px;
            padding: 0;
            border-width: 3px;
            font-size: 16px;
        }

        .right {
            text-align: right;
            width: 100px;
            display: inline-block;
        }

        &:hover {
            border-color: #fff;
        }

        &.open {
            .mat-icon {
                transform: rotate(45deg);
            }
        }
    }

    &-changeView {
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        width: 100%;
        height: 35px;
        text-align: center;

        .fas {
            margin-right: 0;
            line-height: 23px;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            background: transparent;
            
            .fas {
                color: @ui-color-2
            }
        }
    }

    &-search {
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        width: 100%;
        height: 35px;
        transition: all ease-in-out 0.5s;
        text-align: center;
        i  {
            margin: 0;
            font-size: 22px;
            line-height: 22px;

            &.far {
                font-size: 12px;
                transition: all ease-in-out 0.5s;
            }
        }

        &.open {
            i {
                &.fab {
                    color: @ui-color-2;
                }

                &.far {
                    transform: rotate(180deg);
                    color: @ui-color-2;
                }
            }
        }

        &:hover {
            background: transparent;
            color: @ui-color-2;

            i {
                &.fas {
                    background: transparent;
                    color: @ui-color-2;
                }

                &.far {
                    background: transparent;
                    color: @ui-color-2;
                    transform: rotate(180deg);
                }
            }
        }
        
    }

    &-clear {
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        width: 50px;
        height: 35px;
        transition: all ease-in-out 0.5s;
        text-align: center;
        color: @text-color;

        i {
            margin: 0;
            transition: all ease-in-out 0.5s;
        }

        &:hover {
            background: transparent;

            i {
                background: @ui-color-2;
                color: @ui-color-1;
                border-radius: 50%;
            }
        }
    }

    &-file-select {
        .mat-icon {
            transition: all ease-in-out 0.5s;
        }

        &:hover,
        &:active {
            .mat-icon {
                background: @ui-color-2;
                color: #fff;
            }
        }
        
    }

    &-showFilters {
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        height: 35px;
        transition: all ease-in-out 0.5s;
        text-align: center;
        color: @ui-color-1;

        i {
            margin: 0;
            transition: all ease-in-out 0.5s;

            &.far {
                font-size: 12px;
                line-height: 12px;
            }
        }

        &:hover {
            background: transparent;

            i {
                background: @ui-color-2;
                color: @ui-color-1;
                border-radius: 50%;

                &.fas {
                    background: transparent;
                    color: @ui-color-2;
                }

                &.far {
                    background: transparent;
                    color: @ui-color-2;
                    transform: rotate(180deg);
                }
            }
        }

        &.open {
            i {
                &.fas {
                    color: @ui-color-2;
                }
                &.far {
                    transform: rotate(180deg);
                    color: @ui-color-2;
                }
            }
        }
    }

    &-back {
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        height: 20px;
        transition: all ease-in-out 0.5s;
        text-align: center;
        color: @ui-color-1;
        
        i {
            -webkit-box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 40%); 
            box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 40%);
            transition: all ease-in-out 0.5s;
            border-radius: 50%;

            &.far {
                font-size: 12px;
                line-height: 12px;
            }

            &.fas {
                font-size: 20px;
                line-height: 20px;
            }
        }
        
        &:hover {
            background: transparent;
            text-decoration: underline;
            text-decoration-thickness: 4px;
            text-decoration-color: @ui-color-2;

            i {
                background: @ui-color-2;
                color: @ui-color-1;
                border-radius: 50%;

                &.fas {
                    background: transparent;
                    color: @ui-color-2;
                }

                &.far {
                    background: transparent;
                    color: @ui-color-2;
                    font-size: 12px;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.collapsable {
    .collapsable-container {
        transition: all ease-in-out 0.5s;
        border-radius: 5px;
        padding: 10px;
        -moz-box-shadow:    inset 0 0 10px rgb(13 110 253 / 60%);
        -webkit-box-shadow: inset 0 0 10px rgb(13 110 253 / 60%);
        box-shadow:         inset 0 0 10px rgb(13 110 253 / 60%);
        overflow: hidden;
    
        &.closed {
            max-height: 100px;
        }

        &.open {
            max-height: 1000px;
        }
    }
}

.toggler {
    text-align: center;
    color: @ui-color-2;
    display: block;

    .btn {
        .icon-container {
            float: right;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 0;
            transition: all ease-in-out 0.5s;
            overflow:hidden;
        }

        &.open {
            .icon-container {
                transform: rotateX(360deg);
            }
        }
        
    }
}

// scrollbars
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0px -5px 14px 10px rgba(13, 110, 253, 0.6);
    border-radius: 12px;
    border: 1px solid #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @ui-color-2;
    border-radius: 12px;
    border: 1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: @ui-color-2_darken;
}

/* Icons */
.fa-home {
    font-size: 22px;
}
.fa-user-edit {
    font-size: 20px;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 26px;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */

.full-one-star {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-one-star:before, .full-one-star:before {
    content:"\2605";
    font-size: 26px;
}
.empty-one-star:before {
    -webkit-text-stroke: 1px #848484;
}
.full-one-star:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */

.cdk-overlay-pane {
    max-width: 95vw !important;
}

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
    .full-one-star {
        color: #ECBE24;
    }
}
