@import './mixins';
@container: 1250px;
@responsive_breakpoint: 775px;

// Colors
@ui-color-1: #FFF;
// @ui-color-2: #0d6efd;
@ui-color-2: #0000f6;
@ui-color-3: rgb(49, 61, 76);
@ui-color-4: rgb(0, 0, 0);

@ui-color-1_darken: darken(@ui-color-1, 10%);
@ui-color-2_darken: darken(@ui-color-2, 10%);

@ui-color-1_lighten: lighten(@ui-color-1, 8%);
@ui-color-2_lighten: lighten(@ui-color-2, 20%);


@background-color: #fff;
@text-color: rgba(0,0,0,0.8);

@border-color: rgba(0, 0, 0, .1);

// Font definitions
@text-font: 'Roboto', sans-serif;
@header-font: @text-font;
@icon-font: 'Material Icons';

// Font weights
@font-thin: 100;
@font-light: 300;
@font-regular: 400;
@font-medium: 500;
@font-bold: 700;
@font-black: 900;

// Font size
@base-font-size: 14;
@rem: @base-font-size * 1rem; // Use {pixels} / @rem. e.g.: 25/@rem