<div class="breadcrumbs"  *ngIf="_router.url != '/dashboard'">
    <div class="breadcrumbs-inner-container" *ngIf="_router.url == '/user-details/'+user?.uid || _router.url !== '/home'">
        <div class="button-container full-width">
            <a routerLink="/home" routerLinkActive="active"><i class="fas fa-arrow-alt-circle-left"></i>Terug naar Overzicht</a>
        </div>
    </div>
</div>
